//footer logo overriding
.footer-logo{
    align-items: center;
    img{
        width: 80%;
    }

}
.social-links{
    justify-content: center;
}




// obi home
.hero-banner-and-obituaries {
    .heading-special {
        h2 {
            font-family: 'Parisienne', sans-serif;
            font-size: 200px;
            margin-top: -76px;
            @media screen and (max-width: 991px) {
                margin-top: -50px;
                font-size: 140px;
            }
        }
    }
}

// top bar
.top-bar-section {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

// menu overrides 
.menu-section-desktop {
    &.center-logo-top {
        .logo-wrapp, .logo-wrapp a {
            img {
                width: 375px;
                max-width: 375px;
            }
        }
    }
}
.mobile-menu .logo-wrapp {
    padding-top: 0;
}
.logo-wrapp, .logo-wrapp a, .logo-wrapp img, .logo-wrapp svg {
    max-width: 250px;
}

// welcome msg
@media (min-width: 992px) {
    .sec-welcome-msg .content-wrapper {
        align-items: flex-start;
    }
}


