.slider-auto {
    padding-top: 100px;
    @media (min-width: 992px) {
        padding-top: 175px;
    }
}

.menu-fixed {
    .slider-auto {
        @media (min-width: 992px) {
            padding-top: 100px;
        }
    } 
    .inner-banner-wrapper {
        @media (min-width: 992px) {
            padding-top: 100px;
        }
    }
}

// hero banner inner 
.inner-banner-wrapper {
    padding-top: 100px;
    @media (min-width: 992px) {
        padding-top: 145px;
    }
}



// tiles boxes
.sec-tile-boxes .text-with-details {
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
    }
}



// footer 
.sec-footer.footer-8 {
    background-color: #f3f0e1 !important;
}

.sec-footer.white .footer-logo img {
    max-width: 280px;
    width: 280px;
}

// menu
.mobile-menu {
    .logo-wrapp {
        padding-top: 0;
    }
    .logo-wrapp, .logo-wrapp a, .logo-wrapp img, .logo-wrapp svg {
        max-width: 75px;
    }
}
.menu-desktop-inner-3 .nav-links .main-nav-links > ul > li {
    padding: 0 12px;
}
.menu-desktop-inner-3 .nav-links .main-nav-links > ul {
    flex-wrap: wrap;
}