// customized _variables for mortuary co

// Color system

$white:              #fff !default;
$black:              #000 !default;

$primary:             #7e001f !default;
$secondary:          #ffb81f !default;
$bg-copy:             #f8f8fa;
$body-copy:         #2b2b2b;
$body-copy-dark:    #333333;





// Body
//
// Settings for the `<body>` element.
$body-bg:                   $white !default;
$body-color:                $black !default;


// Links
//
// Style anchor elements.

$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-hover-decoration:                   underline !default;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   0 !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 980px,
  xl: 1200px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30 !default;
$grid-row-columns:            6 !default;



// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-italianno:             'Italianno', 'cursive', serif;
$font-family-base:              'Lato', sans-serif;
 

// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

// $h1-font-size:                $font-size-base * 5.75 !default ;
// $h2-font-size:                $font-size-base * 3.75 !default;
// $h3-font-size:                $font-size-base * 3 !default;
// $h4-font-size:                $font-size-base * 2 !default;
// $h5-font-size:                $font-size-base * 1.5 !default;
// $h6-font-size:                $font-size-base * 1.25!default;

$headings-margin-bottom:      0 !default; 
$headings-font-family:        $font-family-base !default;
$headings-font-weight:        normal !default;
$headings-line-height:        1.2 !default;
$headings-color:              $primary !default;



$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

