// customized _variables for mortuary co

// Color system

$white:              #fff !default;
$black:              #000 !default;

$primary:             #131c52 !default;
$secondary:          #7a8395 !default;
$bg-copy:         #f4f5f9;
$body-copy: #666666;
$body-copy-dark: #333333;





// Body
//
// Settings for the `<body>` element.
$body-bg:                   $white !default;
$body-color:                $black !default;


// Links
//
// Style anchor elements.

$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   0 !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;
$grid-row-columns:            6 !default;



// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-rozha:             'Rozha One', 'Roboto', serif;
$font-family-base:            'Roboto', sans-serif;


// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

// $h1-font-size:                $font-size-base * 5.75 !default ;
// $h2-font-size:                $font-size-base * 3.75 !default;
// $h3-font-size:                $font-size-base * 3 !default;
// $h4-font-size:                $font-size-base * 2 !default;
// $h5-font-size:                $font-size-base * 1.5 !default;
// $h6-font-size:                $font-size-base * 1.25!default;

$headings-margin-bottom:      0 !default;
$headings-font-family:        $font-family-rozha !default;
$headings-font-weight:        normal !default;
$headings-line-height:        1.2 !default;
$headings-color:              $primary !default;



$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

