.mb-4 {
  margin-bottom: 2px !important;
  @media (min-width: 992px) {
    margin-bottom: 4px !important;
  }
}
.mb-6 {
  margin-bottom: 4px !important;
  @media (min-width: 992px) {
    margin-bottom: 6px !important;
  }
}
body {
  background: red ;
}
.mb-8 {
  margin-bottom: 4px !important;
  @media (min-width: 992px) {
    margin-bottom: 8px !important;
  }
}
.mb-9 {
  margin-bottom: 4px !important;
  @media (min-width: 992px) {
    margin-bottom: 9px !important;
  }
}
.mb-10 {
  margin-bottom: 5px !important;
  @media (min-width: 992px) {
    margin-bottom: 10px !important;
  }
}
.mb-11 {
  margin-bottom: 6px !important;
  @media (min-width: 992px) {
    margin-bottom: 11px !important;
  }
}
.mb-12 {
  margin-bottom: 6px !important;
  @media (min-width: 992px) {
    margin-bottom: 12px !important;
  }
}
.mb-14 {
  margin-bottom: 7px !important;
  @media (min-width: 992px) {
    margin-bottom: 14px !important;
  }
}
.mb-16 {
  margin-bottom: 12px !important;
  @media (min-width: 992px) {
    margin-bottom: 16px !important;
  }
}

.mb-18 {
  margin-bottom: 14px !important;
  @media (min-width: 992px) {
    margin-bottom: 18px !important;
  }
}

.mb-20 {
  margin-bottom: 14px !important;
  @media (min-width: 992px) {
    margin-bottom: 20px !important;
  }
}

.mb-22 {
  margin-bottom: 14px !important;
  @media (min-width: 992px) {
    margin-bottom: 22px !important;
  }
}

.mb-24 {
  margin-bottom: 16px !important;

  @media (min-width: 992px) {
    margin-bottom: 24px !important;
  }
}

.mb-26 {
  margin-bottom: 16px !important;
  @media (min-width: 992px) {
    margin-bottom: 26px !important;
  }
}

.mb-28 {
  margin-bottom: 16px !important;
  @media (min-width: 992px) {
    margin-bottom: 28 !important;
  }
}

.mb-30 {
  margin-bottom: 16px !important;
  @media (min-width: 992px) {
    margin-bottom: 30px !important;
  }
}

.mb-32 {
  margin-bottom: 20px !important;
  @media (min-width: 992px) {
    margin-bottom: 32px !important;
  }
}

.mb-34 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 32px !important;
  }
}

.mb-36 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 36px !important;
  }
}

.mb-40 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 40px !important;
  }
}

.mb-42 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 42px !important;
  }
}

.mb-46 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 46px !important;
  }
}

.mb-48 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 48px !important;
  }
}

.mb-50 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 50px !important;
  }
}

.mb-52 {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 52px !important;
  }
}

.mb-56px {
  margin-bottom: 24px !important;
  @media (min-width: 992px) {
    margin-bottom: 56px !important;
  }
}

.mb-60 {
  margin-bottom: 32px !important;
  @media (min-width: 992px) {
    margin-bottom: 60px !important;
  }
}

.mb-64 {
  margin-bottom: 32px !important;

  @media (min-width: 992px) {
    margin-bottom: 64px !important;
  }
}

.mb-72px {
  margin-bottom: 32px !important;
  @media (min-width: 992px) {
    margin-bottom: 72px !important;
  }
}

.mb-84 {
  margin-bottom: 48px !important;
  @media (min-width: 992px) {
    margin-bottom: 84px !important;
  }
}

.mb-102 {
  margin-bottom: 72px !important;
  @media (min-width: 992px) {
    margin-bottom: 102px !important;
  }
}
