/**
 * Basic typography style for copy text
 A solution for this problem is percentage. Usually default font-size of the browser is 16px.
 Setting font-size: 100% will make 1rem = 16px. But it will make calculations a little difficult.
 A better way is to set font-size: 62.5%. Because 62.5% of 16px is 10px. Which makes 1rem = 10px.
 CALCULATION: Element font size in rem x 16px;
 */

 // Body text
// -------------------------

// html {
//   font-size: 62.5%;
// }

body {
  letter-spacing: normal;
  line-height: 1.43;
  font-size: $font-size-sm ;
  font-weight: normal;
  font-family: $font-family-base;
  color: $text-color;
  @media (min-width: 992px) {
    font-size:  $font-size-base ; 
    line-height: 1.5;
  }
}


.container-xl {
  @media (min-width: 1200px) {
    max-width: 1640px;
  }
}


.sec-title{
  &.with-action {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    @media (min-width: 768px) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
    .sec-buttons{
      margin-top: 1rem;
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
  // shadow for headings
  &.text-shadow {
    h1,h2,h3,h4,h5,h6 {
        text-shadow: #00000073 0 0 4px;
    }
}
}

.sec-paragraph {
  // paragraph default settings
  p {
    letter-spacing: normal;
    line-height: 1.43;
    font-size: $font-size-sm;
    font-weight: normal;
    font-family: $font-family-base ;
    color: $text-color;
    margin: 0;
    @media (min-width: 992px) {
      font-size: $font-size-base;
      line-height: 1.5;
    }
  }
  p+p {
      margin-top: 1rem;
      @media (min-width: 992px) {
          margin-top: 1.5rem;
      }
  }
  // paragraph colors flexibility
  &.anchor-primary a{
    color: $primary !important;
  }
  &.anchor-secondary a{
    color: $secondary !important;
  }
  &.anchor-bold a{
    font-weight: bold !important;
  }

  &.light {
    p,
    a {
      color: $white;
    }
  }
  &.dark {
    p, a {
      color: $text-color-dark;
    }
  }
  &.black {
    p, a {
      color: $black;
    }
  }
  &.primary {
    p,
    a {
      color: $primary;
    }
  }
  &.secondary {
    p,
    a {
      color: $secondary;
    }
  }
  &.heading-font-family {
    p,
    a {
      font-family: $font-family-heading;
    }
  }
  &.italic p{
    font-style: italic;
  }
  // paragraph sizes
  &.bold {
    p {
      font-weight: bold;
    }
  }
  &.small p {
    font-size: 12px;
    line-height: 1.5;
    @media (min-width: 992px) {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  &.medium p {
    font-size: 16px;
    line-height: 1.43;
    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  &.big p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &.big-x p {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 24px;
      line-height: 1.5;
    }
  }
  &.big-xx p {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 30px;
      line-height: 1.33;
    }
  }
  &.font-35 p {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 35px;
      line-height: 1.33;
    }
  }
  &.font-32 p {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 32px;
      line-height: 1.33;
    }
  }
  &.heading-font-family {
    font-family: $font-family-heading;
  }
  
  &.blockquotes{
    padding: 10px 20px;
    padding-left: 1.5rem;
    &.border-light {
      border-left: solid 5px $white !important;
    }
    &.border-dark {
      border-left: solid 5px $btn-default !important;
    }
    &.border-black {
      border-left: solid 5px $black !important;
    }
    &.border-primary {
      border-left: solid 5px $primary !important;
    }
    &.border-secondary {
      border-left: solid 5px $secondary !important;
    }
  }
}
.sec-content-img{
  margin-bottom: 30px;
  @media (min-width: 768px) {
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  .cover{
    border-radius: 8px;
    img{
      border-radius: 8px;
    }
  }
}

.small-heading {
  p {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $black;
    margin: 0;
    font-weight: 400;
  }
  &.underline {
    position: relative;
    &:after {
      content: '';
      text-decoration: none;
      background: $btn-default;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  &.bold {
    p {
      font-weight: bold;
    }
  }
  &.light {
    p {
      color: $white;
    }
    span svg,
    span svg path,
    span svg g {
      fill: $white;
    }
  }
  &.with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin-bottom: 0;
    }
    span {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 16px;
        height: 16px;
        path, g {
          fill: $btn-default;
        }
      }
    }
  }
  &.dark {
    p {
      color: $text-color-dark;
    }
  }
  &.black {
    p {
      color: $black !important;
    }
    h1,h2,h3,h4,h5,h6 {
      color: $black !important;
    }
  }
  &.primary {
    &:after {
      background: $primary;
    }
    p{
      color: $primary;
    }
  }
  &.secondary {
    &:after {
      background: $secondary;
    }
    p {
      color: $secondary;
    }
  }
  &.small p {
    font-size: 12px;
    line-height: 1.5;
    @media (min-width: 992px) {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  &.medium p {
    font-size: 16px;
    line-height: 1.43;
    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  &.big p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &.big-x p {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 24px;
      line-height: 1.5;
    }
  }
  &.big-xx p {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 30px;
      line-height: 1.33;
    }
  }
}


.sec-paragraph,
.sec-title,
.small-heading {
  &.letter-spacing-0 {
    p, h1,h2,h3,h4,h5,h6, span, a {
      letter-spacing: 0;
    }
  }
  
  &.letter-spacing-1 {
    p, h1,h2,h3,h4,h5,h6, span, a {
      letter-spacing: 1px;
    }
  }
  &.letter-spacing-2 {
    p, h1,h2,h3,h4,h5,h6, span, a {
      letter-spacing: 2px;
    }
  }
  &.letter-spacing-3 {
    p, h1,h2,h3,h4,h5,h6, span, a {
      letter-spacing: 3px;
    }
  }
  &.letter-spacing-4 {
    p, h1,h2,h3,h4,h5,h6, span, a {
      letter-spacing: 4px;
    }
  }
}


.sec-paragraph,
.sec-title {
  &.uppercase {
    p, h1,h2,h3,h4,h5,h6, span, a {
      text-transform: uppercase;
    }
  }
}



ol,
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
ol li,
ul li,
p {
  margin: 0;
}

.list {
  ul, 
  ol {
      margin: 0;
      padding: 0;
      li {
          list-style: none;
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: .5rem;
          position: relative;
          padding-left: 1rem;
          color: $text-color;
          &:before {
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: $text-color;
              display: block;
              position: absolute;
              left: 0;
              top: 10px;
          }
          ol, ul {
              margin-top: .75rem;
              li {
                  padding-left: 2rem;
                  &:before {
                      left: 1rem;
                  }
              }
          }
      }
  }

  &.small {
    ul li, 
    ol li {
      font-size: 12px;
      line-height: 1.5;
      @media (min-width: 992px) {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
  &.medium {
    ul li,
    ol li {
      font-size: 16px;
      line-height: 1.43;
      @media (min-width: 992px) {
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
  &.big {
    ul li,
    ol li {
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: normal;
      @media (min-width: 992px) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
  &.big-x {
    ul li,
    ol li {
      font-size: 20px;
      line-height: 1.33;
      letter-spacing: normal;
      @media (min-width: 992px) {
        font-size: 24px;
        line-height: 1.5;
      }
    }
  }
  &.big-xx  {
    ul li,
    ol li {
      font-size: 20px;
      line-height: 1.33;
      letter-spacing: normal;
      @media (min-width: 992px) {
        font-size: 30px;
        line-height: 1.33;
      }
    }
  }
  &.font-35 {
    ul li,
    ol li {
      font-size: 24px;
      line-height: 1.33;
      letter-spacing: normal;
      @media (min-width: 992px) {
        font-size: 35px;
        line-height: 1.33;
      }
    }
  }

  // color options for li
  // default color
  &.dark {
    ul li,
    ol li {
      color: $text-color-dark;
    }
  }
  &.black {
    ul li,
    ol li {
      color: $black;
    }
  }
  &.bold {
    ul li,
    ol li {
      font-weight: bold;
    }
  }
  &.default {
    ul li,
    ol li {
      color: $btn-default;
      &:before {
        color: $btn-default;
        background-color: $btn-default;
      }
      
    }
    &.square-disc {
      li {
        &:before {
          background-color: $btn-default;
        }
      }
    }
    &.checkmark {
      ol li, 
      ul li {
        &:after {
          color: $btn-default;
        }
      }
    }
  }
  // primary color
  &.primary {
    ul li,
    ol li {
      color: $primary;
      &:before {
        color: $primary;
        background-color: $primary;
      }
      
    }
    &.square-disc {
      li {
        &:before {
          background-color: $primary;
        }
      }
    }
    &.checkmark {
      ol li, 
      ul li {
        &:after {
          color: $primary;
        }
      }
    }
  }
  &.secondary {
    ul li,
    ol li {
      color: $secondary;
      &:before {
        color: $secondary;
        background-color: $secondary;
      }
      
    }
    &.square-disc {
      li {
        &:before {
          background-color: $secondary;
        }
      }
    }
    &.checkmark {
      ol li, 
      ul li {
        &:after {
          color: $secondary
        }
      }
    }
  }
}

// listy style options
.list {
  &.square-disc {
       ul,ol {
          margin-left: 32px;
          li {
              &:before {
                  content: "";
                  width: 8px;
                  height: 2px;
                  border-radius: 1px;
                  background-color: #969696;
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 10px;
              }
              ol, ul {
                  margin-top: .75rem;
                  li {
                      padding-left: 2rem;
                      &:before {
                          left: 1rem;
                      }
                  }
              }
          }
      }
  }
  &.checkmark {
      ul,ol {
          margin-left: 32px;
          li {
              padding-left: 24px;
              &:before {
                  display: none;
              }
              &:after {
                  content: "\02714";
                  font-size: 18px;
                  color: $text-color;
                  display: block;
                  position: absolute;
                  left: 0 !important;
                  top: 0;
              }
              ol, ul {
                  margin-top: .75rem;
                  li {
                      padding-left: 2rem;
                      &:before {
                          display: none;
                      }
                      &:after {
                          left: 1rem;
                      }
                  }
              }
          }
      }
  }
}

.list {
  .list ul {
      margin-left: 0;
  }
}


//
// Headings
//




.sec-title {
  // default settings
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $font-family-heading;
    line-height: $headings-line-height;
    font-weight: normal;
    letter-spacing: 0;
    color: $black;
  }
  &.bold {
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }    
  }
  &.bolder {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 900;
    }    
  }
  &.font-base {
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-base;
    }
  }
  // colors
  &.primary { 
    h1,h2,h3,h4,h5,h6{
      color: $primary;
    }
  }
  &.secondary { 
    h1,h2,h3,h4,h5,h6{
      color: $secondary;
    }
  }
  &.light {
    h1,h2,h3,h4,h5,h6 {
      color: $white;
    }
  }

  &.dark {
    h1,h2,h3,h4,h5,h6 {
      color: $text-color-dark;
    }
  }
  &.black {
    h1,h2,h3,h4,h5,h6 {
      color: $black;
    }
  }

  // sizes flexibility
  &.heading-special {
    h1 {
      font-size: $headings-speical * .5;
      @media (min-width: 768px) {
        font-size: $headings-speical * .65;
      }
      @media (min-width: 992px) {
        font-size: $headings-speical;
      }
    }
  }
  h1 {
    font-size: 48px;
    @media (min-width: 768px) {
      font-size: 64px;
    }
    @media (min-width: 992px) {
      font-size: 92px;
    }
  }
  h2 {
    font-size: 40px;
    @media (min-width: 768px) {
      font-size: 48px;
    }
    @media (min-width: 992px) {
      font-size: 60px;
    }
  }
  h3 {
    font-size: 32px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 992px) {
      font-size: 52px;
    }
  }

  h4 {
    font-size: 2rem;
    @media (min-width: 992px) {
      font-size: 40px;
    }
  }
  h5 {
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  h6 {
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  &.font-28 {
    h1,h2,h3,h4,h5,h6 {
      font-size: 24px;
      line-height: 1.1;
      letter-spacing: normal;
      @media (min-width: 992px) {
        font-size: 28px;
      }
    }
  }
  &.font-36 {
    h1,h2,h3,h4,h5,h6 {
      font-size: 28px;
      line-height: 1.1;
      letter-spacing: normal;
      @media (min-width: 992px) {
        font-size: 36px;
      }
    }
  }
  &.font-32  {
    h1,h2,h3,h4,h5,h6 {
      font-size: 28px;
      line-height: 1.1;
      letter-spacing: normal;
      @media (min-width: 992px) {
        font-size: 32px;
      }
    }
  }
}
