/**
 * Basic typography style for copy text
 A solution for this problem is percentage. Usually default font-size of the browser is 16px.
 Setting font-size: 100% will make 1rem = 16px. But it will make calculations a little difficult.
 A better way is to set font-size: 62.5%. Because 62.5% of 16px is 10px. Which makes 1rem = 10px.
 CALCULATION: Element font size in rem x 16px;
 */

 // Body text
// -------------------------

// html {
//   font-size: 62.5%;
// }

body {
  letter-spacing: normal;
  line-height: 1.43;
  font-size: $font-size-sm ;
  font-weight: normal;
  font-family: $font-family-base;
  color: $text-color;
  @media (min-width: 992px) {
    font-size:  $font-size-base ; 
    line-height: 1.5;
  }
}




.title.with-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec-paragraph {
  // paragraph default settings
  p {
    letter-spacing: normal;
    line-height: 1.43;
    font-size: $font-family-base;
    font-weight: normal;
    font-family: $font-size-sm;
    color: $text-color;
    margin: 0;
    @media (min-width: 992px) {
      font-size: $font-size-base;
      line-height: 1.5;
    }
  }
  p+p {
      margin-top: 1rem;
      @media (min-width: 992px) {
          margin-top: 1.5rem;
      }
  }
  // paragraph colors flexibility
  &.light {
    p,
    a {
      color: $white;
    }
  }
  &.primary {
    p,
    a {
      color: $primary;
    }
  }
  &.secondary {
    p,
    a {
      color: $secondary;
    }
  }
  &.heading-font-family {
    p,
    a {
      font-family: $font-family-heading;
    }
  }
  // paragraph sizes
  &.bold {
    p {
      font-weight: bold;
    }
  }
  &.small p {
    font-size: 12px;
    line-height: 1.5;
    @media (min-width: 992px) {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  &.medium p {
    font-size: 16px;
    line-height: 1.43;
    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  &.big p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &.big-x p {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 24px;
      line-height: 1.5;
    }
  }
  &.big-xx p {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: normal;
    @media (min-width: 992px) {
      font-size: 30px;
      line-height: 1.33;
    }
  }
}

.small-heading {
  p {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $black;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
  }
  &.bold {
    p {
      font-weight: bold;
    }
  }
  &.light {
    p {
      color: $white;
    }
    span svg,
    span svg path,
    span svg g {
      fill: $white;
    }
  }
  &.with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin-bottom: 0;
    }
    span {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 16px;
        height: 16px;
        path, g {
          fill: $primary;
        }
      }
    }
  }
}

.l-spacing {
  p, h1,h2,h3,h4,h5,h6, span, a {
    letter-spacing: 0;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
ol li,
ul li,
p {
  margin: 0;
}


//
// Headings
//




.sec-title {
  // default settings
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $font-family-base;
    line-height: $headings-line-height;
    font-weight: normal;
    letter-spacing: 0;
    color: $black;
  }
  // colors
  &.primary { 
    h1,h2,h3,h4,h5,h6{
      color: $primary;
    }
  }
  &.secondary { 
    h1,h2,h3,h4,h5,h6{
      color: $secondary;
    }
  }
  &.light {
    h1,h2,h3,h4,h5,h6 {
      color: $white;
    }
  }

  // sizes flexibility
  &.heading-special {
    h1 {
      font-size: $headings-speical * .5;
      @media (min-width: 768px) {
        font-size: $headings-speical * .65;
      }
      @media (min-width: 992px) {
        font-size: $headings-speical;
      }
    }
  }
  h1 {
    font-size: 48px;
    @media (min-width: 768px) {
      font-size: 64px;
    }
    @media (min-width: 992px) {
      font-size: 92px;
    }
  }
  h2 {
    font-size: 40px;
    @media (min-width: 768px) {
      font-size: 48px;
    }
    @media (min-width: 992px) {
      font-size: 60px;
    }
  }
  h3 {
    font-size: 32px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 992px) {
      font-size: 52px;
    }
  }

  h4 {
    font-size: 2rem;
    @media (min-width: 992px) {
      font-size: 40px;
    }
  }
  h5 {
    font-size: 1.5rem;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  h6 {
    font-size: 1.5rem;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}
