// customized _variables for mortuary co

// Color system


// permanent colors
$white:              #fff !default;
$black:              #000 !default;
$btn-default:         #353535 !default;
$anchor-color:            #007bff;

//variable colors - need to change as per theme
$primary:             #690908 !default;
$secondary:          #e0a40a !default;

// can be changes as per requirement
$bg:             #eee;
$text-color:         #969696;
$text-color-dark:    #656565;
$border:            #D6D6D6;


// Interactions

$transitions: all 0.5s ease;

// Body
//
// Settings for the `<body>` element.
$body-bg:                   $white !default;
$body-color:                $black !default;

$paragraph-margin-bottom:   0 !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 980px,
  xl: 1200px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30 !default;
$grid-row-columns:            6 !default;



// stylelint-disable value-keyword-case
$font-family-heading:               'Playfair Display', serif;
$font-family-base:                  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 

// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-lg-big:            $font-size-base * 1.5 !default;
$font-size-lg-x:              $font-size-base * 2 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

// $h1-font-size:                $font-size-base * 5.75 !default ;
// $h2-font-size:                $font-size-base * 3.75 !default;
// $h3-font-size:                $font-size-base * 3 !default;
// $h4-font-size:                $font-size-base * 2 !default;
// $h5-font-size:                $font-size-base * 1.5 !default;
// $h6-font-size:                $font-size-base * 1.25!default;

$headings-margin-bottom:      0 !default; 
$font-family-heading:        $font-family-Quattrocento !default;
$headings-font-weight:        normal !default;
$headings-line-height:        1.1 !default;
$headings-speical:            120px;
//$headings-color:              $primary !default;



$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

