// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


    
    


.sec-buttons {
    position: relative;
    .btn + .btn {
        margin-left: 4px;
        @media screen and (min-width: 768px) {
            margin-left: 8px;
        }
        @media screen and (max-width: 767px) {
            margin-left: 0;
            margin-top: 8px;
        }
    }
    .btn {
        border-radius: 0;
        width: 100%;
        min-width: 200px;
        height: 48px;
        line-height: 48px;
        font-size: $font-size-base;
        font-weight: normal;
        padding: 0;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        background-color: $btn-default; 
        color: $white;
        transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
        @media screen and (min-width: 576px) {
            width: auto;
        }

        // with icons / img
        span {
            img,
            svg {
                width: 16px;
                height: 16px;
                margin-top: -4px;
                margin-right: 4px;
                path, g {
                    fill: $white;
                }
            }
        }
        
        // hover - focus and active 
        &:hover {
            outline: none;
            background-color: lighten($btn-default, 10%);
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
        &:active {
            box-shadow: none;
            outline: none;
        }

        // if radius / round btn needed
        &.radius {
            border-radius: 4px;
        }
        &.round {
            border-radius: 100px;
        }

        // if needed as uppercase text
        &.uppercase {
            text-transform: uppercase;
        }

        // bold
        &.bold {
            font-weight: bold;
        }

        //fonts 16 is default font size and 12 and 14 variations added below
        &.font-12 {
            font-size: 12px;
        }
        &.font-14 {
            font-size: 14px;
        }
        &.font-18 {
            font-size: 16px;
            @media (min-width: 992px) {
                font-size: 18px;
            }
        }

        // animation styles
        &.animate-top {
            transform: translateX(0px) translateY(0px);
            &:hover {
                transform: translateX(0px) translateY(-3px);
            }
        }
        &.animate-scale {
            &:hover {
                transition: all .2s ease;
                transform: scale(1.02);
            }
        }

        // box-shadow 
        &.shadow {
            &:hover {
                transform: scale(1.02);
                box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.75) !important;
            }
        }

        // button sizes
        &.x-small {
            height: 36px;
            line-height: 36px;
            min-width: 160px;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        &.small {
            height: 40px;
            line-height: 40px;
            min-width: 180px;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        &.big {
            height: 52px;
            line-height: 52px;
            min-width: 240px;
        }

        // if buttons needed full width
        &.full {
            width: 100%;
        }
        // if buttons needed content width
        &.auto {
            min-width: auto;
            width: auto;
        }

        // outline buttons settings
        &.default-outline {
            background-color: transparent;
            border-color: $btn-default;
            color: $btn-default;
            span {
                img,
                svg {
                    path, g {
                        fill: $btn-default;
                    }
                }
            }
            &:hover {
                background-color: $btn-default;
                color: $white;

                span {
                    img,
                    svg {
                        path, g {
                            fill: $white;
                        }
                    }
                }
            }
            

        }

        // outline default light for background images or solid background
        &.default-outline-light {
            background-color: transparent;
            border-color: $white;
            color: $white;

            span {
                img,
                svg {
                    path, g {
                        fill: $white;
                    }
                }
            }

            &:hover {
                background-color: $white;
                border-color: $white;
                color: $btn-default;
                span {
                    img,
                    svg {
                        path, g {
                            fill: $btn-default;
                        }
                    }
                }
            }
        }
        

        //primary color settings
        &.primary {
            background-color: $primary;
            &:hover {
                outline: none;
                background-color: lighten($primary, 10%);
            }
        }
        &.primary-outline {
            background-color: transparent;
            border-color: $primary;
            color: $primary;
            span {
                img,
                svg {
                    path, g {
                        fill: $primary;
                    }
                }
            }
            &:hover {
                background-color: $primary;
                color: $white;
                span {
                    img,
                    svg {
                        path, g {
                            fill: $white;
                        }
                    }
                }
            }
        }
        &.primary-outline-light {
            background-color: transparent;
            border-color: $white;
            color: $white;
            span {
                img,
                svg {
                    path, g {
                        fill: $white;
                    }
                }
            }
            &:hover {
                background-color: $white;
                border-color: $white;
                color: $primary;
                span {
                    img,
                    svg {
                        path, g {
                            fill: $primary;
                        }
                    }
                }
            }
        }


        //secondary color settings
        &.secondary {
            background-color: $secondary;
            &:hover {
                outline: none;
                background-color: lighten($secondary, 10%);
            }
        }
        &.secondary-outline {
            background-color: transparent;
            border-color: $secondary;
            color: $secondary;
            span {
                img,
                svg {
                    path, g {
                        fill: $secondary;
                    }
                }
            }
            &:hover {
                background-color: $secondary;
                color: $white;
                span {
                    img,
                    svg {
                        path, g {
                            fill: $white;
                        }
                    }
                }
            }
        }
        &.secondary-outline-light {
            background-color: transparent;
            border-color: $white;
            color: $white;
            span {
                img,
                svg {
                    path, g {
                        fill: $white;
                    }
                }
            }
            &:hover {
                background-color: $white;
                border-color: $white;
                color: $secondary;
                span {
                    img,
                    svg {
                        path, g {
                            fill: $secondary;
                        }
                    }
                }
            }
        }

    } // .btn ends here  
} // .sec-buttons ends here


.sec-links {
    .link + .link {
        margin-left: 8px;
        @media screen and (min-width: 768px) {
            margin-left: 16px;
        }
        @media screen and (max-width: 767px) {
            margin-left: 0;
            margin-top: 8px;
        }
    }
    .link {
        position: relative;
        font-size: 16px;
        line-height: 1.25;
        transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
        // with icons / img
        span {
            img,
            svg {
                width: 16px;
                height: 16px;
                margin-top: -4px;
                margin-right: 6px;
                path, g {
                    fill:  $anchor-color;
                }
            }
        }
        &:hover {
            text-decoration: none;
            color: lighten($anchor-color, 10%);
            span {
                img,
                svg {
                    path, g {
                        fill:  lighten($anchor-color, 10%);
                    }
                }
            }
        }
        

        &.arrow {
            padding-right: 12px;
            &:before {
                border: solid $anchor-color;
                border-width: 0 1.75px 1.75px 0;
                padding: 3px;
                content: "";
                position: absolute;
                line-height: 1;
                top: 50%;
                transition: all .3s ease-in-out;
                transform: translateY(-50%) rotate(-45deg);
                right: 0;
            }
        }
        &.font-12 {
            font-size: 12px;
            line-height: 1.5;
        }
        &.font-14 {
            font-size: 14px;
            line-height: 1.5;
        }
        &.font-18 {
            font-size: 16px;
            line-height: 1.25;
            @media (min-width: 992px) {
                font-size: 18px;
            }
            
        }
        &.uppercase {
            text-transform: uppercase;
        }
        &.bold {
            font-weight: bold;
        }

        &.light {
            color: $white;
            span {
                img,
                svg {
                    path, g {
                        fill:  $white;
                    }
                }
            }
            &:hover {
                text-decoration: underline;
            }
        }

        &.default-underline {
            background-image: linear-gradient(120deg, $anchor-color 0%, $anchor-color 100%);
            background-repeat: no-repeat;
            background-size: 100% 3px;
            padding-bottom: 3px;
            background-position: 0 100%;
            transition: background-size 0.25s ease-in;
            &:hover {
                text-decoration: none;
            }
        }

        &.primary {
            color: $primary;
            span {
                img,
                svg {
                    path, g {
                        fill:  $primary;
                    }
                }
            }
            &.arrow {
                &:before {
                    border-color: $primary;
                }
            }
            &:hover {
                color: lighten($primary, 10%);
                span {
                    img,
                    svg {
                        path, g {
                            fill:  lighten($primary, 10%);
                        }
                    }
                }
                &:before {
                    border-color: lighten($primary, 10%);
                }
            }
        }

        &.primary-underline {
            background-image: linear-gradient(120deg, $primary 0%, $primary 100%);
            background-repeat: no-repeat;
            background-size: 100% 3px;
            padding-bottom: 3px;
            background-position: 0 100%;
            transition: background-size 0.25s ease-in;
        }

        &.primary-light {
            color: $white;
            span {
                img,
                svg {
                    path, g {
                        fill:  $white;
                    }
                }
            }
            &.arrow {
                &:before {
                    border-color: $white;
                }
            }
            &:hover {
                color: $primary;
                span {
                    img,
                    svg {
                        path, g {
                            fill:  $primary;
                        }
                    }
                }
                &:before {
                    border-color: $primary;
                }
            }
        }

        &.secondary {
            color: $secondary;
            span {
                img,
                svg {
                    path, g {
                        fill:  $secondary;
                    }
                }
            }
            &.arrow {
                &:before {
                    border-color: $secondary;
                }
            }
            &:hover {
                color: lighten($secondary, 10%);
                span {
                    img,
                    svg {
                        path, g {
                            fill: lighten($secondary, 10%);
                        }
                    }
                }
                &:before {
                    border-color: lighten($secondary, 10%);
                }
            }
        }
        &.secondary-underline {
            background-image: linear-gradient(120deg, $secondary 0%, $secondary 100%);
            background-repeat: no-repeat;
            background-size: 100% 3px;
            padding-bottom: 3px;
            background-position: 0 100%;
            transition: background-size 0.25s ease-in;
            &:hover {
                text-decoration: none;
            }
        }

        &.secondary-light {
            color: $white;
            span {
                img,
                svg {
                    path, g {
                        fill:  $white;
                    }
                }
            }
            &.arrow {
                &:before {
                    border-color: $white;
                }
            }
            &:hover {
                color: $secondary;
                span {
                    img,
                    svg {
                        path, g {
                            fill:  $secondary;
                        }
                    }
                }
                &:before {
                    border-color: $secondary;
                }
            }
        }
    }
}






 