// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-wrapper {
    .btn {
        border-radius: 0;
        text-transform: uppercase;
        min-width: 235px;
        width: 100%;
        height: 52px;
        line-height: 52px;
        border-radius: 4px;
        font-size: $font-size-base;
        font-weight: normal;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 15px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media screen and (min-width: 768px) {
            width: auto;
        }
        span {
            padding-left: 8px;
        }
        &.small {
            min-width: 170px;
            height: 40px;
            line-height: 40px;
        }
        &.x-small {
            height: 36px;
            line-height: 36px;
            min-width: auto;
        }
        &:hover {
            transition: all .2s ease;
            transform: scale(1.02);
            position: relative;
            box-shadow: none;
            background-color: #ac1439;
            border-color: #ac1439;
        }
        &:focus {
            box-shadow: none;
        }
        &:active {
            box-shadow: none;
        }
        &.auto {
            min-width: auto;
            width: auto;
        }
        &.full {
            width: 100%;
        }
        &.secondary-hover {
            &:hover {
                background-color: $secondary;
                border-color: darken($secondary, 15%);
            }
        }
        &.btn-secondary {
            &:hover {
                background-color: darken($secondary, 15%);
            }
        }
        &.reverse {
            background-color: #8f9cb7;
            &:hover {
                background-color: #7a8395;
            }
        }
        &.btn-outline-primary {
            &:hover {
                background-color: $primary;
            }
        }
        &.btn-outline-light {
            background-color: transparent;
            border-color: $white;
            color: $white;
            &:hover {
                background-color: $white;
                color: $primary;
            }
        }
    }
    a.btn {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 52px;
        &:focus {
            box-shadow: none;
        }
        &:active {
            box-shadow: none;
        }
    }
}

.link-wrapper {
    .btn-link {
        text-transform: uppercase;
        position: relative;
        font-size: $font-size-base;
        &.underline {
            background-image: linear-gradient(120deg, #dfc965 0%, #dfc965 100%);
            background-repeat: no-repeat;
            background-size: 100% 3px;
            padding-bottom: 2px;
            background-position: 0 100%;
            transition: background-size 0.25s ease-in;
            &:hover {
                text-decoration: none;
            }
        }
        
        &.secondary {
            color: $secondary;
            font-size: $font-size-sm;
            &:hover {
                color: darken($secondary, 15%);
            }
        }
    }
}





 