.sec-contact{
  &.white-default{
    .sec-title{
        h1, h2, h3, h4, h5, h6{
            color: $btn-default;
        }
    }
    .form-group {
      label {
        color: $btn-default;
    }
    input,
      textarea {
          &:focus {
              border: 1px solid $btn-default;
          }
      }
  }
}
  &.white-primary{
    .sec-title{
        h1, h2, h3, h4, h5, h6{
            color: $primary;
        }
    }
    .form-group {
      label {
        color: $primary;
    }
    input,
      textarea {
          &:focus {
              border: 1px solid $primary;
          }
      }
  }
}
&.white-secondary{
    .sec-title{
        h1, h2, h3, h4, h5, h6{
            color: $secondary;
        }
    }
    .form-group {
        label {
          color: $secondary;
      }
      input,
      textarea {
          &:focus {
              border: 1px solid $secondary;
          }
      }
    }
}
}
.contact-form {
  
  .form-group {
    margin-bottom: 16px;
      label {
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 0;
        color: $btn-default;
  
    }
      input {
        border-radius: 4px;
        height: 52px;
        padding: 0 24px;
  
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
      input,
      textarea {
          border: 1px solid $border;
          height: 52px;
          padding: 0;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          &:focus {
              box-shadow: none;
              outline: none;
              border: none;
              border: 1px solid $btn-default;
          }
      }
      textarea {
          height: auto !important;
      }
  }
}


// contact information box
.contact-information {
  border-radius: 8px;
  overflow: hidden;
  background-color: #F4F5F9;
  @media (max-width: 991px) {
      margin-top: 1.5rem;
  }
  .head {
      background-color: $btn-default;
      padding: 32px 0;
      text-align: center;
  }
  .body {
      padding: 80px 40px;
  }
}



.contact-us-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f8;
  @media (min-width: 768px) {
      flex-direction: row;
  }
  .small-heading.with-icon {
      justify-content: flex-start;
  }
  .contact-info,
  .img-wrap {
      width: 100%;
      @media (min-width: 768px) {
          width: 50%;
      }
  }
  .contact-info {
        padding: 20px;
        padding-left: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            padding-left: 20px;
        }
  }
  .img-wrap {
      position: relative;
      height: 362px;
      img {
          height: 362px;
      }
      .sec-location{
        height: 100%;
        .map{
            height: 100%;
            min-height: 100%;
        }
      }
      
  }
  &.reverse{
    .contact-info{
        order: 0;
    }
    .img-wrap{
        order: 1;
    }
  }
}