.tabs-wrapper {
    margin-top: 99px;
    margin-bottom: 80px;
    .col-lg-3.col-12 {
        @media (max-width: 991px) {
            display: none;
        }
        
    }
    
    .content {
        .title {
            margin-bottom: 2rem;
        }
        .paragraph {
            margin-bottom: 2rem;
        }
    }

    .nav {
        .nav-link {
            margin-bottom: 1.5rem;
            padding: 0;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 1rem;
                color: $primary;
                display: inline;
                font-weight: bold;
                @media (min-width: 768px) {
                    margin-bottom: 2rem;
                }
                &:hover {
                    text-decoration: none;
                    color: #3e5179;
                }
            }
            &.active {
                a {
                    color: $primary;
                    background-image: linear-gradient(120deg, #dfc965 0%, #dfc965 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 2px;
                    padding-bottom: 6px;
                    background-position: 0 100%;
                    transition: background-size 0.25s ease-in;
                }
            }
        }
    }
    .tab-content {
        @media (max-width: 767px) {
            margin-top: 2rem;
        }
    }
}





