.sec-faq {
    .card {
        border: 1px solid $border;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .card-header {
            border: none;
            background-color: $white;
            padding: 0;
            border-radius: 5px;
            a {
                padding: 40px;
                padding-right: 64px;
                font-size: 22px;
                line-height: 26px;
                font-weight: bold;
                display: flex;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
                &:after {
                    right: 36px;
                    content: "\0002B";
                    font-size: 32px;
                    font-weight: normal;
                    line-height: 1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                    transition: all .3s ease-in-out;
                }
            }
            a[aria-expanded="true"]:after {
                content: "\02212"; 
                transition: all .3s ease-in-out;
                transform: translateY(-50%) rotate(-0);
            }
        }
        .card-body {
            padding: 40px;
            padding-top: 0;
        }
    }
    &.box-shadow {
        .card {
            box-shadow:  0 6px 6px #0000000d;
        }
    }
}

// faq color theme
.sec-faq {
    //title color
    &.default {
        .card {
            .card-header {
                a {
                   color: $btn-default;
                   transition: $transitions;
                   &:hover {
                       color: darken($btn-default, 10%);
                   }
                }
            }
        }
    }
    //title color
    &.primary {
        .card {
            .card-header {
                a {
                   color: $primary;
                   transition: $transitions;
                   &:hover {
                    color: darken($primary, 10%);
                    }
                }
            }
        }
    }
    //title color
    &.secondary {
        .card {
            .card-header {
                a {
                   color: $secondary;
                   transition: $transitions;
                   &:hover {
                    color: darken($secondary, 10%);
                }
                }
            }
        }
    }

    // light bg
    &.light-bg {
        .card {

            .card-header {
                a[aria-expanded="true"] {
                    background-color: $bg;
                }
            }
            .show,
            .collapsing {
                background-color: $bg;
            }
        }
    }

    &.only-border {
        .card {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $border;
            margin-bottom: 0;
        }
    }

    &.icon-on-left {
        .card {
            .card-header a{
                padding-right: 40px;
                padding-left: 56px;
                &:after {
                    right: auto;
                    left: 16px;
                }
            }
        }
    }

    &.icon-arrow {
        .card .card-header {
            a {
                text-decoration: none;
                &:after {
                    right: 36px;
                    content: "\02794";
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                    transition: all .3s ease-in-out;
                }
            }
            a[aria-expanded="true"]:after {
                content: "\02794"; 
                transition: all .3s ease-in-out;
                transform: translateY(-50%) rotate(-90deg);
            }
        }
        
    }
    &.bg-default{
        background-color: $white !important;
        .card, .card-header{
            background-color: $bg !important;
        }
    }
    &.bg-primary{
        background-color: $white !important;
        .card, .card-header{
            background-color: $primary !important;
        }
    }
    &.bg-secondary{
        background-color: $white !important;
        .card, .card-header{
            background-color: $secondary !important;
        }
    }
}

// faq variations
.sec-faq {
    &.faq-2 {
        .card {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


