.image-gallery {
    
    .banner {
        position: relative;
        height: 400px;
        margin-bottom: 20px;
        border-radius: 8px;
        overflow: hidden;
        a {
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.7s ease-in-out;
            &:hover img {
                transform: scale(1.1);
                transition: all 0.7s ease-in-out;
            }
        }
        img, iframe{
            height: 100%;
        }
        
    }
    &.big {
        .banner {
            @media screen and (min-width: 992px) {
                height: 680px;
            }
            img, iframe{
                height: 100%;
            }
        }
    }
    &.medium {
        .banner {
            @media screen and (min-width: 992px) {
                height: 450px;
            }
            img, iframe{
                height: 100%;
            }
        }
    }
    .thumbnails {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        }
        .img {
            height: 134px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            transition: all 0.7s ease-in-out;
            &:hover img {
                transform: scale(1.1);
                transition: all 0.7s ease-in-out;
            }
            img, iframe{
                height: 100%;
            }
            
        }
    }
    &.flat{
        .banner{
            border-radius: 0;
        }
        .thumbnails {
            .img {
                border-radius: 0; 
            }
        }
    }
}
.lg-sub-html{
    display: none;
}