.slider-wrapper {
    position: relative;
    height: 1200px;
    .content {
        @media screen and (max-width: 991px) {
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;
        }
        .title {
            @media screen and (min-width: 992px) {
                margin-bottom: 10px;
            }
        }
        .btn-wrapper {
            @media screen and (max-width: 991px) {
                text-align: right;
            }
        }
        .title, 
        .btn-wrapper {
            @media screen and (max-width: 991px) {
                width: 50%;
            }
        }
    }
    .container {
        @media (max-width: 767px) {
         padding-right: 10px;
         padding-left: 10px;
        }
    }
}

.slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.obituary-tiles {
    .tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .thumbnail {
            margin-bottom: 16px;
            height: 300px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
        }
        .name {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 2px;
            color: #333333;
            @media screen and (min-width: 992px) {
                margin-bottom: 4px;
                font-size: 24px;
                line-height: 30px;
            }
        }
        .date {
            color: #666666;
            font-size: 12px;
            line-height: 1;
            @media screen and (min-width: 992px) {
                font-size: 20px;
            }
        }
    }
}

.slider {
    position: relative;
    padding-bottom: 100px;
    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        margin-right: 44px;
        width: 52px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
        svg {
            width: 52px;
            path {
                fill: $primary;
            }
        }
        &:after {
            display: none;
        }
        &:hover {
            svg {
                transform: scale(1.1);
                transition: all .3s ease-in-out;
            }
        }
    }
    .controls {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        span {
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            color: #131c52;
            position: absolute;
            top: 6px;
            left: 0;
        }
        .swiper-button-prev {
            span {
                left: 20px;
            }
        }
    }
}


.subscribe-link {
    padding: 140px 0;
    .paragraph {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            margin-right: 12px;
        }
        .link-wrapper {
            .btn-link {
                font-size: 30px;
                font-weight: bold;
                color: $primary;
                padding-bottom: 12px;
                background-image: linear-gradient(120deg, $primary 0%, $primary 100%);
            }
        }
    }
}

.search-input-field {
    max-width: 480px;
    margin: 0 auto;
    padding: 90px 0;
    .input-group {
        position: relative;
        .form-control {
            height: 52px;
            border: 1px solid #3e5179;
            border-radius: 0;
            padding-right: 64px;
            font-size: 18px;
            padding-left: 25px;
            border-radius: 33px;
            &:focus,
            &:active {
                border-color: #3e5179;
                box-shadow: none;
                outline: none;
            }
        }
        .input-group-addon {
            position: absolute;
            top: 8px;
            right: 1.5rem;
            z-index: 8;
            img, svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}