
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.freeze {
    overflow: hidden;
}

.mobile-menu {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    
    &.active {
        background-color: #000000a8 !important;
        display: flex;
        height: 100%;
        .menu-wrapper {
            display: flex;
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
    &.default {
        background-color: $btn-default;
    }
    &.white {
        background-color: $white;
    }
    &.primary {
        background-color: $primary;
    }
    &.secondary {
        background-color: $secondary;
    }

    .logo-wrapp {
        padding-top: 12px;
    }
}
.menu-wrapper {
    display: none;
}
.sub-menu {
    display: none;
}
.sub-menu {
    padding-top: 84px;
    .back-to-menu {
        position: absolute;
        top: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        background: #F4F5F9;
        height: 40px;
        width: 100%;
        left: 0;
        padding-left: 46px;
        color: #131C52;
        line-height: 19px;
        &:after {
            content: "";
            border: solid #131C52;
            border-width: 0 2px 2px 0;
            padding: 2.5px;
            position: absolute;
            line-height: 1;
            top: 50%;
            left: 30px;
            transition: all .3s ease-in-out;
            transform: translateY(-50%) rotate(135deg);
        }
    }
}
.expandable.active {
    .sub-menu {
        display: flex;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;
    }  
}

.menu-wrapper {
    display: none;
    position: fixed;
    padding-top: 84px;
    background: $white;
    width: 100%;
    left: 0;
    height: 100%;
    max-width: 100%;
    @media (min-width: 375px) {
        max-width: 275px;
    }
    @media (min-width: 425px) {
        max-width: 320px;
    }
    .dismiss {
        position: absolute;
        top: 0;
        right: 0;
        background: #F4F5F9;
        z-index: 99;
        height: 40px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
        svg, img{
            width: 12px;
            height: 12px;
            g, path {
                stroke: $btn-default;
                stroke-width: 2px;
            }
        }
    }
    ul {
        width: 100%;
        li {
            padding-left: 30px;
            padding-right: 26px;
            a {
                position: relative;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                padding: 11px 0;
                display: flex;
                font-weight: bold;
                padding-right: 1rem;
                &:hover {
                    text-decoration: none;
                }
            }
            &.expandable {
                > a {
                    &:after {
                        content: "";
                        right: .5rem;
                        border: solid $btn-default;
                        border-width: 0 2px 2px 0;
                        padding: 2.75px;
                        position: absolute;
                        line-height: 1;
                        top: 50%;
                        transition: all .3s ease-in-out;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
            // &:hover {
            //     background-color: $primary;
            //    > a {
            //         color: #fff;
            //         &:after {
            //             border-color: #fff;
            //         }
            //     }
            // }
        }
    }

   

}

// mobile menu themeing {
.mobile-menu {
    &.white {
        .menu-wrapper ul {
            background-color: $white;
            border: 1px solid lighten($btn-default, 15%);
            > li {
                a {
                    border-bottom: 1px solid lighten($btn-default, 15%);
                    color: $btn-default;
                    &:hover {
                        text-decoration: none;
                        
                        background-color: darken($bg , 3%);
                    }
                }
                
            }
        }
    }
    &.default {
        .menu-wrapper ul {
            > li {
                a {
                    color: $btn-default;
                    &:after {
                        border-color: $btn-default;
                    }
                }

                &:hover {
                    background-color: $btn-default;
                   > a {
                        color: $white;
                        &:after {
                            border-color: $white;
                        }
                    }
                }
            }
        }
    }
    &.primary {
        .menu-wrapper ul {
            > li {
                a {
                    color: $btn-default;
                    &:after {
                        border-color: $btn-default;
                    }
                }

                &:hover {
                    background-color: $primary;
                   > a {
                        color: $white;
                        &:after {
                            border-color: $white;
                        }
                    }
                }
            }
        }
        
    }
    &.secondary {
        .menu-wrapper ul {
            > li {
                a {
                    color: $btn-default;
                    &:after {
                        border-color: $btn-default;
                    }
                }

                &:hover {
                    background-color: $secondary;
                   > a {
                        color: $white;
                        &:after {
                            border-color: $white;
                        }
                    }
                }
            }
        }


    }
}

// hamburger icons
.hamburger {
    display: block;
    .line {
        width: 24px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 4px auto;
        transition: all .3s ease-in-out;
    }
    &:hover{
        cursor: pointer;
    }
}


// desktop menu start 
.menu-section-desktop {
    position: relative;
    width: 100%;
    z-index: 9;
    padding-bottom: 0; 
    background-color: transparent;
    min-height: 120px;
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
        display: none;
    }

    &.default {
        background-color: $btn-default;
    }
    &.white {
        background-color: $white;
        &.with-dropdown {
            .expandable {
                position: relative;
                span {
                    svg {
                        g, polygon {
                            fill: $btn-default;
                        }
                    }
                }
            }
        }
    }
    &.primary {
        background-color: $primary;
    }
    &.secondary {
        background-color: $secondary;
    }

    .menu-wrap {
        display: flex;
        align-items: flex-start;
    }

    &.with-dropdown {
        .expandable {
            position: relative;
            span {
                width: 8px;
                height: 8px;
                margin-left: 6px;
                svg {
                    g, polygon {
                        fill: $white;
                    }
                }
            }
        }
        .nav-links ul li {
            position: relative;
            &:hover {
                ul.dropdown {
                    display: flex;
                }
            }
        }
    }
}


// drop down styling spacing
ul.dropdown {
    min-width: 200px;
    display: flex;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    flex-direction: column;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    display: none;
    > li {
        a {
            font-size: 15px;
            cursor: pointer;
            font-weight: 400;
            line-height: 1;
            width: 100%;
            position: relative;
            padding: 16px 20px;
            display: flex;
        }
        &:last-child {
            a {
                border-bottom: none;
            }
        }
    }
}
// nav link elements styling spacing
.nav-links {
    display: flex;
    width: 100%;
    .main-nav-links {
        width: 100%;
        > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            > li {
                display: inline-block;
                flex: 1;
                align-items: center;
                justify-content: center;
                display: flex;
                &.logo {
                    min-width: 304px;
                    @media (min-width: 1300px)  {
                        min-width: 520px;
                    }
                    @media (min-width: 1440px)  {
                        min-width: 620px;
                    }
                }
                > a {
                    padding: 50px 0;
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: normal;
                    display: flex;
                    position: relative;
                    justify-content: center;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.show {
                    ul.dropdown {
                        display: flex;
                    }
                }
            }
        }
    }
}
  

// logo element styling
.logo-wrapp,
.logo-wrapp a,
.logo-wrapp img,
.logo-wrapp svg {
    width: 110px;
    display: block;
    @media (min-width: 1200px) {
        width: 143px;
    }
}



// theming for deskto main links
.menu-section-desktop {

    &.white {
        .nav-links {
            .main-nav-links {
                > ul {
                    > li {
                        > a {
                            color: $btn-default;
                        }
                        &.show {
                            > a {
                                color: darken($btn-default, 10%);
                            }
                            span {
                                svg {
                                    g, polygon {
                                        fill: darken($btn-default, 10%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.default {
        .nav-links {
            .main-nav-links {
                > ul {
                    > li {
                        > a {
                            color: $white;
                        }
                        &.show {
                            > a {
                                color: $white;
                            }
                            span {
                                svg {
                                    g, polygon {
                                        fill: darken($white, 10%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.primary {
        .nav-links {
            .main-nav-links {
                > ul {
                    > li {
                        > a {
                            color: $white;
                        }
                        &.show {
                            > a {
                                color: $white;
                            }
                            span {
                                svg {
                                    g, polygon {
                                        fill: darken($white, 10%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.secondary {
        .nav-links {
            .main-nav-links {
                > ul {
                    > li {
                        > a {
                            color: $white;
                        }
                        &.show {
                            > a {
                                color: $white;
                            }
                            span {
                                svg {
                                    g, polygon {
                                        fill: darken($white, 10%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// theming for deskto menu dropdowns
.menu-section-desktop {

    ul.dropdown {
        background-color: $white;
        border: 1px solid lighten($btn-default, 15%);
        > li {
            a {
                border-bottom: 1px solid lighten($btn-default, 15%);
                color: $btn-default;
                &:hover {
                    text-decoration: none;
                    
                    background-color: darken($bg , 3%);
                }
            }
            
        }
    }
    
    &.white {
        ul.dropdown {
            background-color: $white;
            border: 1px solid lighten($btn-default, 15%);
            > li {
                a {
                    border-bottom: 1px solid lighten($btn-default, 15%);
                    color: $btn-default;
                    &:hover {
                        text-decoration: none;
                        
                        background-color: darken($bg , 3%);
                    }
                }
                
            }
        }
    }
    &.default {

        ul.dropdown {
            background-color: $btn-default;
            border: 1px solid darken($btn-default, 15%) ;
            > li {
                a {
                    color: $white;
                    border-bottom: 1px solid lighten($btn-default, 15%);
                    &:hover {
                        text-decoration: none;
                        background-color: lighten($btn-default, 15%);
                    }
                }
            }
        }
    }
    &.primary {
        ul.dropdown {
            background-color: $primary;
            border: 1px solid darken($primary, 15%) ;
            > li {
                a {
                    color: $white;
                    border-bottom: 1px solid lighten($primary, 15%);
                    &:hover {
                        text-decoration: none;
                        background-color: lighten($primary, 15%);
                    }
                }
            }
        }
        
    }
    &.secondary {
        ul.dropdown {
            background-color: $secondary;
            border: 1px solid darken($secondary, 15%) ;
            > li {
                a {
                    color: $white;
                    border-bottom: 1px solid lighten($secondary, 15%);
                    &:hover {
                        text-decoration: none;
                        background-color: lighten($secondary, 15%);
                    }
                }
            }
        }
    }

    &.default-dropdown {
        ul.dropdown {
            background-color: $white;
            border: 1px solid lighten($btn-default, 15%);
            > li {
                a {
                    border-bottom: 1px solid lighten($btn-default, 15%);
                    color: $btn-default;
                    &:hover {
                        text-decoration: none;
                        
                        background-color: darken($bg , 3%);
                    }
                }
                
            }
        }
    }
}


// fixed menu 
.menu-fixed {
    // .mobile-menu {
    //     position: fixed;
    //     top: 0;
    //     width: 100%;
    //     transition: all .3s ease-in-out;
    //     min-height: 66px;
    //     .logo-wrapp {
    //         padding-top: 0;
    //         img {
    //             width: 150px;
    //         }
    //     }
    // }
}