//For Inner pages
.sec-obituaries{

  &.white-hover{
    .obituaries-tile {
      a{
        &:hover{
          color: $white;
          .info{
            .sec-title{
              h1, h2, h3, h4, h5, h6{
                color: $white;
              }
            }
        }
        }
      }
    }
    }

  &.default-hover{
    .obituaries-tile {
      a{
        &:hover{
          color: $btn-default;
          .info{
            .sec-title{
              h1, h2, h3, h4, h5, h6{
                color: $btn-default;
              }
            }
        }
        }
      }
    }
    }

    &.primary-hover{
      .obituaries-tile {
        a{
          &:hover{
            color: $primary;
            .info{
              .sec-title{
                h1, h2, h3, h4, h5, h6{
                  color: $primary;
                }
              }
          }
          }
        }
      }
      }

      &.secondary-hover{
        .obituaries-tile {
          a{
            &:hover{
              color: $secondary;
              .info{
                .sec-title{
                  h1, h2, h3, h4, h5, h6{
                    color: $secondary;
                  }
                }
            }
            }
          }
        }
        }
  
  @media screen and (max-width: 991px) {
    margin-bottom: 24px;
  }
  &.has-img{
    position: relative;
    overflow: hidden;
    .bg-image{
        position: absolute;
        top: 0;
        width: 100%;
        opacity: .5;
        height: 100%;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .obituaries-tile.var-6{
      a{
        position: relative;
        .sec-title{
          h1, h2, h3, h4, h5, h6{
              color: $btn-default;
          }
      }
      .sec-paragraph{
        p{
            color: $btn-default;
        }
        
    }
      }
    }
    
    .sec-title{
        position: relative;
        h1, h2, h3, h4, h5, h6{
            color: $white;
        }
    }
    .sec-location{
        position: relative;
        .sec-paragraph{
            p{
                color: $white;
            }
            
        }
    }
}
  &.round-box{
    border-radius: 0px;
    @media screen and (min-width: 1366px) {
      border-radius: 250px;
    }
  }
  &.radius-box{
    border-radius: 8px;
  }
  &.has-bg-repeat{
    position: relative;
    background-image: url(/assets/img/beige-paper-1.png);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 1) !important;
}
  &.has-bg-default{
    padding: 32px 0;
    background-color: rgba($black, 0.7);
    .sec-title{
      h1, h2, h3, h4, h5, h6{
        color: $white;
      }
    }
    .sec-paragraph{
      p{
        color: $white;
      }
    }
    .sec-buttons{
      .btn{
        color: $btn-default;
        background-color: $white;
      }
    }
    .sec-buttons{
      .btn{
        &.primary{
        color: $primary;
        background-color: $white;
        &:hover{
          color: $white;
          background-color: $primary;
        }
      }
    }
    .btn{
      &.secondary{
      color: $secondary;
      background-color: $white;
      &:hover{
        color: $white;
        background-color: $secondary;
      }
    }
  }
  }
    .sec-search-filters{
      &.active{
        .input-group{
          .input-group-addon{
            background-color: $white;
            svg{
              fill: $black;
            }
          }
          .form-control{
            border: 1px solid $black;
          }
        }
      }
      
    }
    .obituaries-home-search-3{
      .sec-title{
        border-right: solid 1px $white;
        @media (max-width: 991.98px) {
          border-right: 0;
        }
      }
      .sec-buttons{
        @media (max-width: 991.98px) {
          margin-bottom: 16px;
        }
      }
    }
    
  }
  &.has-bg-primary{
    padding: 32px 0;
    background-color: rgba($primary, 0.7);
    .sec-title{
      h1, h2, h3, h4, h5, h6{
        color: $white;
      }
    }
    .sec-paragraph{
      p{
        color: $white;
      }
    }
    .sec-buttons{
      .btn{
        color: $primary;
        background-color: $white;
      }
    }
    .sec-buttons{
      .btn{
        &.primary{
        color: $primary;
        background-color: $white;
        &:hover{
          color: $white;
          background-color: $primary;
        }
      }
    }
    .btn{
      &.secondary{
      color: $primary;
      background-color: $white;
      &:hover{
        color: $white;
        background-color: $primary;
      }
    }
  } 
  }
    .sec-search-filters{
      &.active{
        .input-group{
          .input-group-addon{
            background-color: $white;
            svg{
              fill: $primary;
            }
          }
          .form-control{
            border: 1px solid $primary;
          }
        }
      }
      
    }
    
  }
  &.has-bg-secondary{
    padding: 32px 0;
    background-color: rgba($secondary, 0.7);
    .sec-title{
      h1, h2, h3, h4, h5, h6{
        color: $white;
      }
    }
    .sec-paragraph{
      p{
        color: $white;
      }
    }
    .sec-buttons{
      .btn{
        color: $secondary;
        background-color: $white;
      }
    }
    .sec-buttons{
        .btn{
          &.primary{
          color: $primary;
          background-color: $white;
          &:hover{
            color: $white;
            background-color: $primary;
          }
        }
      }
      .btn{
        &.secondary{
        color: $primary;
        background-color: $white;
        &:hover{
          color: $white;
          background-color: $primary;
        }
      }
    } 
    }
    .sec-search-filters{
      &.active{
        .input-group{
          .input-group-addon{
            background-color: $white;
            svg{
              fill: $secondary;
            }
          }
          .form-control{
            border: 1px solid $secondary;
          }
        }
      }
      
    }
    
  }
}
    
    .obituaries-tile{
        display: flex;
        align-items: center;
        align-items: flex-start;
        position: relative;
        @media (max-width: 414.98px) {
          flex-direction:column;
        }
        .thumbnail {
            position: relative;
            margin-right: 1.25rem;
            overflow: hidden;
            border-radius: 8px;
            width: 125px;
            min-width: 125px;
            @media (max-width: 414.98px) {
              margin-bottom:10px;
              }
            img {
              height: 125px;
              transition: $transitions;
            }
          }
          @media screen and (min-width: 768px) {
            .thumbnail {
                margin-right: 2.188rem;
                width: 194px;
                min-width: 194px;
                img {
                    height: 219px;
                  }
                
            }
          }
          

          &.separator{
              border-bottom: solid 1px $border;
              padding-bottom: 39.5px;
              margin-bottom: 39.5px;
          }

          &.box{
            box-shadow: 0px 2px 6px $border;
            border: 1px solid $border;
            padding: 2rem;
            border-radius: 0;
            @media (max-width: 767.98px) {
                padding: 1rem;
            }
          }
          &.radius{
            border-radius: 10px;   
        }
        &.round{
            border-radius: 50px;   
        }
        &.primary{
          a{
            &:hover {
              .info{
                h1,h2,h3,h4,h5,h6{
                  color: $primary !important;
                }
              }
            }
          }
        }
        &.secondary{
          a{
            &:hover {
              .info{
                h1,h2,h3,h4,h5,h6{
                  color: $primary !important;
                }
              }
            }
          }
        }
        // Variation Rounded
        &.var-2{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 165px;
                min-width: 165px;
                border-radius: 100px;
                margin-right: 0;
                img {
                  height: 165px;
                  border-radius: 100px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 165px;
                    min-width: 165px;
                    img {
                        height: 165px;
                      }
                    
                }
              }
              .info{
                a{
                    color: $black;
                }
              }
              a{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation radius
        &.var-3{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 100%;
                min-width: 100%;
                border-radius: 0;
                margin-right: 0;
                img {
                  height: 164px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 100%;
                    min-width: 100%;
                    img {
                        height: 164px;
                      }
                    
                }
              }
              .info{
                a{
                    color: $black;
                }
              }
              a{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation Box Tile
        &.var-4{
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            box-shadow: 0px 6px 6px #0000000A;
            border: 1px solid $border;
            border-radius: 0;
            padding-bottom: 10px;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 100%;
                min-width: 100%;
                border-radius: 0;
                margin-right: 0;
                img {
                  height: 236px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 100%;
                    min-width: 100%;
                    img {
                        height: 236px;
                      }
                    
                }
              }
              
              &:hover {
                background-color: $black;
                .info{
                  h1,h2,h3,h4,h5,h6{
                    color: $white;
                  }
                  .sec-paragraph{
                    p{
                      color: $white;
                    }
                  }
                }
              }

              a{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $white;
                    }
                    .sec-paragraph{
                      p{
                        color: $white;
                      }
                    }
                  }
                }
                
              }
        }

        // Variation parallel round img Tile
        &.var-5{
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            border-radius: 0;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 122px;
                min-width: 122px;
                border-radius: 100px;
                margin-right: 1rem;
                img {
                  height: 122px;
                  border-radius: 100px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 122px;
                    min-width: 122px;
                    img {
                        height: 122px;
                      }
                    
                }
              }
              .info{
                @media screen and (max-width: 414.98px) {
                    text-align:center;
                }
                a{
                    color: $black;
                }
              }
              a{
                text-decoration: none;
                color: $black;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                display: flex;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation parallel flat img Tile
        &.var-6{
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            border-radius: 0;
            background-color: $white;
            @media screen and (max-width: 767.98px) {
              flex-direction: column;
          }
            @media screen and (max-width: 575.98px) {
                flex-direction: column;
            }
            .thumbnail {
                width: 203px;
                min-width: 203px;
                border-radius: 0;
                margin-right: 1.5rem;
                @media screen and (max-width: 575.98px) {
                    width: 100%;
                    min-width: 100%;
                    margin-right: 0;
                }
                img {
                  height: 203px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 203px;
                    min-width: 203px;
                    img {
                        height: 203px;
                      }
                    
                }
              }
              .info{
                @media screen and (max-width: 575.98px) {
                    padding: 10px;
                    text-align:center;
                    
                }
              }
              a{
                text-decoration: none;
                color: $black;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                display: flex;
                @media screen and (max-width: 767.98px) {
                  flex-direction: column;
              }
              .thumbnail {
                @media screen and (max-width: 767.98px) {
                    width: 100%;
                    min-width: 100%;
                    margin-right: 0;
                }
                img {
                  height: 203px;
                }
              }
              .info{
                @media screen and (max-width: 767.98px) {
                    padding: 10px;
                    text-align:center;
                    
                }
              }
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation flat img Tile
        &.var-7{
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            border-radius: 0;
            position: relative;
            height: 387px;
            &:hover {
              img {
                transform: scale(1.2);
              }
            }
            a {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%; 
                height: 100%;
            }
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20%;
                z-index: 1;
                background: transparent linear-gradient(180deg, #00000000 0%, #000000A6 100%) 0% 0% no-repeat padding-box;
            }
            .thumbnail {
                width: 100%;
                min-width: 100%;
                border-radius: 0;
                margin-right: 0;
                position: absolute;
                z-index: 0;
                img {
                  height: 387px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 100%;
                    min-width: 100%;
                    img {
                        height: 387px;
                      }
                    
                }
              }
              .info{
                position: absolute;
                bottom:10px;
                left: 0;
                width: 100%;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
              }
        }
        a{
          &:hover {
            img {
              transform: scale(1.2);
            }
          }
          
        }
    }
    a{
        &.obituaries-tile{
            display: flex;
        }
    }

// obituaries bottom link and description
.sec-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    .sec-links {
      margin-bottom: 4px;
    }
  }
  &.default {
    background-color: $black;
    padding: 1.5rem;
    .sec-paragraph{
      p{
        color: $white;
      }
    }
  }
  &.primary {
    background-color: $primary;
    padding: 1.5rem;
    .sec-paragraph{
      p{
        color: $white;
      }
    }
  }
  &.secondary {
    background-color: $secondary;
    padding: 1.5rem;
    .sec-paragraph{
      p{
        color: $white;
      }
    }
  }


  &.bg-default{
    padding: 1rem;
    @media screen and (min-width: 992px) {
      padding: 1.5rem;
    }
    background-color: $btn-default !important;
  }
  &.bg-primary{
    padding: 1rem;
    @media screen and (min-width: 992px) {
      padding: 1.5rem;
    }
    background-color: $primary !important;
  }
  &.bg-secondary{
    padding: 1rem;
    @media screen and (min-width: 992px) {
      padding: 1.5rem;
    }
    background-color: $secondary !important;
  }
  .sec-buttons{
    @media screen and (max-width: 991px) {
      margin-bottom: 16px;
    }
  }
}

// sliders options
.obituaries-slider {
  position: relative;
  .slider-var-1-prev,
  .slider-var-1-next {
    position: absolute;
    top: 34%;
    transition: all .2s ease;
    z-index: 2;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .slider-var-1-prev {
    left: -32px;
    transform: translateY(-0) rotate(-180deg);
    &:hover {
      svg {
        transform: translateX(0px) translateY(3px);
      }
    }
    @media screen and (min-width: 1200px) {
      left: -60px;
    }
  }
  .slider-var-1-next {
    right: -32px;
    &:hover {
      svg {
        transform: translateX(0px) translateY(-3px);
      }
    }
    @media screen and (min-width: 1200px) {
      right: -60px;
    }
  }
  &.obituaries-slider-home-1{
    .slider-var-2-prev,
    .slider-var-2-next {
      position: absolute;
      top: 34%;
      transition: all .2s ease;
      z-index: 2;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .slider-var-2-prev {
      left: -32px;
      transform: translateY(-0) rotate(-180deg);
      &:hover {
        svg {
          transform: translateX(0px) translateY(3px);
        }
      }
      @media screen and (min-width: 1200px) {
        left: -60px;
      }
    }
    .slider-var-2-next {
      right: -32px;
      &:hover {
        svg {
          transform: translateX(0px) translateY(-3px);
        }
      }
      @media screen and (min-width: 1200px) {
        right: -60px;
      }
    }
  }
  &.obituaries-slider-home-2{
    .slider-var-2-prev,
    .slider-var-2-next {
      position: absolute;
      top: 34%;
      transition: all .2s ease;
      z-index: 2;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .slider-var-2-prev {
      left: -32px;
      transform: translateY(-0) rotate(-180deg);
      &:hover {
        svg {
          transform: translateX(0px) translateY(3px);
        }
      }
      @media screen and (min-width: 1200px) {
        left: -60px;
      }
    }
    .slider-var-2-next {
      right: -32px;
      &:hover {
        svg {
          transform: translateX(0px) translateY(-3px);
        }
      }
      @media screen and (min-width: 1200px) {
        right: -60px;
      }
    }
  }

  &.obituaries-slider-home-3{
    display: flex;
    .swiper-slide{
      display: flex;
    }
    .slider-var-3-prev,
    .slider-var-3-next {
      position: absolute;
      top: 34%;
      transition: all .2s ease;
      z-index: 2;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .slider-var-3-prev {
      left: -32px;
      transform: translateY(-0) rotate(-180deg);
      &:hover {
        svg {
          transform: translateX(0px) translateY(3px);
        }
      }
      @media screen and (min-width: 1200px) {
        left: -60px;
      }
    }
    .slider-var-3-next {
      right: -32px;
      &:hover {
        svg {
          transform: translateX(0px) translateY(-3px);
        }
      }
      @media screen and (min-width: 1200px) {
        right: -60px;
      }
    }
  }

  &.obituaries-slider-home-4,
  &.obituaries-slider-home-5{
    .swiper-wrapper{
      display: grid;
      gap: 0;
      row-gap: 24px;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        row-gap: 24px;
      }
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        row-gap: 24px;
      }
      @media screen and (min-width: 1325px) {
        grid-template-columns: repeat(auto-fill, minmax(16.6%, 1fr));
        row-gap: 24px;
      }
    }
    
    .slider-var-4-prev,
    .slider-var-4-next {
      position: absolute;
      top: 34%;
      transition: all .2s ease;
      z-index: 2;
      display: none;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .slider-var-4-prev {
      left: -32px;
      transform: translateY(-0) rotate(-180deg);
      &:hover {
        svg {
          transform: translateX(0px) translateY(3px);
        }
      }
      @media screen and (min-width: 1200px) {
        left: -60px;
      }
    }
    .slider-var-4-next {
      right: -32px;
      &:hover {
        svg {
          transform: translateX(0px) translateY(-3px);
        }
      }
      @media screen and (min-width: 1200px) {
        right: -60px;
      }
    }
    &.has-slider{
      .swiper-wrapper{
        display: flex;
      }
      .slider-var-4-prev,
      .slider-var-4-next{
        display: block;
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
    }
    &.flat{
      .obituaries-tile{
        .thumbnail{
          border-radius: 0px;
          img{
            border-radius: 0px;
          }
        }
      }
    }
    &.radius{
      .obituaries-tile{
        .thumbnail{
          border-radius: 10px;
          img{
            border-radius: 10px;
          }
        }
      }
    }
    &.round{
      .obituaries-tile{
        .thumbnail{
          border-radius: 100px;
          img{
            border-radius: 100px;
          }
        }
      } 
    }
  }

}

// grid options
.obituaries-grid-wrapper {
  &.obituaries-grid-home-1 {
    display: grid;
    gap: 0;
    row-gap: 24px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      row-gap: 0;
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
    @media screen and (min-width: 1325px) {
      grid-template-columns: repeat(auto-fill, minmax(16.6%, 1fr));
    }
  }

  &.obituaries-grid-home-2 {
    display: grid;
    gap: 0;
    width: 100%;
    row-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    @media screen and (min-width: 1325px) {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
  }

  &.obituaries-grid-home-3 {
    display: grid;
    gap: 16px;
    width: 100%;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
    @media screen and (min-width: 1325px) {
      grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    }
  }
  &.obituaries-grid-home-4,
  &.obituaries-grid-home-5 {
    display: grid;
    gap: 0;
    row-gap: 24px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
      row-gap: 0;
    }
    @media screen and (min-width: 1325px) {
      grid-template-columns: repeat(auto-fill, minmax(16.6%, 1fr));
    }
  }
}

.obituaries-grid-wrapper.obituaries-grid-home-5 {
  @media screen and (min-width: 576px) {
    row-gap: 0;
  }
}


// on mobile screen ob grid view
.obituaries-slider {
  .swiper-wrapper {
    @media screen and (max-width: 991px) {
      display: grid !important;
      gap: 24px;
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
  }
}


.sec-obituaries-inner{
  &.flat{
    .obituaries-tile{
      .thumbnail{
        border-radius: 0px;
        img{
          border-radius: 0px;
        }
      }
    }
  }
  &.radius{
    .obituaries-tile{
      .thumbnail{
        border-radius: 10px;
        img{
          border-radius: 10px;
        }
      }
    }
  }
  &.round{
    .obituaries-tile{
      .thumbnail{
        border-radius: 100px;
        img{
          border-radius: 100px;
        }
      }
    } 
  }
}