//For Inner pages
.sec-obituaries-inner{
    a{
        &.obituaries-tile{
            display: flex; 
        }
    }
    .obituaries-tile{
        display: flex;
        align-items: center;
        align-items: flex-start;
        margin-bottom: 2.5rem;

        .thumbnail {
            position: relative;
            margin-right: 1.25rem;
            overflow: hidden;
            border-radius: 8px;
            width: 300px;
            img {
              height: 300px;
            }
          }

          
          
          @media screen and (min-width: 768px) {
            .thumbnail {
                margin-right: 2.188rem;
                width: 194px;
                // height: 219px;
                // min-width: 219px;
            }
          }
          .info {
            text-align: left;
            margin-top: 6px;
          }
    }
}

