//For Inner pages
.sec-obituaries-inner{
}
    
    .obituaries-tile{
        display: flex;
        align-items: center;
        align-items: flex-start;
        position: relative;
        @media (max-width: 414.98px) {
          flex-direction:column;
        }
        .thumbnail {
            position: relative;
            margin-right: 1.25rem;
            overflow: hidden;
            border-radius: 8px;
            width: 125px;
            min-width: 125px;
            @media (max-width: 414.98px) {
              margin-bottom:10px;
              }
            img {
              height: 125px;
            }
          }
          @media screen and (min-width: 768px) {
            .thumbnail {
                margin-right: 2.188rem;
                width: 194px;
                min-width: 194px;
                img {
                    height: 219px;
                  }
                
            }
          }
          

          &.separator{
              border-bottom: solid 1px $border;
              padding-bottom: 39.5px;
              margin-bottom: 39.5px;
          }

          &.box{
            box-shadow: 0px 2px 6px $border;
            border: 1px solid $border;
            padding: 2rem;
            border-radius: 0;
            @media (max-width: 767.98px) {
                padding: 1rem;
            }
          }
          &.radius{
            border-radius: 10px;   
        }
        &.round{
            border-radius: 50px;   
        }
        // Variation Rounded
        &.var-2{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 165px;
                min-width: 165px;
                border-radius: 100%;
                margin-right: 0;
                img {
                  height: 165px;
                  transition: none;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 165px;
                    min-width: 165px;
                    img {
                        height: 165px;
                      }
                    
                }
              }
              .info{
                a{
                    color: $black;
                }
              }
              a{
                text-decoration: none;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation radius
        &.var-3{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 100%;
                min-width: 100%;
                border-radius: 0;
                margin-right: 0;
                img {
                  height: 164px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 100%;
                    min-width: 100%;
                    img {
                        height: 164px;
                      }
                    
                }
              }
              .info{
                a{
                    color: $black;
                }
              }
              a{
                text-decoration: none;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation Box Tile
        &.var-4{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: 0px 6px 6px #0000000A;
            border: 1px solid $border;
            border-radius: 0;
            padding-bottom: 10px;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 100%;
                min-width: 100%;
                border-radius: 0;
                margin-right: 0;
                img {
                  height: 236px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 100%;
                    min-width: 100%;
                    img {
                        height: 236px;
                      }
                    
                }
              }
              
              &:hover {
                background-color: $black;
                .info{
                  h1,h2,h3,h4,h5,h6{
                    color: $white;
                  }
                  .sec-paragraph{
                    p{
                      color: $white;
                    }
                  }
                }
              }

              a{
                text-decoration: none;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $white;
                    }
                    .sec-paragraph{
                      p{
                        color: $white;
                      }
                    }
                  }
                }
                
              }
        }

        // Variation parallel round img Tile
        &.var-5{
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            border-radius: 0;
            &:hover {
                img {
                  transform: scale(1.2);
                }
                .info{
                    a{
                        color: $anchor-color;
                        text-decoration: none;
                    }
                  }
              }
            .thumbnail {
                width: 122px;
                min-width: 122px;
                border-radius: 100%;
                margin-right: 1rem;
                img {
                  height: 122px;
                  transition: none;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 122px;
                    min-width: 122px;
                    img {
                        height: 122px;
                      }
                    
                }
              }
              .info{
                @media screen and (max-width: 414.98px) {
                    text-align:center;
                }
                a{
                    color: $black;
                }
              }
              a{
                text-decoration: none;
                color: $black;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                display: flex;
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation parallel flat img Tile
        &.var-6{
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            border-radius: 0;
            background-color: $white;
            @media screen and (max-width: 767.98px) {
              flex-direction: column;
          }
            @media screen and (max-width: 575.98px) {
                flex-direction: column;
            }
            .thumbnail {
                width: 203px;
                min-width: 203px;
                border-radius: 0;
                margin-right: 1.5rem;
                @media screen and (max-width: 575.98px) {
                    width: 100%;
                    min-width: 100%;
                    margin-right: 0;
                }
                img {
                  height: 203px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 203px;
                    min-width: 203px;
                    img {
                        height: 203px;
                      }
                    
                }
              }
              .info{
                @media screen and (max-width: 575.98px) {
                    padding: 10px;
                    text-align:center;
                    
                }
              }
              a{
                text-decoration: none;
                color: $black;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                display: flex;
                @media screen and (max-width: 767.98px) {
                  flex-direction: column;
              }
              .thumbnail {
                @media screen and (max-width: 767.98px) {
                    width: 100%;
                    min-width: 100%;
                    margin-right: 0;
                }
                img {
                  height: 203px;
                }
              }
              .info{
                @media screen and (max-width: 767.98px) {
                    padding: 10px;
                    text-align:center;
                    
                }
              }
                &:hover{
                  .info{
                    h1,h2,h3,h4,h5,h6{
                      color: $anchor-color;
                    }
                  }
                }
                
              }
        }

        // Variation flat img Tile
        &.var-7{
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            border-radius: 0;
            position: relative;
            height: 387px;
            &:hover {
              img {
                transform: scale(1.2);
              }
            }
            a {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%; 
                height: 100%;
            }
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20%;
                z-index: 1;
                background: transparent linear-gradient(180deg, #00000000 0%, #000000A6 100%) 0% 0% no-repeat padding-box;
            }
            .thumbnail {
                width: 100%;
                min-width: 100%;
                border-radius: 0;
                margin-right: 0;
                position: absolute;
                z-index: 0;
                img {
                  height: 387px;
                }
              }
              @media screen and (min-width: 768px) {
                .thumbnail {
                    width: 100%;
                    min-width: 100%;
                    img {
                        height: 387px;
                      }
                    
                }
              }
              .info{
                position: absolute;
                bottom:10px;
                left: 0;
                width: 100%;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
              }
        }

    }
    a{
        &.obituaries-tile{
            display: flex;
        }
    }

// obituaries bottom link and description
.sec-subscribe {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
    .sec-links {
      margin-bottom: 4px;
    }
  }
  &.dark{
    background-color: $black;
    padding: 1rem;
    .sec-paragraph{
      p{
        color: $white;
      }
    }
  }
}

// sliders options
.obituaries-slider {
  position: relative;
  .slider-var-1-prev,
  .slider-var-1-next {
    position: absolute;
    top: 34%;
    transition: all .2s ease;
    z-index: 2;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .slider-var-1-prev {
    left: -32px;
    transform: translateY(-0) rotate(-180deg);
    &:hover {
      svg {
        transform: translateX(0px) translateY(3px);
      }
    }
    @media screen and (min-width: 1200px) {
      left: -60px;
    }
  }
  .slider-var-1-next {
    right: -32px;
    &:hover {
      svg {
        transform: translateX(0px) translateY(-3px);
      }
    }
    @media screen and (min-width: 1200px) {
      right: -60px;
    }
  }
  &.var-2{
    .slider-var-2-prev,
    .slider-var-2-next {
      position: absolute;
      top: 34%;
      transition: all .2s ease;
      z-index: 2;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .slider-var-2-prev {
      left: -32px;
      transform: translateY(-0) rotate(-180deg);
      &:hover {
        svg {
          transform: translateX(0px) translateY(3px);
        }
      }
      @media screen and (min-width: 1200px) {
        left: -60px;
      }
    }
    .slider-var-2-next {
      right: -32px;
      &:hover {
        svg {
          transform: translateX(0px) translateY(-3px);
        }
      }
      @media screen and (min-width: 1200px) {
        right: -60px;
      }
    }
  }

  &.var-3{
    .slider-var-3-prev,
    .slider-var-3-next {
      position: absolute;
      top: 34%;
      transition: all .2s ease;
      z-index: 2;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .slider-var-3-prev {
      left: -32px;
      transform: translateY(-0) rotate(-180deg);
      &:hover {
        svg {
          transform: translateX(0px) translateY(3px);
        }
      }
      @media screen and (min-width: 1200px) {
        left: -60px;
      }
    }
    .slider-var-3-next {
      right: -32px;
      &:hover {
        svg {
          transform: translateX(0px) translateY(-3px);
        }
      }
      @media screen and (min-width: 1200px) {
        right: -60px;
      }
    }
  }

}

// grid options
.obituaries-grid-wrapper {
  &.grid-var-1 {
    display: grid;
    gap: 0;
    row-gap: 24px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      row-gap: 0;
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
    @media screen and (min-width: 1325px) {
      grid-template-columns: repeat(auto-fill, minmax(16.6%, 1fr));
    }
  }

  &.grid-var-2 {
    display: grid;
    gap: 0;
    width: 100%;
    row-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    @media screen and (min-width: 1325px) {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
  }

  &.grid-var-3 {
    display: grid;
    gap: 16px;
    width: 100%;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
    @media screen and (min-width: 1325px) {
      grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    }
  }
}

// bg option
.obituaries-bg-wrapper{
  padding: 78px;
  @media screen and (max-width: 991px) {
    padding: 20px;
  }
  &.with-bg{
   background-color: $bg; 
  }
}
