//Component varialbes

.ob-search{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  //Search Block Box 
  &.box{
    box-shadow: 0px 6px 6px #00000012;
    border: 1px solid $border;
    padding: 2rem;
    border-radius: 0;
    .sec-search-filters{
      .input-group{
        .input-group-addon{
          svg{
            fill: $border;
          }
        }
      }
      &.primary{
        .input-group{
          .form-control{
            &:focus{
              border: 1px solid $primary;
            }
          }
          .input-group-addon{
            &:hover, &:focus{
              background-color: $primary;
              box-shadow: none;
              svg {
                fill: $white;
              }
            }
            svg {
              fill: $primary;
            }
          }
        }
      }
  
      &.secondary{
        .input-group{
          .form-control{
            &:focus{
              border: 1px solid $secondary;
            }
          }
          .input-group-addon{
            &:hover, &:focus{
              background-color: $secondary;
              box-shadow: none;
              svg {
                fill: $white;
              }
            }
            svg {
              fill: $secondary;
            }
          }
        }
      }
    }
    
  }
  &.var-1{
    flex-direction: column;
  }
  &.var-2{
    flex-direction: row;
    align-items: center;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .sec-title {
      width: 45%;
      @media (max-width: 991.98px) {
        width: 100%;
      }
    }
  }
  &.var-3 {
    
  }
  &.var-4{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .sec-search-filters{
      width: 33%;
      order: 0;
      @media (max-width: 991.98px) {
        width: 100%;
        order: 2;
        margin-bottom: 16px;
      }
    }
    .sec-title {
      width: 45%;
      text-align: center;
      order: 1;
      @media (max-width: 991.98px) {
        width: 100%;
        text-align: left;
        order: 1;
        margin-bottom: 16px;
      }
    }
    .sec-buttons{
      order: 2;
      margin-left: 16px;
      @media (max-width: 991.98px) {
        order: 2;
        margin-left: 0px;
        width: 100%;
      }
    }
  }

  &.var-5{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .sec-search-filters{
      width: 33%;
      @media (max-width: 991.98px) {
        width: 100%;
        margin-bottom: 16px;
      }
    }
    .sec-title {
      width: 45%;
      text-align: left;
      order: 0;
      @media (max-width: 991.98px) {
        width: 100%;
        text-align: left;
        order: 0;
        margin-bottom: 16px;
      }
    }
    .sec-buttons{
      order: 1;
      margin-left: 16px;
      @media (max-width: 991.98px) {
        order: 1;
        margin-left: 0px;
        width: 100%;
      }
    }
  }

  &.var-6{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .sec-search-filters{
      width: 33%;
      order: 2;
      position: absolute;
      right: 0;
      @media (max-width: 991.98px) {
        width: 100%;
        order: 1;
        position: static;
        margin-bottom: 16px;
      }
    }
    .sec-title {
      width: auto;
      text-align: left;
      order: 0;
      position: relative;
      padding-right: 20px;
      margin-right: 20px;
      border-right: solid 1px $black;
      @media (max-width: 991.98px) {
        width: auto;
        text-align: left;
        order: 0;
        border-right:0;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 16px;
      }
    }
    .sec-links{
      order: 1;
      margin-left: 16px;
      @media (max-width: 991.98px) {
        order: 2;
        margin-left: 0px;
      }
    }
  } 

}
 
/* line 83, src/assets/scss/pages/obituaries.scss */
.sec-search-filters {
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    justify-content: flex-start;
    width: 100%;
    @media (max-width: 991.98px) {
      flex-direction: column;
      .sec-title {
        margin-bottom: 1.5rem;
      }
    }

    .input-group{
      width: 100%;
      position: relative;
      @media (max-width: 991.98px) {
        width: 100%;
      }
      .form-control {
        height: 48px;
        border: 1px solid $border;
        border-radius: 0;
        padding-right: 64px;
        font-size: 18px;
        padding-left: 25px;
        &:focus{
          box-shadow: none;
          border: 1px solid $black;
        }
        
      }
      .input-group-addon{
        position: absolute;
        z-index: 8;
        background-color: $white;
        width: 64px;
        right: 1px;
        top: 1px;
        height: 46px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        outline: none;
        transition: $transitions;
        
        svg {
          width: 20px;
          height: 20px;
          fill: $black;
        }
        &:hover, &:focus{
          background-color: $black;
          box-shadow: none;
          svg {
            fill: $white;
          }
        }
      }
      
    }

    &.radius{
      .input-group{
        .form-control{
          border-radius: 4px;
        }
        .input-group-addon{
          border-radius: 0 4px 4px 0;
        }
      }
      
      
    }
    &.round{
      .input-group{
        .form-control{
          border-radius: 50px;
        }
        .input-group-addon{
          border-radius: 0 50px 50px 0;
        }
      }
      
    }

    // Input Sizes
    &.x-small{
      .input-group{
        .form-control{
          height: 36px;
        }
        .input-group-addon{
          height: 34px;
        }
      }
      
    }
    &.small{
      .input-group{
        .form-control{
          height: 40px;
        }
        .input-group-addon{
          height: 38px;
        }
      }
    }
    &.big{
      .input-group{
        .form-control{
          height: 52px;
        }
        .input-group-addon{
          height: 50px;
        }
      }
    }

    // Input Colors
    &.primary{
      .input-group{
        .form-control{
          &:focus{
            border: 1px solid $primary;
          }
        }
        .input-group-addon{
          &:hover, &:focus{
            background-color: $primary;
            box-shadow: none;
            svg {
              fill: $white;
            }
          }
          svg {
            fill: $primary;
          }
        }
      }
    }

    &.secondary{
      .input-group{
        .form-control{
          &:focus{
            border: 1px solid $secondary;
          }
        }
        .input-group-addon{
          &:hover, &:focus{
            background-color: $secondary;
            box-shadow: none;
            svg {
              fill: $white;
            }
          }
          svg {
            fill: $secondary;
          }
        }
      }
    }

    // Input Light
    &.light{
      .input-group{
        .form-control{
          border: 1px solid $white;
          background-color: $white;
          &:focus{
            border: 1px solid $white;
          }
        }
        .input-group-addon{
          svg {
            fill: $white;
          }
        }
      }
    }

    // Input Light Transparent
    &.light-transparent{
      .input-group{
        .form-control{
          border: 1px solid $white;
          background-color: transparent;
          color:$white;
        }
        .input-group-addon{
          svg {
            fill: $white;
          }
        }
      }
      .input-group .form-control::-webkit-input-placeholder {
        color: $white;
      }
      
      .input-group .form-control:-ms-input-placeholder {
        color: $white;
      }
      
      .input-group .form-control::-ms-input-placeholder {
        color: $white;
      }
      
      .input-group .form-control::placeholder {
        color: $white;
      }
      
    }
    
    &.active{
      .input-group{
        .form-control{
          border: 1px solid $black;
          &:focus{
            border: 1px solid $black;
          }
        }
        .input-group-addon{
          background-color: $black;
          svg {
            fill: $white;
          }
        }
      }
  
      &.primary{
        .input-group{
          .form-control{
            &:focus{
              border: 1px solid $primary;
            }
          }
          .input-group-addon{
            background-color: $primary;
              svg {
                fill: $white;
              }
          }
        }
      }
  
      &.secondary{
        .input-group{
          .form-control{
            &:focus{
              border: 1px solid $secondary;
            }
          }
          .input-group-addon{
              background-color: $secondary;
              svg {
                fill: $white;
              }
          }
        }
      }
    }
   
  }
  
  
  
  

