// spacer sizes
.spacer {
    &.height-16 {
      
      height: 1rem;
      @media (max-width: 991px) {
        height: .5rem;
      }
    }
    &.height-24 {
      
      height: 1.5rem;
      @media (max-width: 991px) {
        height: .75rem;
      }
    }
    &.height-32 {
      
      height: 2rem;
      @media (max-width: 991px) {
        height: 1rem;
      }
    }
    &.height-38 {
      
      height: 38px;
      @media (max-width: 991px) {
        height: 1.5rem;
      }
    }
    &.height-42 {
      
      height: 2.5rem;
      @media (max-width: 991px) {
        height: 1.25rem;
      }
    }
    &.height-48 {
      
      height: 3rem;
      @media (max-width: 991px) {
        height: 1.5rem;
      }
    }
    &.height-60 {
      
      height: 60px;
      @media (max-width: 991px) {
        height: 2rem;
      }
    }
    &.height-80 {
      
      height: 80px;
      @media (max-width: 991px) {
        height: 40px;
      }
    }
    &.height-99 {
      
      height: 6.1875rem;
      @media (max-width: 991px) {
        height: 3rem;
      }
    }
    &.height-110 {
      
      height: 6.875rem;
      @media (max-width: 991px) {
        height: 4rem;
      }
    }
    &.height-114 {
        
        height: 7.125rem;
        @media (max-width: 991px) {
          height: 4rem;
        }
    }
    &.height-118 {
      
      height: 7.375rem;
      @media (max-width: 991px) {
        height: 4rem;
      }
    }
}

// spacer with white background
.spacer {
  &.white {
    background-color: $white;
  }
}
// spacer with default background
.spacer {
  &.default-bg {
    background-color: $bg;
  }
}
// spacer with transparent background
.spacer {
  &.transparent {
    background-color: transparent;
  }
}

.divider{
  border-bottom: solid 1px $border;
    &.height-small {
      margin: 1rem 0;
      @media (max-width: 991px) {
        margin: .5rem 0;
      }
    }
    &.height-medium {
      margin: 1.5rem 0;
      @media (max-width: 991px) {
        margin: .75rem 0;
      }
    }
    &.height-large {
      margin: 2rem 0;
      @media (max-width: 991px) {
        margin: 1rem 0;
      }
    }
}
