// testimonials box
.testimonial-box {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 24px;
    box-shadow: 0px 3px 8px #00000029;
    background-color: $white;
    @media screen and (min-width: 992px) {
        padding: 40px;
    }
    
}

// testimonaisl as a module 
.sec-testimonails {
    position: relative;
    overflow: hidden;
    .container,
    .container-xl,
    .container-fluid {
        position: relative;
    }

    // single tile testimonails 
    &.single-tile {
        .swiper-slide {
            flex-basis: 100%;
        }
    }

    // no slider - image and tile-boxes only vertical
    &.no-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
        @media screen and (max-width: 991px) {
            padding: 0 !important;
            padding-bottom: 8px!important;
        }
        @media screen and (min-width: 992px) {
            flex-direction: row;
        }
        .art-box {
            position: relative;
            width: 100%;
            height: 350px;
            @media screen and (min-width: 992px) {
                width: 40%;
                height: 666px;
            }
            img {
                object-fit: cover;
                height: 350px;
                width: 100%;
                @media screen and (min-width: 992px) {
                    height: 666px;
                }
            }
        }
        .boxes-vertical {
            width: 100%;
            padding: 0 24px;
            padding-top: 24px;
            @media screen and (min-width: 992px) {
                width: 40%;
                margin-right: 10%;
                padding: 0;
            }
        }

        &.reverse {
            .art-box {
                @media screen and (min-width: 992px) {
                    order: 2;
                }
                
            }
            .boxes-vertical {
                
                @media screen and (min-width: 992px) {
                    order: 1;
                    width: 40%;
                    margin-right: 0;
                    margin-left: 10%;
                    padding: 0;
                }
            }
        }
    }

    // bg colors and images option
    .bg-image {
        position: absolute;
        top: 0;
        width: 100%;
        opacity: .5;
        img {
            object-fit: cover;
        }
    }
    &.default,
    &.primary,
    &.secondary {
        padding: 32px 0;
        @media screen and (min-width: 992px) {
            padding: 80px 0;
        }
        .swiper-button-prev,
        .swiper-button-next {
            color: $white;
        }
        .swiper-pagination-bullet {
            background-color: $bg;
            opacity: 1;
            &.swiper-pagination-bullet-active {
                background-color: $secondary;
            }
        }
    }

    &.default {
        background-color: $black;
    }
    &.secondary {
        background-color: $secondary;
    }
    &.primary {
        background-color: $primary;
    }

    &.no-box {
        .testimonial-box {
            background-color: transparent;
            box-shadow: none;
        }
        &.default,
        &.primary,
        &.secondary {
            .sec-paragraph {
                p {
                    color: $white;
                }
            }
        }
        &.default {
            background-color: $black;
        }
        &.secondary {
            background-color: $secondary;
        }
        &.primary {
            background-color: $primary;
        }
    }


    // swiper classes overides
    .swiper-slide {
        padding: 15px;
    }
    .swiper-pagination {
        text-align: center;
        width: 100%;
        margin-top: 32px;
        position: relative;
    }
   .swiper-pagination-bullet {
        margin: 0 10px;
        &.swiper-pagination-bullet-active {
            background-color: $btn-default;
            width: 10px;
            height: 10px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: $btn-default;
        top: 45%;
        @media screen and (max-width: 991px) {
            display: none;
        }

        &:after {
            font-size: 32px;
        }

        &:hover {
            &:after {
                    color: $secondary;
                    transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
            }
        }
    }
    .swiper-button-next {
        right: -24px;
        @media screen and (min-width: 1200px) {
            right: -32px;
        }
        
    }
    .swiper-button-prev {
        left: -24px;
        @media screen and (min-width: 1200px) {
            left: -32px;
        }
    }
}

// inner variations

.testimonial-inner {
    position: relative;
    .quote-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        @media screen and (min-width: 992px) {
            flex-direction: column;
        }
        .icon {
            margin-right: 32px;
            margin-bottom: 24px;
            width: 45px;
            height: 35px;
            min-width: 45px;
            img, svg {
                max-width: 100%;
            }
            svg *{
                fill: $btn-default;
            }
        }
    }
    .reviewer-wrapper {
        display: flex;
        align-items: center;
        .icon {
            margin-right: 24px;
            width: 50px;
            height: 50px;
            img {
                max-width: 100%;
            }
        }
    }
}
.sec-testimonial-inner{
    &.box{
        .testimonial-inner{
            border-radius: 8px;
            overflow: hidden;
            padding: 24px;
            background: $white 0% 0% no-repeat padding-box;
            box-shadow: 0px 12px 24px #00000014;
            @media screen and (min-width: 992px) {
                padding: 40px;
            }
        }
        
    }
    &.border-box{
        .testimonial-inner{
            border-radius: 8px;
            overflow: hidden;
            padding: 32px;
            background: $white 0% 0% no-repeat padding-box;
            border: 1px solid $border;
            @media screen and (min-width: 992px) {
                padding: 70px;
            }
        }
        
    }
    &.light-bg {
        .testimonial-inner{
            box-shadow: none;
            background-color: $bg;
            border-radius: 8px;
            padding: 24px; 
            @media screen and (min-width: 992px) {
                padding: 40px;
            }
        }
        
    }
    &.white-primary{
        .sec-paragraph{
            &.title{
                p{
                color: $primary;
            }
            }
        }
        .icon {
            svg *{
                fill: $primary;
            }
        }
    }
    &.white-secondary{
        .sec-paragraph{
            &.title{
                p{
                color: $secondary;
            }
            }
        }
        .icon {
            svg *{
                fill: $secondary;
            }
        }
    }
    
    &.testimonial-inner-5,
    &.testimonial-inner-6{
        display: grid;
        gap: 0;
        row-gap: 24px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            row-gap: 40px;
        }
    }
    &.testimonial-inner-7{
        .testimonial-inner {
            .quote-wrapper {
                flex-direction: column;
                @media screen and (min-width: 992px) {
                    flex-direction: row;
                }
            }
            .reviewer-wrapper{
                justify-content: flex-end;
                @media screen and (min-width: 992px) {
                    justify-content: flex-end;
                }
            }
        }
        
    }
    &.testimonial-inner-8{
        display: grid;
        gap: 0;
        row-gap: 24px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            row-gap: 30px;
        }
    }
    &.testimonial-inner-grid-1{
        display: grid;
        gap: 0;
        row-gap: 32px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            row-gap: 60px;
            gap: 60px;
            grid-template-columns: repeat(auto-fill, minmax(46.5%, 1fr));
        }
    }
    &.testimonial-inner-grid-2{
        display: grid;
        gap: 0;
        row-gap: 16px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            row-gap: 16px;
            gap: 16px;
            grid-template-columns: repeat(auto-fill, minmax(46.5%, 1fr));
        }
    }
    
}

