
// single tile
.tile-box {
    position: relative;
    background-color: $bg;
    // variations
    display: flex;
    .img-box {
        height: 250px;
        @media (min-width: 768px) {
            height: 300px;
        }
        @media (min-width: 992px) {
            height: 430px;
        }
        img {
            height: 250px;
            @media (min-width: 768px) {
                height: 300px;
            }
            @media (min-width: 992px) {
                height: 430px;
            }
        }
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        border-right: 1px solid #ffffff45;
        border-left: 1px solid #ffffff45;
        border-bottom: 1px solid #ffffff45;
        .sec-paragraph {
            padding: 20px;
            text-align: center;
        }
    }
}


// animations
.tiles-boxes-wrapper {
    &.animate-top {
        .tile-box {
            transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
            transform: translateX(0px) translateY(0px);
            &:hover {
                transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
                transform: translateX(0px) translateY(-3px);
                box-shadow: 0px 9px 5px -5px #000000bf
            }
        }
    }

    &.animate-backdrop {
        .tile-box {
            .img-box {
                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #13121254;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: all 0.5s ease 0s;
                }
            }
            
            &:hover {
                .img-box {
                    &:before {
                        opacity: 1;
                        z-index: 1;
                    }
                }
                
            } 
        } 
    }
    &.animate-scale {
        .tile-box {
            img {
                transform: scale(1);
                transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
            }
            &:hover {
                img {
                    
                    transform: scale(1.03);
                    transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
                }
            }
        }
    }

    &.hover-color {
        .tile-box {
            &:hover {
                .content {
                    .sec-paragraph {
                        p {
                            color: $secondary;
                        }
                        &:after {
                            border-color: $secondary;
                        }
                    }
                }
            }
        }
    }
}




// section tile boxes as module 
.sec-tile-boxes {
    .container-fluid {
        @media (min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    // default variation
    .tiles-boxes-wrapper {
        display: flex;
        flex-wrap: wrap;
        
        .tile-box {
            width: 100%;
            margin-bottom: 16px;
            @media (min-width: 768px) {
                width: 50%;
                margin-bottom: 0;
            }
            @media (min-width: 992px) {
                flex: auto;
                width: 0;
                
            }
        }
    }

    // border radius
    .tiles-boxes-wrapper {
        &.radius {
            .tile-box {
                border-radius: 8px;
                overflow: hidden;
            }
        }
    }

    // text with arrow
    .text-with-arrow {
        display: grid;
        gap: 0;
        width: 100%;
        //row-gap: 24px;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
            column-gap: 24px;
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
        }
        .tile-box {
            width: 100%;
            @media (max-width: 991px) {
                margin-bottom: 80px;
                .content {
                    bottom: -40px !important;
                }
            }
            @media (min-width: 992px) {
                // max-width: 380px;
                // margin: 0 5px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }

            .img-box {
                @media (min-width: 992px) {
                    height: 340px;
                }
                img {
                    @media (min-width: 992px) {
                        height: 340px;
                    }
                }
            }

            .content {
                height: auto;
                bottom: -50px;
                justify-content: flex-start;
                .sec-paragraph {
                    padding: 0;
                    &:after {
                        right: 3px;
                        padding: 4px;
                        content: "";
                        position: absolute;
                        line-height: 1;
                        transition: all .3s ease-in-out;
                        border: solid $black;
                        border-width: 0 3px 3px 0;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 13px;
                        @media (min-width: 992px) {
                            top: 19px;
                            padding: 5px;
                            border-width: 0 4px 4px 0;
                        }
                    }
                }
            }
        }
    }

    // two cols variation
    .two-cols {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        .sec-title {
            margin-bottom: 32px;
            @media (min-width: 768px) {
                margin-bottom: 0;
            }
        }
        .sec-title,
        .tiles-boxes-wrapper {
            width: 100%;
            @media (min-width: 768px) {
                width: 50%;
            }
        }
        .sec-title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 50px;
        }
        .tiles-boxes-wrapper {
            display: flex;
            flex-wrap: wrap;
            .tile-box {
                width: 100%;
                @media (min-width: 768px) {
                    width: 50%;
                }
            }
        }

        // small tiles for 1200
        &.small-tiles {
            .tile-box {
                .img-box {
                    @media (min-width: 992px) {
                        height: 300px;
                    }
                    img {
                        @media (min-width: 992px) {
                            height: 300px;
                        }
                    }
                }
            }
        }

        // medium tiles for 1640px
        &.medium-tiles {
            .tile-box {
                .img-box {
                    @media (min-width: 992px) {
                        height: 350px;
                    }
                    img {
                        @media (min-width: 992px) {
                            height: 350px;
                        }
                    }
                }
            }
            .sec-title {
                padding: 0 32px;
                @media (min-width: 768px) {
                    padding: 0 50px;
                }
                @media (min-width: 992px) {
                    padding: 0 70px;
                }
            }
        }

        &.large-tile {
            .sec-title {
                padding: 0 50px;
                @media (min-width: 768px) {
                    padding: 0 60px;
                }
                @media (min-width: 992px) {
                    padding: 0 110px;
                }
                
            }
        }
    }

    // big tile
    .single-tile-big {

        display: grid;
        gap: 0;
        width: 100%;
        //row-gap: 24px;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
            // column-gap: 10px;
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
            column-gap: 10px;
        }


        .tile-box {
            width: 100%;
            .img-box {
                @media (min-width: 992px) {
                    height: 510px;
                }
                img {
                    @media (min-width: 992px) {
                        height: 510px;
                    }
                }
            }
            .content {
                
                @media (min-width: 992px) {
                    padding-bottom: 70px;
                    align-items: flex-end;
                }
                
            }
        }

        &.with-margin {
            
            @media (min-width: 992px) {
                justify-content: space-between;
            }
            .tile-box {
                @media (min-width: 992px) {
                    max-width: 260px;
                }
                
            }
        }
    }

    // single-tile-big-x 
    .single-tile-big-x {

        display: grid;
        gap: 0;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
            column-gap: 10px;
        }


        .tile-box {
            width: 100%;
            .img-box {
                @media (min-width: 992px) {
                    height: 800px;
                }
                img {
                    @media (min-width: 992px) {
                        height: 800px;
                    }
                }
            }
        }
    }

    // tile box with extra text details
    .text-with-details {
        display: grid;
        gap: 0;
        width: 100%;
        row-gap: 24px;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
            column-gap: 24px;
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
        }
        
        .tile-box {
            background-color: $white;
            flex-direction: column;
            box-shadow: 0px 6px 30px #00000029;
            margin-bottom: 0;
            width: 100%;

            .img-box {
                height: 200px;
                @media (min-width: 992px) {
                    height: 240px;
                }
                img {
                    height: 200px;
                    @media (min-width: 992px) {
                        height: 240px;
                    }
                }
            }

            .content {
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 24px;
                @media (min-width: 992px) {
                    padding: 32px;
                }
                .sec-paragraph {
                    padding: 0;
                }
                
            }

            // hover change tile color to black
            &:hover {
                transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
                .content {
                    background-color: $black;
                    .sec-paragraph p{
                        color: $white;
                        transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
                    }
                    .sec-links {
                        .link {
                            color: $white;
                            background-image: linear-gradient(120deg, $white 0%, $white 100%);
                            transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
                            &:hover {
                                color: $secondary;
                                background-image: linear-gradient(120deg, $secondary 0%, $secondary 100%);
                                transition: all 0.4s ease 0s, transform 200ms ease-in-out 0s;
                            }
                        }
                    }
                }
            }
        }
    }

}