.welcome-msg {
    position: relative;
    .content {
        text-align: center;
        .img {
            height: 446px;
            position: relative;
            overflow: hidden;
        }
        .small-heading {
            margin-bottom: .25rem;
        }
        .title {
            margin-bottom: 1.5rem;
            @media (min-width: 992px) {
                margin-bottom: 2rem;
            }
        }
        .img {
            margin-bottom: 1.5rem;
            @media (min-width: 992px) {
                margin-bottom: 2.5rem;
            }
        }
        .paragraph {
            margin-bottom: 1.5rem;
            @media (min-width: 992px) {
                margin-bottom: 2.25rem;
            }
        }
        .btn-wrapper {
            .btn {
                width: 100%;
            }
        }
    }



    &.two-cols {
        .small-heading {
            p {
                color: $primary;
                margin-bottom: 0;
            }
        }
        .title h3 {
            color: #252525;
            text-transform: uppercase;
        }
        .title h4 {
            color: #252525;
            font-size: 36px;
            font-family: $font-family-italianno;
            text-transform: none;
            font-weight: normal;
        }
        .banner-img {
            height: 400px;
            position: relative;
            
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 24px;
            @media (min-width: 992px) {
                margin-right: 50px;
                margin-bottom: 0;
            }
            .cover img {
                height: 100%;
                @media (min-width: 992px) {
                  width: 100%;
                  height: auto;
                }
            }
        }
    }
}