
.contact-us-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f5f6f8;
    @media (min-width: 768px) {
        flex-direction: row;
    }
    .contact-info,
    .img-wrap {
        width: 100%;
        @media (min-width: 768px) {
            width: 50%;
        }
    }
    .contact-info {
        padding-left: 40px;
        padding-top: 71px;
        .title {
            margin-bottom: .5rem;
        }
        .paragraph {
            p {
                margin: 0;
            }
        }
    }
    .img-wrap {
        position: relative;
        height: 362px;
    }
}

.contact-information {
    border-radius: 8px;
    overflow: hidden;
    background-color: #F4F5F9;
    @media (max-width: 991px) {
        margin-top: 1.5rem;
    }
    .head {
        background-color: $primary;
        padding: 32px 0;
        text-align: center;
    }
    .body {
        padding: 80px 40px;
    }
}