  .hero-banner {
    position: relative;
    display: flex;
    min-height: 497px;
    @media (min-width: 768px) {
      min-height: 754px;
    }
    .banner-img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
    }
    div.cover {
        img {
            height: 497px;
            @media (min-width: 768px) {
                height: 754px;
            }
        }
    }
    .content {
      z-index: 2;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    // content alignments on banner vertical middle top and bottom
    &.v-middle {
      .content {
        justify-content: center;
      }
    }
    &.v-top {
      .content {
        justify-content: flex-start;
        padding-top: 2rem;
        @media (min-width: 768px) {
          padding-top: 3rem;
        }
      }
    }
    &.v-bottom {
      .content {
        justify-content: flex-end;
        padding-bottom: 2rem;
        @media (min-width: 768px) {
          padding-bottom: 3rem;
        }
      }
    }
    // content alignments on banner horizontally middle top and bottom
    &.h-center {
      .content {
        align-items: center;
        text-align: center;
      }
    }
    &.h-left {
      .content {
        align-items: left;
      }
    }

  }


  // hero banner inner 
  .hero-banner {
    &.inner {
        min-height: 450px;
        @media (min-width: 768px) {
            min-height: 656px;
        }
        div.cover {
            img {
                height: 450px;
                @media (min-width: 768px) {
                    height: 656px;
                }
            }
        }
        .content {
          @media (max-width: 767px) {
          }
        }
    }
}



  // hero banner as slider 
.hero-banner.with-slider {
  height: 500px;
  @media (min-width: 768px) {
    height: 1100px;
  }
  div.cover img {
    height: 500px;
    @media (min-width: 768px) {
      height: 1100px;
    }
  }

  .container {
    height: 100%;
  }

  .content {
    z-index: 2;
    position: relative;
    text-align: center;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    @media (min-width: 768px) {
      padding-bottom: 390px;
    }
    .title  {
      h1 {
        font-size: 80px;
        line-height: 90px;
        @media (min-width: 768px) {
          font-size: 180px;
          line-height: 200px;
        }
      }
    }
    
  }

  // swiper overides
  .swiper-container {
    height: 100%;
  }
  .controls {
    .swiper-button-prev,
    .swiper-button-next {
      &:after {
        color: #fff;
      }
    }
    .swiper-button-prev {
      padding-left: 3rem;
    }
    .swiper-button-next {
      padding-right: 3rem;
    }
  }
}