.nav-links-wrapper{
    @media (max-width: 991px) {
        display: none;
    }
    .nav-link {
        border-bottom: 1px solid $primary;
        padding: 0;
        a {
            color: $secondary;
            font-size: 20px;
            line-height: 1.1;
            
            padding: 20px 0;
            padding-left: 30px;
            position: relative;
            display: flex;
            align-items: center;
            transition: all .3s ease-in-out;
            &:hover {
                text-decoration: none;
                color: $primary;
                padding-left: 40px;
                font-weight: bold;
                transition: all .3s ease-in-out;
                &:after {
                    background-color: $primary;
                    left: 10px;
                    transition: all .3s ease-in-out;
                }
            }
            &:after {
                content: '';
                display: block;
                height: 3px;
                width: 15px;
                position: absolute;
                left: 0;
                background-color: $secondary;
                transition: all .3s ease-in-out;
            }
        }
        &.active {
            a {
                color: $primary;
                font-weight: bold;
                &:after {
                    background-color: $primary;
                }
            }
        }
    }
}