.nav-links-wrapper{
    @media (max-width: 991px) {
        display: none;
    }
    .nav-link {
        padding: 0;
        a {
            color: $body-copy;
            font-size: 14px;
            line-height: 1.1;
            padding: 20px 0;
            position: relative;
            display: flex;
            align-items: center;
            transition: all .3s ease-in-out;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
                color: $primary;
                padding-left: 20px;
                font-weight: bold;
                background-color: $bg-copy;
                transition: all .3s ease-in-out;
                &:after {
                    background-color: $primary;
                    left: 10px;
                    transition: all .3s ease-in-out;
                }
            }
        }
        &.active {
            a {
                color: $primary;
                font-weight: bold;
                background-color: $bg-copy;
                padding-left: 10px;
                &:after {
                    background-color: $bg-copy;
                    background-color: $primary;
                }
            }
        }
    }

    .small-heading {
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
    }
}