.subscribe-box {
    height: 400px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    @media screen and (max-width: 991px) {
        margin-top: 2rem;
    }

    .subscribe-content {
        position: relative;
        z-index: 2;
        padding: 24px;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // color variations
    &.default {
        background-color: $btn-default;
    }
    &.primary {
        background-color: $primary;
    }
    &.secondary {
        background-color: $secondary;
    }
    &.dark-text {
        border: 1px solid $btn-default;
        border-radius: 8px;
        background-color: $white;
        .sec-title,
        .sec-paragraph {
            h1,h2,h3,h4,h5,h6,p {
                color: $black;
            }
        }

        .input-group .form-control {
            border: 1px solid $btn-default !important;
        }
        .sec-buttons {
            .btn {
                background-color: $btn-default;
                border-color: $btn-default;
                &:hover {
                    color: $white;
                }
            }
        }
    }

    // with image variation
    .background-image {
        display: none;
    }
    &.with-image {
        .background-image {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            img {
                height: 400px;
            }
        }
    }
}