.sec-welcome-msg {
    // images variation of sizes
    .img {
        height: 350px;
        @media (min-width: 768px) {
            height: 400px;
        }
        @media (min-width: 992px) {
            height: 450px;
        }
        img {
            position: relative;
            height: 350px;
            @media (min-width: 768px) {
                height: 400px;
            }
            @media (min-width: 992px) {
                height: 450px;
            }
        }
    }
    &.img-big {
        .img {
            height: 350px;
            @media (min-width: 768px) {
                height: 450px;
            }
            @media (min-width: 992px) {
                height: 550px;
            }
            img {
                height: 350px;
                @media (min-width: 768px) {
                    height: 450px;
                }
                @media (min-width: 992px) {
                    height: 550px;
                }
            }
        }
    }


    .content-wrapper {
        display: flex;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
            align-items: center;
        }
        .img,
        .content {
            flex: 1;
        }
        .img {
            margin-bottom: 24px;
            @media (min-width: 992px) {
                padding-right: 50px;
                margin-bottom: 0;
            }
        }
    }

    &.reverse {
        .content-wrapper {
            .content {
                order: 2;
                @media (min-width: 992px) {
                    order: 1;
                }
            }
            .img {
                order: 1;
                @media (min-width: 992px) {
                    padding-left: 50px;
                    padding-right: 0;
                    order: 2;
                }
            }
        }
    }

    &.two-images {
        .content-wrapper {
            .img {
                position: relative;
                padding-right: 200px;
                padding-bottom: 50px;
                @media (max-width: 991px) {
                    padding-right: 0px;
                    padding-bottom: 0px;
                    
                }
                .cover{
                    border-radius: 8px;
                    @media (max-width: 991px) {
                        padding-top: 50px;
                        background-color: transparent;
                        position: relative;
                        
                    }
                    img{
                        border-radius: 8px;
                        @media (max-width: 991px) {
                            z-index: 0;
                            position: relative;
                        }
                        @media (max-width:375px) {
                            height: 300px;
                        }
                    }
                    img + img {
                        width: 300px;
                        height: 300px;
                        border: 8px solid $white;
                        z-index: 2;
                        position: absolute;
                        opacity: 1;
                        right: 120px;
                        bottom: 0;
                        border-radius: 8px;
                        @media (max-width: 991px) {
                            right: 0;
                            left: 0;
                            top: 0;
                            bottom: auto;
                            margin: auto;
                            z-index: 9;
                            
                        }
                        @media (max-width:375px) {
                            width: 250px;
                            height: 250px;
                        }
                    }
                }
                
                
            }

            
        }
        &.reverse{
            .content-wrapper {
                .content {
                    order: 2;
                    @media (min-width: 992px) {
                        order: 1;
                    }
                }
                .img {
                    order: 1;
                    @media (min-width: 992px) {
                        padding-left: 200px;
                        padding-right: 0;
                        order: 2;
                    }
                    .cover{
                        img + img {
                            left: 120px;
                            @media (max-width: 992px) {
                                right: 0;
                                left: 0;
                                top: 0;
                                bottom: auto;
                                margin: auto;
                                z-index: 9;
                            }
                        }
                    }
                }
            }
        }
    }

    &.four-images {
        .content-wrapper{
            .content{
                @media (max-width: 992px) {
                    order: 1;
                }
            }
            .img{
                padding: 0;
                height: auto;
                padding-right: 100px;
                @media (max-width: 992px) {
                    padding-right: 0px;
                    order: 0;
                    margin-bottom: 0;
                    margin-bottom: 24px;
                }
                .img-row{
                    display: grid;
                    gap: 26px;
                    row-gap: 26px;
                    width: 100%;
                    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
                    padding: 0;
                    height: auto;
                    @media (max-width: 992px) {
                        gap: 16px;
                        row-gap: 16px;
                    }
                    .img-col{
                        .cover{
                            background-color: transparent;
                            img{
                                max-width: 100%;
                                height: 200px;
                                border-radius: 8px;
                                opacity: 1;
                            }
                            img + img{
                                height: 300px;
                                margin-top: 26px;
                                @media (max-width: 992px) {
                                    margin-top: 16px;
                                }
                            }
                        }
                        &:first-child{
                            .cover{
                                img{
                                    max-width: 100%;
                                    height: 300px;
                                }
                                img + img{
                                    height: 200px;
                                }
                            }
                        }
                        &:last-child{
                            margin-top: 70px;
                            @media (max-width: 991px) {
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }
        &.reverse{
            .content-wrapper {
                .content {
                    order: 0;
                    @media (max-width: 991px) {
                        order: 1;
                    }
                }
                .img {
                    order: 1;
                    padding-right: 0;
                    padding-left: 100px;
                    @media (max-width: 992px) {
                        order: 0;
                        padding-right: 0px;
                        padding-left:0px;
                }
            }
            }
        }
    }
}


// image and box section

.text-and-img-box {
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
        flex-direction: row;
    }
    .content {
        width: 100%;
        @media (min-width: 992px) {
            flex-direction: row;
            margin-right: 92px;
        }
    }
    .img-box {
        position: relative;
        background-color: #F4F5F9;
        border: 1px solid $btn-default;
        position: relative;
        height: 360px;
        min-height: 360px;
        overflow: hidden;
        border-radius: 8px;
        width: 100%;
        box-shadow: 1px 5px 5px 1px rgba(17,34,17,0.21);
        @media (min-width: 992px) {
            width: 408px;
            min-width: 408px;
        }
        img {
            height: 360px;
            opacity: .4;
        }
        .text {
            position: absolute;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
            flex-direction: column;
            top: 0;
        }
    }
}