.frominput{
    border: none;
    border-radius: 0px !important;
    border-bottom: 2px solid #a39c9c;
}

.widthcontrol{
    width: 50%;
}

.displaycontent{
    display: flex;
}
.displayheading{
    display:contents  !important;
}
.p-5{
    padding: 3rem !important;
}
.btncolor{
    color: white;
}
.boxstyling{
    padding: 30px !important;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 5px 0 #0000000d;
    
}
.mapheight{
    height: 250px !important;
}

.contact-us-form-with-text {
    display: flex;
    .contact-us-form,
    .form-content {
        width: 100%;
    }
    .contact-us-form {
        margin-right: 40px;
        padding: 30px !important;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 6px 5px 0 #0000000d;
        border: 1px solid #ccc;
    }
}