<div class="contact-us-card">
    <div class="img-wrap">
        <div class="cover">
            <img class="cover" src="assets/img/contact_us.jpg" alt="hero banner" />
        </div>
    </div>
    <div class="contact-info">
        <div class="title">
            <h4>Contact Info</h4>
        </div>
        <div class="paragraph sepcial">
            <p>P. (740) 353-4146 </p>
            <p>E. fcdaehler@gmail.com</p>
            <br>
            <p>Portsmouth, OH 45662</p>
            <p>915 9th Street</p>
        </div>
    </div>
</div>