
<!-- lightgallery lightbox Start -->

 <div class="sec-contact">

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="small-heading  bold mb-8">
                <p>Phone</p>
            </div>

            <div class="sec-paragraph">
                <p><a href="tel:+864.461.7788">(864) 461-7788</a></p>
                <p class="mt-0">(864) 461-7786 (Fax)</p>                 
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="small-heading  bold  mb-8">
                <p>Location</p>
            </div>
            <div class="sec-paragraph">
                <p>5880 Chesnee Highway <br>
                    P.O. Box 157<br>
                    Chesnee, SC 29323</p>                 
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="small-heading  bold  mb-8">
                <p>Email</p>
            </div>
            <div class="paragraph medium mb-24"> 
                <p><a href="mailto:info@harrisnadeau.com">info@harrisnadeau.com</a></p>                
            </div>
        </div>
    </div>


    <section class="contact-form contact-1">
        <form>
    
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" aria-describedby="subject" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
              </div>
            <div class="sec-buttons mt-48">
                <button type="submit" class="btn radius primary">Send Message</button>
            </div>

        </form>
    </section>
</div>
<!-- lightgallery lightbox Ends -->
