
<!-- lightgallery lightbox Start -->

 <div class="sec-contact">

    <div class="sec-title mb-32">
        <h2>CONTACT US</h2>
    </div>
    <div class="sec-paragraph dark mb-24 medium">
        <p>
            You are welcome to call us any time of the day, any day of the week, for immediate assistance. Or, visit our funeral home in person at your convenience.
             </p>
    </div>


    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="sec-title mb-16">
                <h5>Phone</h5>
            </div>
            <div class="sec-paragraph dark medium">
                <p><a href="tel:+864.461.7788">(864) 461-7788</a></p>
                <p class="mt-0">(864) 461-7786 (Fax)</p>                 
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="sec-title mb-16">
                <h5>location</h5>
            </div>
            <div class="sec-paragraph dark medium">
                <p>5880 Chesnee Highway <br>
                    P.O. Box 157<br>
                    Chesnee, SC 29323</p>                 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="sec-title mb-16">
                <h5>Email</5>
            </div>
            <div class="paragraph medium mb-24"> 
                <p><a href="mailto:info@harrisnadeau.com">info@harrisnadeau.com</a></p>                
            </div>
        </div>
    </div>


    <section class="contact-form contact-1">
        <form>
    
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required>
                
            </div>
            <div class="sec-buttons">
                <button type="submit" class="btn">Send Message</button>
            </div>

        </form>
    </section>
</div>
<!-- lightgallery lightbox Ends -->
