
<!-- lightgallery lightbox Start -->

 <div class="sec-contact">

    <div class="row">
        <div class="col-12 col-lg-6">
            <section class="contact-form contact-2">
                <form>
            
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                      </div>
                    <div class="sec-buttons mt-48">
                        <button type="submit" class="btn radius secondary">Send Message</button>
                    </div>
        
                </form>
            </section>
        </div>
        <div class="col-12 col-lg-6">
            {{> contact-info-box-4 }}
    </div>

   
</div>
<!-- lightgallery lightbox Ends -->
