<div class="contact-information contact-info-box-4">
   
    <div class="body">
      <div class="sec-title text-center mb-48">
         <h4>Contact Info</h4>
      </div>
       <div class="small-heading secondary text-center bold mb-8">
          <p>Phone</p>
       </div>
       <div class="sec-paragraph text-center mb-24">
          <p>Phone Tel: 1-910-653-4847 </p>
       </div>
       <div class="small-heading secondary text-center bold mb-8">
          <p>email</p>
       </div>
       <div class="sec-paragraph text-center mb-24">
          <p>westsidefuneralhome@embarqmail.com </p>
       </div>

       <div class="small-heading secondary text-center bold mb-8">
          <p>location</p>
       </div>
       <div class="sec-paragraph text-center">
          <p> 106 S Lewis <br> Street Tabor City, NC 28463 </p>
       </div>


    </div>
 </div>