<section class="sec-faq only-border icon-arrow faq-1" id="faq4">
    <div class="card">
      <div class="card-header" id="headingOnefaq4">
        <a href="#" class="" type="button" data-toggle="collapse" data-target="#collapseOnefaq4" aria-expanded="true" aria-controls="collapseOnefaq4">
            What Is The Purpose Of A Funeral?
        </a>
      </div>
      <div id="collapseOnefaq4" class="collapse show" aria-labelledby="headingOnefaq4" data-parent="#faq4">
        <div class="card-body">
          <div class="sec-paragraph medium black">
              <p>A funeral or memorial service provides an opportunity for the living to show respect for the deceased and pay tribute to their life. It provides a framework to freely and openly express our beliefs, feelings, and thoughts about the death of our loved one. It gives us permission to grieve our loss, share in solidarity, and gain strength from others who are experiencing the same loss.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwofaq4">
        <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwofaq4" aria-expanded="false" aria-controls="collapseTwofaq4">
            What Are The Choices For Funeral Services?
        </a>
      </div>
      <div id="collapseTwofaq4" class="collapse" aria-labelledby="headingTwofaq4" data-parent="#faq4">
        <div class="card-body">
            <div class="sec-paragraph medium black">
                <p>A funeral or memorial service provides an opportunity for the living to show respect for the deceased and pay tribute to their life. It provides a framework to freely and openly express our beliefs, feelings, and thoughts about the death of our loved one. It gives us permission to grieve our loss, share in solidarity, and gain strength from others who are experiencing the same loss.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThreefaq4">
        <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThreefaq4" aria-expanded="false" aria-controls="collapseThreefaq4">
            Can You Still Have A Funeral If You Choose Cremation?
        </a>
      </div>
      <div id="collapseThreefaq4" class="collapse" aria-labelledby="headingThreefaq4" data-parent="#faq4">
        <div class="card-body">
            <div class="sec-paragraph medium black">
                <p>A funeral or memorial service provides an opportunity for the living to show respect for the deceased and pay tribute to their life. It provides a framework to freely and openly express our beliefs, feelings, and thoughts about the death of our loved one. It gives us permission to grieve our loss, share in solidarity, and gain strength from others who are experiencing the same loss.</p>
            </div>
        </div>
      </div>
    </div>
</section>