

<!-- footer header start -->
<div class="container">
    <div class="bg-dark">
            
        <div class="subscribe-content">
            <div class="sec-title light bold mb-10">
                <h5>Subscribe</h5>
            </div>
            <form>
                <div class="sec-search-filters light mb-16">
                    <div class="input-group">
                       <input class="form-control" id="email" type="text" placeholder="Email">
                    </div>
                 </div>
                 <div class="sec-buttons light">
                    <a href="#" class="btn round solid primary-outline-light animate-top"> Subscribe</a>
                 </div>
            </form>
        </div>  
    
    
    
    
            </div>
</div>


<!-- footer header end -->
