<!-- footer start -->
<footer class="sec-footer">
    <div class="container">
       
        <div class="footer-wrapper">

            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-header var-1 mb-52">
                        <div class="footer-logo">
                            <img src="assets/img/sonzini-logo-white.png" alt="">
                        </div>
                        <div class="social-links flat">
                            <div class="sec-paragraph light uppercase mb-10">
                                <p>FIND US ON</p>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        <svg width="16.247" height="31.289" viewBox="0 0 16.247 31.289">
                                            <g id="facebook-app-symbol" transform="translate(-37.29)">
                                              <path id="f_1_" d="M47.837,31.289V17.018h4.788l.718-5.563H47.837V7.9c0-1.61.445-2.708,2.757-2.708h2.944V.218A39.913,39.913,0,0,0,49.247,0C45,0,42.093,2.592,42.093,7.352v4.1h-4.8v5.563h4.8V31.289Z" transform="translate(0)" fill="#fff"/>
                                            </g>
                                          </svg>
                                </a>
                            </li>
                                
                               
                                
                            </ul>
                        </div>
                        
                    </div> 

                </div>
            </div>


            <div class="row">
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="sec-list-wrap mb-52">
                        <div class="sec-title secondary mb-20 bold">
                            <h5>CONTACT US</h5>
                        </div>
                        <div class="sec-paragraph mb-16 light">
                            <p>Call (123) 456-7891 </p>
                        </div>
                        <div class="sec-links mb-16">
                            <a href="#" class="link light">info@sonzinimortuary.com</a>
                        </div>
                    </div> 

                    <div class="sec-list-wrap mb-52">
                        <div class="sec-title secondary mb-20 bold">
                            <h5>OUR LOCATION</h5>
                        </div>
                        <div class="sec-paragraph mb-16 light">
                            <p>1190 Wilson Hall Road, </p>
                        </div>
                        <div class="sec-paragraph mb-16 light">
                            <p>Sumter, South Carolina 29150 </p>
                        </div>
                         
                    </div>
                </div>

                <div class="col-12 col-md-3 col-lg-3">
                    <div class="sec-list-wrap mb-52">
                        <div class="sec-title light mb-20 bold">
                            <h5>About Us</h5>
                        </div>
                        <div class="sec-link-wrapper">
                            <ul class="sec-links">
                                <li> <a href="#" class="link secondary-light">About Us</a></li>
                                <li> <a href="#" class="link secondary-light">Our Caring Staff</a></li>
                                <li> <a href="#" class="link secondary-light">Locations</a></li>
                                <li> <a href="#" class="link secondary-light">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-lg-3">
                    <div class="sec-list-wrap mb-52">
                        <div class="sec-title light mb-20 bold">
                            <h5>Services</h5>
                        </div>
                        <div class="sec-link-wrapper">
                            <ul class="sec-links">
                                <li> <a href="#" class="link secondary-light">Overview of Services </a></li>
                                <li> <a href="#" class="link secondary-light">Traditional Services </a></li>
                                <li> <a href="#" class="link secondary-light">Cremation Services </a></li>
                                <li> <a href="#" class="link secondary-light">Personalization</a></li>
                                <li> <a href="#" class="link secondary-light">Veteran Services </a></li>
                                <li> <a href="#" class="link secondary-light">Advance Planning</a></li>
                            </ul>
                        </div>
                    </div> 
                </div>

                <div class="col-12 col-md-3 col-lg-3">

                    <div class="sec-list-wrap mb-52">
                        <div class="sec-title light mb-20 bold">
                            <h5>Preplanning</h5>
                        </div>
                        <div class="sec-link-wrapper">
                            <ul class="sec-links">
                                <li> <a href="#" class="link secondary-light">Overview-Why Preplan? </a></li>
                                <li> <a href="#" class="link secondary-light">Preplanning FAQ</a></li>
                            </ul>
                        </div>
                    </div> 

                    <div class="sec-list-wrap">
                        <div class="sec-title light mb-20 bold">
                            <h5>Grief Support</h5>
                        </div>
                        <div class="sec-link-wrapper">
                            <ul class="sec-links">
                                <li> <a href="#" class="link secondary-light">The Grieving Process  </a></li>
                                <li> <a href="#" class="link secondary-light">Grief Resources</a></li>
                                <li> <a href="#" class="link secondary-light">Children & Grief</a></li>
                            </ul>
                        </div>
                    </div> 
    
                    
                </div>
            </div>

           




            
        </div>


        <!-- footer copyright start -->
<div class="sec-copyrights mt-52">
    <div class="container">
       <div class="copyrights-wrapper justify-content-center">
        <div class="sec-paragraph pr-24">
            <p>2021 Directors Advantage Funeral Homes Inc. All Rights Reserved.</p>
            
        </div>
        <div class="sec-links">
            <a href="#" class="link uppercase"> ADMIN login</a>
        </div>       
    </div>
    </div> 
</div>

<!-- footer copyright end -->

    </div> 
</footer>
<!-- footer ends  -->



