<!-- quick links start -->
<section class="quick-links-wrapper">
    <div class="container">
        <div class="links-wrap">
            <div class="contact-info">
                <div class="small-heading light mb-16">
                    <p>Contact Us</p>
                </div>
                <div class="info mb-24">
                    <p> P. (864) 461-7788    </p>
                    <p>E. info@harrisnadeau.com</p>
                </div>
                <div class="info mb-24">
                    <p>5880 Chesnee Highway</p>
                    <p>P.O. Box 157</p>
                    <p>Chesnee, SC 29323</p>
                </div>
                <div class="info mb-24">
                    <p>westsidefuneralhome@embarqmail.com</p>
                </div>
                <div class="btn-wrapper">                
                    <a href="contact.html" class="btn btn-primary auto">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="logo-and-lnks">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/Harris-logo_horizontal_white.svg" alt="logo" /></a>
                    
                </div> 
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/harrisnadeau" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.727" height="29.584" viewBox="0 0 13.727 29.584"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(-239.13 -345.407)"><path class="a" d="M252.316,360.216h-4.125v14.775h-6.154V360.216H239.13v-5.207h2.908v-3.381a7.318,7.318,0,0,1,.473-2.671,5.19,5.19,0,0,1,1.86-2.468,6.492,6.492,0,0,1,3.854-1.082l4.564.034v5.072h-3.313a1.31,1.31,0,0,0-.845.271,1.423,1.423,0,0,0-.44,1.15v3.077h4.666Z" transform="translate(0)"/></g></svg>
                        </a></li>
                    </ul>
                </div>
            </div>
            
            <div class="grief-support">
                <div class="logo">
                    <img src="assets/img/grief_steps_logo.png" alt="logo" />
                </div>
                <div class="title">
                    <h6>365 Days of Grief Support</h6>
                </div>
                <div class="description">
                    <p>Sign up for one year of grief messages designed to offer hope and healing during difficult first year after a loss</p>
                </div>
                <div class="footer-form inline">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter your email" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-primary small">Submit</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- quick links ends  -->

<footer class="footer-wrapper">
    <div class="container">
        <div class="details">
            <p>© 2021 Harris - Nadeau Mortuary. All Rights Reserved.</p>
            <div class="link-wrapper">
                <a href="#" class="btn-link secondary"> ADMIN login</a>
            </div>
        </div>
    </div> 
</footer>

<div class="google-translate-option">
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div id="google_translate_element"></div> 
</div>

<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



<script src="{{root}}assets/js/main.js"></script>

<!-- endbuild -->
