

<!-- footer header start -->
<div class="container">
    <div class=" bg-dark">
            
        <div class="sec-list-wrap mb-52">
            <div class="sec-title light mb-20 bold">
                <h5>Call Us</h5>
            </div>
            <div class="sec-paragraph mb-16 light">
                <p>P: 910-555-5555 </p>
            </div>
            <div class="sec-paragraph mb-16 light">
                <p>P: 910-555-5555 </p>
            </div>
        </div> 
        
        <div class="sec-list-wrap">
            <div class="sec-title light mb-20 bold">
                <h5>About Us</h5>
            </div>
            <div class="sec-link-wrapper">
                <ul class="sec-links">
                    <li> <a href="#" class="link light">About Us</a></li>
                    <li> <a href="#" class="link light">Our Caring Staff</a></li>
                    <li> <a href="#" class="link light">Locations</a></li>
                    <li> <a href="#" class="link light">Contact Us</a></li>
                </ul>
            </div>
        </div>    
    
    
    
    
            </div>
</div>


<!-- footer header end -->
