<!-- footer start -->
<footer class="sec-footer text-center white footer-8">
    <div class="container">
       
        <div class="footer-wrapper">

            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 order-last order-md-first">
                    <div class="sec-list-wrap mb-24">
                        <div class="sec-title light mb-20 bold">
                            <h5>R.W. Baker & Company Funeral Home and Crematory</h5>
                        </div>
                        <div class="sec-paragraph bold mb-16 light">
                            <p>Downtown Suffolk <br>
                                (757) 539-4691</p>
                        </div>
                        <div class="sec-paragraph bold mb-16 light">
                            <p>Wakefield Chapel <br>
                                (757) 899-2971</p>
                        </div>
                        <div class="sec-paragraph bold mb-16 light">
                            <p>North Suffolk <br>
                                (757) 483-1316</p>
                        </div>
                    </div> 

                    <div class="sec-buttons">
                        <a href="contact-us.html" class="btn uppercase radius solid primary animate-top"> Contact Us</a>
                     </div>
                   
                </div>


                <div class="col-12 col-md-4 col-lg-4">
                 
                    <div class="footer-header mb-52">
                        <div class="footer-logo">
                            <img src="assets/img/RW-Baker-Logo_black.svg" alt="">
                        </div>
                        <div class="social-links primary">
                            <ul>
                                <li>
                                    <a href="#">
                                        <svg width="16.247" height="31.289" viewBox="0 0 16.247 31.289">
                                            <g id="facebook-app-symbol" transform="translate(-37.29)">
                                              <path id="f_1_" d="M47.837,31.289V17.018h4.788l.718-5.563H47.837V7.9c0-1.61.445-2.708,2.757-2.708h2.944V.218A39.913,39.913,0,0,0,49.247,0C45,0,42.093,2.592,42.093,7.352v4.1h-4.8v5.563h4.8V31.289Z" transform="translate(0)" fill="#fff"/>
                                            </g>
                                          </svg>
                                </a>
                            </li>
                                <li><a href="#">
                                    <svg width="28.856" height="28.77" viewBox="0 0 28.856 28.77">
                                        <g id="google-plus" transform="translate(0)">
                                          <path id="Path_203" data-name="Path 203" d="M14.472,5.231a9.216,9.216,0,0,1,7.323,3.688l3.714-3.74a14.376,14.376,0,1,0,2.8,13.129,13.944,13.944,0,0,0,.549-3.923V13.077H15.779v5.23H22.71a9.1,9.1,0,0,1-8.239,5.232A9.239,9.239,0,0,1,5.23,14.385a9.239,9.239,0,0,1,9.241-9.154Zm0,0" transform="translate(0 0)" fill="#fff"/>
                                        </g>
                                      </svg>
                                      
                                </a>
                            </li>
                                <li><a href="#">
                                    <svg width="37.946" height="26.567" viewBox="0 0 37.946 26.567">
                                        <g id="youtube" transform="translate(0.001 0.001)">
                                          <path id="Exclusion_1" data-name="Exclusion 1" d="M-6406.027-9209.155c-.119,0-11.879-.009-14.848-.811a4.758,4.758,0,0,1-3.345-3.345c-.772-2.905-.781-9.066-.781-9.128s.009-6.191.781-9.126a4.87,4.87,0,0,1,3.345-3.377c2.935-.772,14.727-.781,14.846-.781s11.911.01,14.848.814a4.754,4.754,0,0,1,3.345,3.344c.807,2.951.782,9.1.781,9.158s-.009,6.191-.781,9.126a4.755,4.755,0,0,1-3.345,3.344C-6394.116-9209.164-6405.908-9209.155-6406.027-9209.155Zm-3.783-18.972h0v11.376l9.876-5.687-9.876-5.688Z" transform="translate(6425 9235.722)" fill="#fff"/>
                                        </g>
                                      </svg>
                                      
                                </a>
                            </li>
                                
                            </ul>
                        </div>
                        
                    </div> 
                </div>

                <div class="col-12 col-md-4 col-lg-4">
                    <div class="subscribe-content mb-52">
                        <div class="subscribe-logo">
                            <img src="assets/img/grief_steps_logo-black.png" alt="">
                        </div>
                        <div class="sec-title light bold mb-10">
                            <h5>Subscribe</h5>
                        </div>
                        <div class="sec-paragraph light mb-10">
                            <p>Sign up for one year of grief messages designed to offer hope and healing during difficult first year after a loss</p>
                        </div>
                        <form>
                            <div class="sec-search-filters radius light mb-16">
                                <div class="input-group">
                                   <input class="form-control" id="email" type="text" placeholder="Email">
                                </div>
                             </div>
                             <div class="sec-buttons light">
                                <a href="#" class="btn full uppercase radius solid primary animate-top"> Submit</a>
                             </div>
                        </form>
                    </div> 
                </div>
            </div>

           




            
        </div>


      

    </div> 
</footer>
<!-- footer ends  -->

 <!-- footer copyright start -->
 <div class="sec-copyrights secondary copyrights-8">
    <div class="container">
       <div class="copyrights-wrapper">
        <div class="sec-paragraph dark">
            <p>2021 Directors Advantage Funeral Homes Inc. All Rights Reserved.</p>
            
        </div>
        <div class="sec-links">
            <a href="#" class="link primary bold uppercase"> ADMIN login</a>
        </div>       
    </div>
    </div> 
</div>

<!-- footer copyright end -->




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- lightgallery lightbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.7/js/lightgallery.js"></script>
<script src="https://cdn.jsdelivr.net/lg-thumbnail/1.0.1/lg-thumbnail.js"></script>
<script src="assets/js/obituaries-slider-home.js"></script> 
<script src="assets/js/menu.js"></script> 
<script src="assets/js/hero-banner-slider.js"></script>
<script src="assets/js/main.js"></script>
