<!-- hero banner inner start  -->
<section class="hero-banner inner v-middle h-center hero-banner-inner-5">
    <div class="banner-img">
        <div class="cover">
            <img src="assets/img/hero_banner_inner.png" alt="hero banner inner" />
        </div>
    </div>
    <div class="container-fluid"> 
        <div class="content">
            <div class="sec-title light bold mb-12">
                <h3>OUR SERVICES</h3>
            </div>
         
        </div>
    </div>
</section>
<!-- hero banner inner ends  -->
