<section class="hero-banner dynamic-height v-top h-center hero-banner-8">
    <div class="banner-img">
        <div class="cover">
            <img src="assets/img/hero_banner_home.png" alt="hero banner" />
        </div>
    </div>
    <div class="container"> 
        <div class="content">
            <div class="small-heading letter-spacing-3 dark bold mb-24">
                <p>Honor Your Loved Ones</p>
            </div>
            <div class="sec-title uppercase primary bold mb-32">
                <h2>Two locations to serve you</h2>
            </div>


            <!-- our locations -->
            <section class="sec-location-wrappe">
                <div class="sec-location-grid">
    
                    <!-- Location start  -->
                 <div class="sec-location mt-32 location-grid-3">
                    <div class="info mt-16">
                        <div class="sec-paragraph big-xx primary bold 16">
                           <p>Coweta</p>
                        </div>
                        <div class="sec-paragraph dark bold mb-8">
                           <p>1190 Wilson Hall Road,</p>
                        </div>
                        <div class="sec-paragraph dark bold mb-8">
                            <p>Summer</p>
                         </div>
                        <div class="sec-paragraph dark bold mb-8">
                            <p>(123) 456-7891</p>
                         </div>
                         <div class="sec-buttons"> 
                            <a href="#" class="btn shadow primary radius medium">View Location</a> 
                        </div>
                     </div>
                    <div class="map">
                       <div class="thumbnail">
                          <div class="cover">
                             <img src="assets/img/ourlocation.jpg" alt="location">
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- Location ends  -->
                   <!-- Location start  -->
                   <div class="sec-location mt-32 location-grid-3">
                    <div class="info mt-16">
                        <div class="sec-paragraph big-xx primary bold 16">
                           <p>Coweta</p>
                        </div>
                        <div class="sec-paragraph dark bold mb-8">
                           <p>1190 Wilson Hall Road,</p>
                        </div>
                        <div class="sec-paragraph dark bold mb-8">
                            <p>Summer</p>
                         </div>
                        <div class="sec-paragraph dark bold mb-8">
                            <p>(123) 456-7891</p>
                         </div>
                         <div class="sec-buttons"> 
                            <a href="#" class="btn shadow primary radius medium">View Location</a> 
                        </div>
                     </div>
                    <div class="map">
                       <div class="thumbnail">
                          <div class="cover">
                             <img src="assets/img/ourlocation.jpg" alt="location">
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- Location ends  -->
                 
                </div>
            </section>
            


        </div>
    </div>
</section>