
<!-- dynamic-height class can be used to make it full ( device height ) -->

<div class="slider-auto bg-secondary  has-bg">
    <div class="container">
        <section class="hero-banner medium-two v-middle h-center half  with-slider hero-banner-slider-2">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-img">
                            <div class="cover">
                                <img src="assets/img/hero_banner_home.png" alt="hero banner" />
                            </div>
                        </div>
                        <div class="container"> 
                            <div class="content">
                                <div class="sec-title light bold mb-8">
                                    <h1>Our Family Serving Your Family</h1>
                                </div>
                                <div class="banner-details">
                                    <div class="small-heading heading-font-family bold letter-spacing-4 light big-xx mb-24">
                                        <p>SINCE 1885</p>
                                    </div>
                                    <div class="sec-buttons">
                                        <a href="traditional-services.html" class="btn radius font-14  primary animate-top uppercase "> View our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img">
                            <div class="cover">
                                <img src="assets/img/hero_banner_home.png" alt="hero banner" />
                            </div>
                        </div>
                        <div class="container"> 
                            <div class="content">
                                <div class="sec-title light bold mb-8">
                                    <h1>Our Family Serving Your Family</h1>
                                </div>
                                <div class="banner-details">
                                    <div class="small-heading heading-font-family bold letter-spacing-4 light big-xx mb-24">
                                        <p>SINCE 1885</p>
                                    </div>
                                    <div class="sec-buttons">
                                        <a href="traditional-services.html" class="btn radius  primary animate-top uppercase font-14"> View our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img">
                            <div class="cover">
                                <img src="assets/img/hero_banner_home.png" alt="hero banner" />
                            </div>
                        </div>
                        <div class="container"> 
                            <div class="content">
                                <div class="sec-title light bold mb-8">
                                    <h1>Our Family Serving Your Family</h1>
                                </div>
                                <div class="banner-details">
                                    <div class="small-heading heading-font-family bold letter-spacing-4 light big-xx mb-24">
                                        <p>SINCE 1885</p>
                                    </div>
                                    <div class="sec-buttons">
                                        <a href="traditional-services.html" class="btn radius  primary animate-top uppercase font-14"> View our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- pagination -->
            <div class="swiper-pagination"></div>
        
        </section>
    </div>
</div>








