<!-- hero banner inner start  -->
<section class="hero-banner inner v-bottom two-col">
    <div class="banner-img">
        <div class="cover">
            <img src="assets/img/hero_banner_inner.png" alt="hero banner inner" />
        </div>
    </div>
    <div class="container-fluid"> 
        <div class="content">
            <div class="sec-title light bold mb-12">
                <h1>In Your Time Of Need</h1>
            </div>
            <div class="banner-details">
                <div class="sec-paragraph light big mb-24">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
                </div>
                <div class="sec-buttons">
                    <a href="#" class="btn  secondary round animate-scale"> See our services</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero banner inner ends  -->
