<!-- hero banner inner start  -->
<section class="hero-banner inner v-middle h-left half solid-bg">
    <div class="banner-img">
        <div class="cover">
            <img src="assets/img/hero_banner_inner.png" alt="hero banner inner" />
        </div>
    </div>
    <div class="container-fluid"> 
        <div class="content">
            <div class="sec-title light bold mb-12">
                <h1>Honor Your Loved Ones</h1>
            </div>
            <div class="banner-details">
                <div class="sec-paragraph light big mb-24">
                    <p>With over 60 years of funeral directing experience.</p>
                </div>
                <div class="sec-buttons">
                    <a href="#" class="btn  round  secondary-outline-light animate-up"> See our services</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero banner inner ends  -->
