

<section class="hero-banner with-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-img">
                    <div class="cover">
                        <img src="assets/img/rwood-aboutus-banner.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="container"> 
                    <div class="content">
                        <div class="title light mb-32">
                            <h1>Serving You</h1>
                            <h3>As We Would Like To Be Served</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-img">
                    <div class="cover">
                        <img src="assets/img/rwood-aboutus-banner.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="container">
                    <div class="content">
                        <div class="title light mb-32">
                            <h1>Serving You</h1>
                            <h3>As We Would Like To Be Served</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-img">
                    <div class="cover">
                        <img src="assets/img/rwood-aboutus-banner.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="container">
                    <div class="content">
                        <div class="title light mb-32">
                            <h1>Serving You</h1>
                            <h3>As We Would Like To Be Served</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Arrows -->
    <div class="controls">
        <div class="swiper-button-prev">
        </div>
        <div class="swiper-button-next">
        </div>
</section>