

<section class="hero-banner v-top h-center hero-banner-4">
    <div class="banner-img">
        <div class="cover">
            <img src="assets/img/hero_banner_home.png" alt="hero banner" />
        </div>
    </div>
    <div class="container"> 
        <div class="content">
            <div class="sec-title light bold">
                <h1>Honor Your Loved Ones</h1>
            </div>
            <div class="banner-details">
                <div class="sec-paragraph light big-xx mb-36">
                    <p>With over 60 years of funeral directing experience.</p>
                </div>
                <div class="sec-buttons">
                    <a href="#" class="btn radius  default-outline-light animate-top"> See our services</a>
                </div>
            </div>
        </div>
    </div>
</section>