<div class="image-gallery">
    <!--
    <div class="banner">
        <a href="#">
            <div class="cover">
                <picture>
                    <img class="cover" src="assets/img/IMG_0673-p-800.jpeg" alt="hero banner" />
                </picture>
            </div>
        </a>
    </div>
     -->
    <div class="thumbnails">
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility1.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility2.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility3.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility4.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility5.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility6.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility7.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility8.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/rwood-facility9.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        
        
        
    </div>
</div>