<div class="image-gallery">
    <div class="banner">
        <a href="#">
            <div class="cover">
                <picture>
                    <img class="cover" src="assets/img/gallery_banner.jpg" alt="hero banner" />
                </picture>
            </div>
        </a>
    </div>
    <div class="thumbnails">
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        <div class="img">
            <a href="#">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/thumbnails.jpg" alt="hero banner" />
                    </picture>
                </div>
            </a>
        </div>
        
        
    </div>
</div>