<div class="sec-left-nav hover-bg-light dark primary sticky left-nav-7">
    <div class="small-heading letter-spacing-2 medium bold mb-20 pb-16">
        <p>Resources</p>
    </div>
    <div class="links-wrap">
        <div class="sec-links active">
            <a class="link" href="#">Frequent Questions</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Social Security Benefits</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Funeral Etiquette</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">When Death Occurs</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Talk of a Lifetime</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Pre-Planning Checklist</a>
        </div>
    </div>
</div>