<div class="sec-left-nav left-nav-1">
    <div class="small-heading bold underline default mb-32 pb-16">
        <p>Resources</p>
    </div>
    <div class="links-wrap">
        <div class="sec-links active">
            <a class="link" href="#">Frequent Questions</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Social Security Benefits</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Funeral Etiquette</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">When Death Occurs</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Talk of a Lifetime</a>
        </div>
        <div class="sec-links">
            <a class="link" href="#">Pre-Planning Checklist</a>
        </div>
    </div>
</div>