<div class="sec-left-nav with-lines animate-left with-arrow left-nav-4">
    <div class="small-heading letter-spacing-2 bold text-center underline default mb-32 pb-16">
        <p>OUR SERVICES</p>
    </div>
    <div class="links-wrap">
        <div class="sec-links active">
            <a class="link letter-spacing-2 uppercase" href="traditional-services">traditional services</a>
        </div>
        <div class="sec-links">
            <a class="link letter-spacing-2 uppercase" href="cremation-services">cremation services</a>
        </div>
        <div class="sec-links">
            <a class="link letter-spacing-2 uppercase" href="personalization">personalization</a>
        </div>
        <div class="sec-links">
            <a class="link letter-spacing-2 uppercase" href="common-questions">Common questions</a>
        </div>
        <div class="sec-links">
            <a class="link letter-spacing-2 uppercase" href="veterans-services">veterans services</a>
        </div>
        <div class="sec-links">
            <a class="link letter-spacing-2 uppercase" href="wakefield-monument-company">wakefield monument company</a>
        </div>
    </div>
</div>