

<section class="sec-location-wrapper has-img has-bg-repeat default">



   <div class="container-xl">

   <!-- Title start  -->
      <div class="sec-title bold text-center uppercase mb-72">
         <h4>THREE LOCATIONS TO SERVE you</h4>
      </div>
   <!-- Title ends  -->

   <div class="sec-location-grid">

      <!-- Location start  -->
      <div class="sec-location box default location-grid-3">
         <div class="info">
            <div class="sec-paragraph title big heading-font-family dark bold mb-12">
               <p>DOWNTOWN SUFFOLK</p>
            </div>
            <div class="sec-paragraph dark mb-16">
               <p>509 W. Washington St. <br>Suffolk, VA 23434</p>
            </div>
            <div class="sec-paragraph anchor-primary mb-24 dark">
               <p><a href="#">(757) 539-4691</a></p>
            </div>
            <div class="sec-buttons">
               <a href="#" class="btn animate-top primary font-14 radius uppercase letter-spacing-3">GET DIRECTIONS</a>
            </div>
         </div>
         <div class="map">
            <div class="thumbnail">
               <div class="cover">
                  <img src="assets/img/obituaries-thumb.png" alt="nile">
               </div>
            </div>
         </div>
      </div>
      <!-- Location ends  -->
      <!-- Location start  -->
      <div class="sec-location box default location-grid-3">
         <div class="info">
            <div class="sec-paragraph title big heading-font-family dark bold mb-12">
               <p>DOWNTOWN SUFFOLK</p>
            </div>
            <div class="sec-paragraph dark mb-16">
               <p>509 W. Washington St. <br>Suffolk, VA 23434</p>
            </div>
            <div class="sec-paragraph anchor-primary mb-24 dark">
               <p><a href="#">(757) 539-4691</a></p>
            </div>
            <div class="sec-buttons">
               <a href="#" class="btn animate-top primary radius font-14 uppercase letter-spacing-3">GET DIRECTIONS</a>
            </div>
         </div>
         <div class="map">
            <div class="thumbnail">
               <div class="cover">
                  <img src="assets/img/obituaries-thumb.png" alt="nile">
               </div>
            </div>
         </div>
      </div>
      <!-- Location ends  -->
      <!-- Location start  -->
      <div class="sec-location box default location-grid-3">
         <div class="info">
            <div class="sec-paragraph title big heading-font-family dark bold mb-12">
               <p>DOWNTOWN SUFFOLK</p>
            </div>
            <div class="sec-paragraph dark mb-16">
               <p>509 W. Washington St. <br>Suffolk, VA 23434</p>
            </div>
            <div class="sec-paragraph anchor-primary mb-24 dark">
               <p><a href="#">(757) 539-4691</a></p>
            </div>
            <div class="sec-buttons">
               <a href="#" class="btn animate-top primary radius font-14 uppercase letter-spacing-3">GET DIRECTIONS</a>
            </div>
         </div>
         <div class="map">
            <div class="thumbnail">
               <div class="cover">
                  <img src="assets/img/obituaries-thumb.png" alt="nile">
               </div>
            </div>
         </div>
      </div>
      <!-- Location ends  -->
      <!-- Location start  -->
      <div class="sec-location box default location-grid-3">
         <div class="info">
            <div class="sec-paragraph title big heading-font-family dark bold mb-12">
               <p>DOWNTOWN SUFFOLK</p>
            </div>
            <div class="sec-paragraph dark mb-16">
               <p>509 W. Washington St. <br>Suffolk, VA 23434</p>
            </div>
            <div class="sec-paragraph anchor-primary mb-24 dark">
               <p><a href="#">(757) 539-4691</a></p>
            </div>
            <div class="sec-buttons">
               <a href="#" class="btn animate-top primary radius font-14 uppercase letter-spacing-3">GET DIRECTIONS</a>
            </div>
         </div>
         <div class="map">
            <div class="thumbnail">
               <div class="cover">
                  <img src="assets/img/obituaries-thumb.png" alt="nile">
               </div>
            </div>
         </div>
      </div>
      <!-- Location ends  -->


   </div>

   </div>
</section>