

<section class="sec-location-wrapper">
   <div class="container">


<!-- Title start  -->
   <div class="sec-title bold text-center mb-102">
       <h4>Our Location</h4>
   </div>
<!-- Title ends  -->

<!-- Location start  -->
<div class="sec-location">
    <div class="info info pr-50">
        <div class="sec-paragraph big-xx dark bold mb-50">
           <p>Sonzini Mortuary</p>
        </div>
        <div class="sec-paragraph dark bold mb-32">
           <p>1190 Wilson Hall Road, Sumter, <br> South Carolina 29150</p>
        </div>
        <div class="sec-paragraph dark bold mb-32">
            <p>(123) 456-7891</p>
         </div>
         <div class="sec-paragraph dark bold mb-32">
            <p>info@sonzinimortuary.com</p>
         </div>
        <div class="sec-links">
          <a href="#" class="link bold font-14">GET DIRECTIONS</a>
       </div>
     </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.4825101129286!2d-80.4032365844816!3d33.954435630324824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88ff688294aba647%3A0xa1718663069c281e!2s1190%20Wilson%20Hall%20Rd%2C%20Sumter%2C%20SC%2029150%2C%20USA!5e0!3m2!1sen!2sae!4v1620149061459!5m2!1sen!2sae" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
<!-- Location ends  -->

   </div>
</section>