

<section class="sec-location-wrapper has-img has-bg-repeat default">

   <!-- <div class="bg-image">
      <img src="assets/img/hero_banner_inner.png" alt="bg image">
  </div> -->

   <div class="container-xl">

<!-- Title start  -->
   <div class="sec-title bold text-center mb-84">
       <h4>Our Location</h4>
   </div>
<!-- Title ends  -->

<div class="sec-location-grid">

   <!-- Location start  -->
<div class="sec-location box default location-grid-3">
   <div class="info">
       <div class="sec-paragraph title big-xx dark bold mb-12">
          <p>Sonzini Mortuary</p>
       </div>
       <div class="sec-paragraph dark mb-16">
          <p>1190 Wilson Hall Road, Sumter, <br> South Carolina 29150</p>
       </div>
       <div class="sec-paragraph dark">
           <p>(123) 456-7891</p>
        </div>
        <div class="sec-paragraph dark mb-30">
           <p>info@sonzinimortuary.com</p>
        </div>
       <div class="sec-links">
         <a href="#" class="link font-14 uppercase letter-spacing-3">GET DIRECTIONS</a>
      </div>
    </div>
   <div class="map">
      <div class="thumbnail">
         <div class="cover">
            <img src="assets/img/obituaries-thumb.png" alt="nile">
         </div>
      </div>
   </div>
</div>
<!-- Location ends  -->

  <!-- Location start  -->
  <div class="sec-location box default location-grid-3">
   <div class="info">
       <div class="sec-paragraph title big-xx dark bold mb-12">
          <p>Sonzini Mortuary</p>
       </div>
       <div class="sec-paragraph dark mb-16">
          <p>1190 Wilson Hall Road, Sumter, <br> South Carolina 29150</p>
       </div>
       <div class="sec-paragraph dark">
           <p>(123) 456-7891</p>
        </div>
        <div class="sec-paragraph dark mb-30">
           <p>info@sonzinimortuary.com</p>
        </div>
       <div class="sec-links">
         <a href="#" class="link font-14 uppercase letter-spacing-3">GET DIRECTIONS</a>
      </div>
    </div>
   <div class="map">
      <div class="thumbnail">
         <div class="cover">
            <img src="assets/img/obituaries-thumb.png" alt="nile">
         </div>
      </div>
   </div>
</div>
<!-- Location ends  -->

  <!-- Location start  -->
  <div class="sec-location box default location-grid-3">
   <div class="info">
       <div class="sec-paragraph title big-xx dark bold mb-12">
          <p>Sonzini Mortuary</p>
       </div>
       <div class="sec-paragraph dark mb-16">
          <p>1190 Wilson Hall Road, Sumter, <br> South Carolina 29150</p>
       </div>
       <div class="sec-paragraph dark">
           <p>(123) 456-7891</p>
        </div>
        <div class="sec-paragraph dark mb-30">
           <p>info@sonzinimortuary.com</p>
        </div>
       <div class="sec-links">
         <a href="#" class="link font-14 uppercase letter-spacing-3">GET DIRECTIONS</a>
      </div>
    </div>
   <div class="map">
      <div class="thumbnail">
         <div class="cover">
            <img src="assets/img/obituaries-thumb.png" alt="nile">
         </div>
      </div>
   </div>
</div>
<!-- Location ends  -->


  <!-- Location start  -->
  <div class="sec-location box default location-grid-3">
   <div class="info">
       <div class="sec-paragraph title big-xx dark bold mb-12">
          <p>Sonzini Mortuary</p>
       </div>
       <div class="sec-paragraph dark mb-16">
          <p>1190 Wilson Hall Road, Sumter, <br> South Carolina 29150</p>
       </div>
       <div class="sec-paragraph dark">
           <p>(123) 456-7891</p>
        </div>
        <div class="sec-paragraph dark mb-30">
           <p>info@sonzinimortuary.com</p>
        </div>
       <div class="sec-links">
         <a href="#" class="link font-14 uppercase letter-spacing-3">GET DIRECTIONS</a>
      </div>
    </div>
   <div class="map">
      <div class="thumbnail">
         <div class="cover">
            <img src="assets/img/obituaries-thumb.png" alt="nile">
         </div>
      </div>
   </div>
</div>
<!-- Location ends  -->

</div>

   </div>
</section>