<section class="sec-location-full secondary section-location-full-1">
    <div class="two-col">
        <div class="left">
            <div class="img">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/ourlocation.jpg" alt="location">
                    </picture>
                </div>
            </div>
        </div>
        <div class="right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.1388059300803!2d-82.9958111843286!3d38.73757686395343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88468c8022473ccb%3A0x242453fa0232315d!2s915%209th%20St%2C%20Portsmouth%2C%20OH%2045662%2C%20USA!5e0!3m2!1sen!2sae!4v1617981912021!5m2!1sen!2sae" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="small-heading letter-spacing-3 big light mb-12">
                <p>Our Location</p>
            </div>
            <div class="sec-title light bold mb-24">
                <h3>ABC Mortuary Co</h3>
            </div>
            <div class="sec-paragraph light">
                <p>Telephone: (740) 353-4146</p>
            </div>
            <div class="sec-paragraph light">
                <p> 915 9th Street</p>
            </div>
            <div class="sec-paragraph light mb-24">
                <p>Portsmouth, OH 456623</p>
            </div>
            <div class="sec-buttons">
                <a href="#" class="btn default-outline-light animate-top uppercase">get directions</a>
            </div>
 
        </div>
    </div>
 </section>