<div class="slider-wrapper">
    <div class="slider-bg">
        <div class="cover">
            <img class="cover" src="assets/img/slider_bg.png" alt="slider banner" />
        </div>
    </div>
    

    
    <div class="container">
        <section class="search-input-field"> 
            <div class="input-group">
                <a href="#" class="input-group-addon">
                    <img src="assets/img/search_icon.png">
                </a>
                <input class="form-control" id="searchInput" type="text" placeholder="Search Obituaries">
            </div>
        </section>
    </div>
    <div class="container pr-0">
        <div class="row mr-0 ml-0">
            <div class="col-12 col-lg-3">
                <div class="content">
                    <div class="title">
                        <h3>Current Obituaries</h3>
                    </div>
                    <div class="btn-wrapper">
                        <a href="obituaries.html" class="btn btn-primary auto">view all</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 pr-0">
                <div class="slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="obituary-tiles">
                                    <div class="tile">
                                        <div class="thumbnail">
                                            <div class="cover">
                                                <img class="cover" src="assets/img/nellie.png" alt="nellie">
                                            </div>
                                        </div>
                                        <div class="name">
                                            Nellie Vereene
                                        </div>
                                        <div class="date">
                                            March 29, 2021
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="obituary-tiles">
                                      <div class="tile">
                                          <div class="thumbnail">
                                              <div class="cover">
                                                  <img class="cover" src="assets/img/nathan.png" alt="nathan">
                                              </div>
                                          </div>
                                          <div class="name">
                                            Nathan Smith
                                          </div>
                                          <div class="date">
                                            March 26, 2021
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="obituary-tiles">
                                      <div class="tile">
                                          <div class="thumbnail">
                                              <div class="cover">
                                                  <img class="cover" src="assets/img/retha.png" alt="retha">
                                              </div>
                                          </div>
                                          <div class="name">
                                            Retha Sturdivant
                                          </div>
                                          <div class="date">
                                            March 21, 2021
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="obituary-tiles">
                                      <div class="tile">
                                          <div class="thumbnail">
                                              <div class="cover">
                                                  <img class="cover" src="assets/img/tanya.png" alt="tanya">
                                              </div>
                                          </div>
                                          <div class="name">
                                            Tanya Lewis
                                          </div>
                                          <div class="date">
                                            March 13, 2021
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="obituary-tiles">
                                      <div class="tile">
                                          <div class="thumbnail">
                                              <div class="cover">
                                                  <img class="cover" src="assets/img/lamont.png" alt="nellie">
                                              </div>
                                          </div>
                                          <div class="name">
                                            Lamont Johnson
                                          </div>
                                          <div class="date">
                                            February 28, 2021
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="obituary-tiles">
                                      <div class="tile">
                                          <div class="thumbnail">
                                              <div class="cover">
                                                  <img class="cover" src="assets/img/retha.png" alt="retha">
                                              </div>
                                          </div>
                                          <div class="name">
                                            Retha Sturdivant
                                          </div>
                                          <div class="date">
                                            March 21, 2021
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="obituary-tiles">
                                      <div class="tile">
                                          <div class="thumbnail">
                                              <div class="cover">
                                                  <img class="cover" src="assets/img/tanya.png" alt="tanya">
                                              </div>
                                          </div>
                                          <div class="name">
                                            Tanya Lewis
                                          </div>
                                          <div class="date">
                                            March 13, 2021
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              
                        </div>
                      </div>

                      <!-- Add Arrows -->
                      <div class="controls">
                        <div class="swiper-button-prev">
                            <span>prev</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="51.988" height="22.714" viewBox="0 0 51.988 22.714"><defs><style>.a{fill:#131c52;}</style></defs><path class="a" d="M54.988,15.464H10.25l6.776-6.8L14.357,6,3,17.357,14.357,28.714l2.669-2.669-6.776-6.8H54.988Z" transform="translate(-3 -6)"/></svg>
                        </div>
                        <div class="swiper-button-next">
                            <span>next</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="51.988" height="22.714" viewBox="0 0 51.988 22.714"><defs><style>.a{fill:#131c52;}</style></defs><path class="a" d="M3,15.464H47.738l-6.776-6.8L43.631,6,54.988,17.357,43.631,28.714l-2.669-2.669,6.776-6.8H3Z" transform="translate(-3 -6)"/></svg>
                        </div>
                        
                      </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="subscribe-link">
                    <div class="paragraph mb-0 text-center">
                        <p>For email updates when new obituaries are posted Subscribe
                        <div class="link-wrapper">
                            <a href="subscribe.html" class="btn-link underline">Subscribe</a>    
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
