<div class="sec-media-text img-round media-text-4">
        
    <div class="media-text">
        <div class="thumbnail">
            <img src="assets/img/urn-at-home.jpg" alt="Funeral Service">
        </div>
        <div class="info">
            <div class="sec-title bold mb-24">
                <h5>Keeping an Urn at Home</h5>
            </div>
            <div class="sec-paragraph dark">
                <p>A DVD video is a wonderful way to share your loved one’s life with others. It can be personalized with your special photos and music. These videos become keepsakes that you can share with your family for generations.
                </p>
            </div>
        </div>
    </div>

    
    <div class="media-text">
        <div class="thumbnail">
            <img src="assets/img/urn-at-home.jpg" alt="Funeral Service">
        </div>
        <div class="info">
            <div class="sec-title bold mb-24">
                <h5>Keeping an Urn at Home</h5>
            </div>
            <div class="sec-paragraph dark">
                <p>A DVD video is a wonderful way to share your loved one’s life with others. It can be personalized with your special photos and music. These videos become keepsakes that you can share with your family for generations.
                </p>
            </div>
        </div>
    </div>

    <div class="media-text">
        <div class="thumbnail">
            <img src="assets/img/urn-at-home.jpg" alt="Funeral Service">
        </div>
        <div class="info">
            <div class="sec-title bold mb-24">
                <h5>Keeping an Urn at Home</h5>
            </div>
            <div class="sec-paragraph dark">
                <p>A DVD video is a wonderful way to share your loved one’s life with others. It can be personalized with your special photos and music. These videos become keepsakes that you can share with your family for generations.
                </p>
            </div>
        </div>
    </div>



    <div class="media-text">
        <div class="thumbnail">
            <img src="assets/img/urn-at-home.jpg" alt="Funeral Service">
        </div>
        <div class="info">
            <div class="sec-title bold mb-24">
                <h5>Keeping an Urn at Home</h5>
            </div>
            <div class="sec-paragraph dark">
                <p>A DVD video is a wonderful way to share your loved one’s life with others. It can be personalized with your special photos and music. These videos become keepsakes that you can share with your family for generations.
                </p>
            </div>
        </div>
    </div>

</div>



