
<!-- mega menu expanded view on click -->
<div class="menu-expanded-view primary">
    <div class="container">
        <div class="view-wrapper">
            <div class="view">
                <div class="small-heading bold light">
                    <p>About Us</p>
                </div>
                <ul>
                    <li><a href="#">About us sub menu</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">About us sub menu</a></li>
                    <li><a href="#">Our Staff</a></li>
                    <li><a href="#">About us sub menu</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Plan Ahead</p>
                </div>
                <ul>
                    <li><a href="#">Plan Ahead</a></li>
                    <li><a href="#">Plan Ahead</a></li>
                    <li><a href="#">Plan Ahead</a></li>
                    <li><a href="#">Plan Ahead</a></li>
                    <li><a href="#">Plan Ahead</a></li>
                    <li><a href="#">Plan Ahead</a></li>
                    <li><a href="#">Plan Ahead</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Services</p>
                </div>
                <ul>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Our Services</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Grief Support</p>
                </div>
                <ul>
                    <li><a href="#">Grief Support</a></li>
                    <li><a href="#">Grief Support</a></li>
                    <li><a href="#">Grief Support</a></li>
                    <li><a href="#">Grief Support</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Resources</p>
                </div>
                <ul>
                    <li><a href="#">Frequent Questions</a></li>
                    <li><a href="#">Frequent Questions</a></li>
                    <li><a href="#">Frequent Questions</a></li>
                    <li><a href="#">Frequent Questions</a></li>
                    <li><a href="#">Frequent Questions</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>