<section class="menu-section-desktop fixed primary  with-dropdown default default-dropdown  menu-desktop-2">
    <div class="container-xl">
        <div class="menu-wrap">
            
            <div class="logo-wrapp">
                <a href="index.html">
                    <img src="assets/img/Logo-White.png" alt="logo" />
                </a>
            </div> 
            <div class="nav-links">
                <div class="main-nav-links">
                    <ul>
                        <li>
                            <a href="tel:4357096800">(435) 709-6800</a>
                        </li>
                        <li>
                            <a href="#">Obituaries</a>
                        </li>
                        <li>
                            <a href="#">Send Flowers</a>
                        </li>
                        <li>
                            <div class="mega-menu">
                                <a href="#">
                                    <div class="mega-hamburger" >
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>                                                 
                </div>
            </div>

        </div>
        
    </div>
</section>

