<section class="menu-section-desktop innder-desktop with-dropdown secondary  default-dropdown main-link-bg-hover">
    <div class="container">
        <div class="menu-wrap">
            
            <div class="nav-links">
                <div class="main-nav-links">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="obituaries.html">Obituaries</a>
                        </li>
                        <li class="expandable">
                            <a href="#">
                                About Us
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="who-we-are.html">About Us</a></li>
                                <li><a href="our-history.html">Our History</a></li>
                                <li><a href="why-choose-us.html">Why Choose Us</a></li>
                                <li><a href="our-facilities.html">Our Facilities</a></li>
                                <li><a href="our-staff.html">Our Staff</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>       
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="expandable">
                            <a href="services.html">Services
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="services-overview.html">Services Overview</a></li>
                                <li><a href="traditional-services.html">Traditional Servicse</a></li>
                                <li><a href="cremation-services.html">Cremation Services</a></li>
                                <li><a href="personalization.html">Personalization</a></li>
                                <li><a href="veterans-services.html">Veteran Servicse</a></li>
                                <li><a href="general-price-list.html">General-Price List</a></li>
                            </ul>
                        </li>
                        <li >
                            <a href="plan-ahead.html">Plan Ahead</a>
                        </li>
                        <li class="expandable"> 
                            <a href="the-grieving-process.html">
                                Grief Support
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="the-grieving-process.html">The Grieving Process</a></li>
                                <li><a href="grief-resources.html">Grief Resources</a></li>
                                <li><a href="children-grief.html">Children & Grief</a></li>
                            </ul>
                        </li>
                        <li class="expandable">
                            <a href="#">
                                Resources
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="frequent-questions.html">Frequent Questions</a></li>
                                <li><a href="social-security-benefits.html">social security benefits</a></li>
                                <li><a href="funeral-etiquette.html">funeral etiquette</a></li>
                                <li><a href="when-death-occurs.html">when a death occurs</a></li>
                                <li><a href="talk-of-a-lifetime.html">Talk of a Lifetime</a></li>
                               

                            </ul>
                        </li>
                    </ul>                                                 
                </div>
            </div>
        </div>
        
    </div>
</section>


<section class="mobile-menu secondary">
    <div class="logo-wrapp">
        <a href="index.html">
            <img src="assets/img/sonzini_logo.png" alt="logo" />
        </a>
    </div>
    <div class="hamburger" >
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <div class="menu-wrapper">
        <div class="dismiss">
            <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" class="replaced-svg">
                <g id="eLife-Flows---Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g id="dd_eLifeConfig-1.0.7" transform="translate(-1297.000000, -629.000000)" stroke="#242424">
                        <g id="verifyEligibility" transform="translate(0.000000, 576.000000)">
                            <g id="title" transform="translate(609.000000, 40.000000)">
                                <g id="closeIcon" transform="translate(675.000000, 0.000000)">
                                    <g id="Close-icon-Icon/Outline-1pt/close/close_black" transform="translate(12.000000, 12.000000)">
                                        <line x1="22.5" y1="1.5" x2="1.5" y2="22.5" id="Line"></line>
                                        <line x1="22.5" y1="22.5" x2="1.5" y2="1.5" id="Line"></line>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="expandable">
                <a class="mobile" href="#">ABOUT US </a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        Back
                    </a>
                    <ul>
                                <li><a href="who-we-are.html">About Us</a></li>
                                <li><a href="our-history.html">Our History</a></li>
                                <li><a href="why-choose-us.html">Why Choose Us</a></li>
                                <li><a href="our-facilities.html">Our Facilities</a></li>
                                <li><a href="our-staff.html">Our Staff</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>       
                                <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="obituaries.html">OBITUARIES</a>
            </li>
            <li class="expandable">
                <a class="mobile" href="#">SERVICES</a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                                <li><a href="services-overview.html">Services Overview</a></li>
                                <li><a href="traditional-services.html">Traditional Servicse</a></li>
                                <li><a href="cremation-services.html">Cremation Services</a></li>
                                <li><a href="personalization.html">Personalization</a></li>
                                <li><a href="veterans-services.html">Veteran Servicse</a></li>
                                <li><a href="general-price-list.html">General-Price List</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="mobile" href="plan-ahead.html">PLAN AHEAd </a>
                <!-- <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                        <li> <a href="plan-ahead.html"> Plan Ahead </a> </li>
                        <li> <a href="talk-of-lifetime.html"> Talk of Lifetime </a> </li>
                        <li> <a href="preplanning-checklist.html"> preplanning checklist </a> </li>
                    </ul>
                </div> -->
            </li>
            <li class="expandable highlight">
                <a class="mobile" href="#"> GRIEF SUPPORT</a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                                <li><a href="the-grieving-process.html">The Grieving Process</a></li>
                                <li><a href="grief-resources.html">Grief Resources</a></li>
                                <li><a href="children-grief.html">Children & Grief</a></li>
                    </ul>
                </div>
            </li>
            <li class="expandable">
                <a class="mobile" href="#"> RESOURCES</a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                        <li><a href="frequent-questions.html">Frequent Questions</a></li>
                                <li><a href="social-security-benefits.html">social security benefits</a></li>
                                <li><a href="funeral-etiquette.html">funeral etiquette</a></li>
                                <li><a href="when-death-occurs.html">when a death occurs</a></li>
                                <li><a href="talk-of-a-lifetime.html">Talk of a Lifetime</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>