
<!-- mega menu expanded view on click -->
<div class="menu-expanded-view primary">
    <div class="container">
        <div class="view-wrapper">
            <div class="view">
                <div class="small-heading bold light">
                    <p>About Us</p>
                </div>
                <ul>
                    <li><a href="our-staff.html">Our Staff</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="our-location">Our Location</a></li>
                    <li><a href="contact-us">Contact Us</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Services</p>
                </div>
                <ul>
                    <li><a href="services-overview.html">Services Overview</a></li>
                    <li><a href="traditional-services.html">Traditional Services</a></li>
                    <li><a href="cremation-services.html">Cremation Services</a></li>
                    <li><a href="personalization.html">Personalization</a></li>
                    <li><a href="veteran-services">Veterans Services</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Plan Ahead</p>
                </div>
                <ul>
                    <li><a href="plan-ahead.html">Plan Ahead</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Grief Support</p>
                </div>
                <ul>
                    <li><a href="the-grieving-process.html">The Grief Process</a></li>
                    <li><a href="grief-resources.html">Grief Resources</a></li>
                    <li><a href="children-grief.html">Children & Grief</a></li>
                </ul>
            </div>

            <div class="view">
                <div class="small-heading bold light">
                    <p>Resources</p>
                </div>
                <ul>
                    <li><a href="frequent-questions.html">Frequent Questions</a></li>
                    <li><a href="social-security-benefits.html">Social Security Benefits</a></li>
                    <li><a href="funeral-etiquette.html">Funeral Etiquette</a></li>
                    <li><a href="when-death-occurs.html">When Death Occurs</a></li>
                    <li><a href="pre-planning-checklist.html">Pre-Planning Checklist</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>