<section class="menu-section-desktop   with-dropdown default default-dropdown  menu-desktop-2">
    <div class="container">
        <div class="menu-wrap">
            
            <div class="logo-wrapp">
                <a href="index.html">
                    <img src="assets/img/sonzini_logo.png" alt="logo" />
                </a>
            </div> 
            <div class="nav-links">
                <div class="main-nav-links">
                    <ul>
                        <li>
                            <a href="obituaries.html">Obituaries</a>
                        </li>
                        <li class="expandable">
                            <a href="#">
                                About
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="who-we-are.html">About Us</a></li>
                                <li><a href="our-history.html">Our History</a></li>
                                <li><a href="why-choose-us.html">Why Choose Us</a></li>
                                <li><a href="our-facilities.html">Our Facilities</a></li>
                                <li><a href="our-staff.html">Our Staff</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>       
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="expandable">
                            <a href="services.html">Services
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="services-overview.html">Services Overview</a></li>
                                <li><a href="traditional-services.html">Traditional Servicse</a></li>
                                <li><a href="cremation-services.html">Cremation Services</a></li>
                                <li><a href="personalization.html">Personalization</a></li>
                                <li><a href="veterans-services.html">Veteran Servicse</a></li>
                                <li><a href="general-price-list.html">General-Price List</a></li>
                            </ul>
                        </li>
                        <li >
                            <a href="plan-ahead.html">Plan Ahead</a>
                        </li>
                        
                        <li class="expandable"> 
                            <a href="the-grieving-process.html">
                                Grief Support
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="the-grieving-process.html">The Grieving Process</a></li>
                                <li><a href="grief-resources.html">Grief Resources</a></li>
                                <li><a href="children-grief.html">Children & Grief</a></li>
                            </ul>
                        </li>
                        <li class="expandable">
                            <a href="#">
                                Resources
                                <span>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                        <g><polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/></g>
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li><a href="frequent-questions.html">Frequent Questions</a></li>
                                <li><a href="social-security-benefits.html">social security benefits</a></li>
                                <li><a href="funeral-etiquette.html">funeral etiquette</a></li>
                                <li><a href="when-death-occurs.html">when a death occurs</a></li>
                                <li><a href="talk-of-a-lifetime.html">Talk of a Lifetime</a></li>
                               

                            </ul>
                        </li>
                    </ul>                                                 
                </div>
            </div>

        </div>
        
    </div>
</section>