<section class="menu-section-desktop with-dropdown">
    <div class="container">
        <div class="menu-wrap">
            <div class="logo-wrapp">
                <a href="index.html">
                    <img src="assets/img/Harris-logo_vertical_white.svg" alt="logo" />
                </a>
            </div> 
            <div class="nav-links">
                <div class="main-nav-links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="obituaries.html">Obituaries</a></li>
                        <li class="arrow">
                            <a href="#">About</a>
                            <ul class="dropdown">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-history.html">Our History</a></li>
                                <li><a href="our-facilities.html">Our Facilities</a></li>
                                <li><a href="our-staff.html">Our Staff</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li><a href="why-choose-us.html">Why Choose Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="arrow"> 
                            <a href="#">Services</a>
                            <ul class="dropdown">
                                <li><a href="services-overview.html">Services Overview</a></li>
                                <li><a href="traditional-services.html">Traditional Services</a></li>
                                <li><a href="cremation-services.html">Cremation Services</a></li>
                                <li><a href="personalization.html">Personalization</a></li>
                                <li><a href="veteran-services.html">Veteran Services</a></li>
                            </ul>
                        </li>
                        <li class="arrow">
                            <a href="#">Plan Ahead</a>
                            <ul class="dropdown">
                                <li><a href="plan-ahead.html">Plan Ahead</a></li>
                                <li><a href="preplanning-faq.html">Preplanning FAQ</a></li>
                                <li><a href="Talk-of-a-lifetime.html">Talk of A Lifetime</a></li>
                            </ul>
                        </li>
                        <li><a href="merchandise.html">Merchandise</a></li>
                        <li class="arrow"> 
                            <a href="#">Grief Support</a>
                            <ul class="dropdown">
                                <li><a href="the-grieving-process.html">The Grieving Process</a></li>
                                <li><a href="grief-resources.html">Grief Resources</a></li>
                                <li><a href="children-grief.html">Children & Grief</a></li>
                            </ul>
                        </li>
                        <li class="arrow">
                            <a href="#">Resources</a>
                            <ul class="dropdown">
                                <li><a href="frequent-questions.html">Frequent Questions</a></li>
                                <li><a href="social-security-benefits.html">social security benefits</a></li>
                                <li><a href="funeral-etiquette.html">funeral etiquette</a></li>
                                <li><a href="when-a-death-occurs.html">when a death occurs</a></li>
                                <li><a href="funeral-financing.html">funeral financing</a></li>
                                <li><a href="general-price-list.html">general price list</a></li>

                            </ul>
                        </li>
                    </ul>                                                 
                </div>
            </div>
        </div>
        
    </div>
</section>


<section class="mobile-menu">
    
    <div class="hamburger" >
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <div class="menu-wrapper">
        <div class="dismiss">
            <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" class="replaced-svg">
                <g id="eLife-Flows---Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g id="dd_eLifeConfig-1.0.7" transform="translate(-1297.000000, -629.000000)" stroke="#242424">
                        <g id="verifyEligibility" transform="translate(0.000000, 576.000000)">
                            <g id="title" transform="translate(609.000000, 40.000000)">
                                <g id="closeIcon" transform="translate(675.000000, 0.000000)">
                                    <g id="Close-icon-Icon/Outline-1pt/close/close_black" transform="translate(12.000000, 12.000000)">
                                        <line x1="22.5" y1="1.5" x2="1.5" y2="22.5" id="Line"></line>
                                        <line x1="22.5" y1="22.5" x2="1.5" y2="1.5" id="Line"></line>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="obituaries.html">Obituaries</a></li>
            <li class="expandable">
                <a class="mobile" href="#">ABOUT US </a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        Back
                    </a>
                    <ul>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="our-history.html">Our History</a></li>
                        <li><a href="our-facilities.html">Our Facilities</a></li>
                        <li><a href="our-staff.html">Our Staff</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="why-choose-us.html">Why Choose Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </li>
            <li class="expandable">
                <a class="mobile" href="#">SERVICES</a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                        <li><a href="services-overview.html">Services Overview</a></li>
                        <li><a href="traditional-services.html">Traditional Services</a></li>
                        <li><a href="cremation-services.html">Cremation Services</a></li>
                        <li><a href="personalization.html">Personalization</a></li>
                        <li><a href="veteran-services.html">Veteran Services</a></li>
                    </ul>
                </div>
            </li>
            <li class="expandable">
                <a class="mobile" href="plan-ahead.html">PLAN AHEAd </a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                        <li><a href="plan-ahead.html">Plan Ahead</a></li>
                        <li><a href="preplanning-faq.html">Preplanning FAQ</a></li>
                        <li><a href="Talk-of-a-lifetime.html">Talk of A Lifetime</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="merchandise.html">Merchandise</a>
            <li class="expandable highlight">
                <a class="mobile" href="#"> GRIEF SUPPORT</a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                        <li><a href="the-grieving-process.html">The Grieving Process</a></li>
                        <li><a href="grief-resources.html">Grief Resources</a></li>
                        <li><a href="children-grief.html">Children & Grief</a></li>
                    </ul>
                </div>
            </li>
            <li class="expandable">
                <a class="mobile" href="#"> RESOURCES</a>
                <div class="sub-menu">
                    <a class="back-to-menu" href="#">
                        back
                    </a>
                    <ul>
                        <li><a href="frequent-questions.html">Frequent Questions</a></li>
                        <li><a href="social-security-benefits.html">social security benefits</a></li>
                        <li><a href="funeral-etiquette.html">funeral etiquette</a></li>
                        <li><a href="when-a-death-occurs.html">when a death occurs</a></li>
                        <li><a href="funeral-financing.html">funeral financing</a></li>
                        <li><a href="general-price-list.html">general price list</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="sendflowers.html">Send Flowers</a></li>
        </ul>
    </div>
</section>








