<div class="container">
   <div class="row">
      <!-- left side of the page  -->
      <div class="col-12 col-lg-9">
          
         {{> obituaries-home-search-v-2}}

           <!-- spacer start -->
           <div class="spacer transparent white-48"></div>
           <!-- spacer ends -->

           <section class="sec-obituaries">
              <div class="obituaries-tile separator mb-40">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/obituaries-thumb.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title bold mb-10">
                        <h5>Donald Snively</h5>
                     </div>
                     <div class="sec-paragraph dark mb-16">
                        <p>Mar 24, 2021 </p>
                     </div>
                     <div class="sec-paragraph mb-20">
                        <p>Donald W. Snively, 84 years old, passed away peacefully at SOMC Hospice on Wednesday, March 24, 2021. Don was born on September 13, 1936, in Portsmouth to John and Ida…</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link bold">View Obituary</a>
                        <a href="#" class="link bold">Send Flowers</a>
                     </div>
                  </div>
               </div>
               <div class="obituaries-tile separator mb-40">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/obituaries-thumb.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title bold mb-10">
                        <h5>Donald Snively</h5>
                     </div>
                     <div class="sec-paragraph small mb-16">
                        <p>Mar 24, 2021 </p>
                     </div>
                     <div class="sec-paragraph mb-20">
                        <p>Donald W. Snively, 84 years old, passed away peacefully at SOMC Hospice on Wednesday, March 24, 2021. Don was born on September 13, 1936, in Portsmouth to John and Ida…</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link bold">View Obituary</a>
                        <a href="#" class="link bold">Send Flowers</a>
                     </div>
                  </div>
               </div>
               <div class="obituaries-tile mb-40">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/obituaries-thumb.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title bold mb-16">
                        <h5>Donald Snively</h5>
                     </div>
                     <div class="sec-paragraph dark mb-16">
                        <p>Mar 24, 2021 </p>
                     </div>
                     <div class="sec-paragraph mb-20">
                        <p>Donald W. Snively, 84 years old, passed away peacefully at SOMC Hospice on Wednesday, March 24, 2021. Don was born on September 13, 1936, in Portsmouth to John and Ida…</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link bold">View Obituary</a>
                        <a href="#" class="link bold">Send Flowers</a>
                     </div>
                  </div>
               </div>
           </section>
           


      </div>

      <!-- right side of the page -->
      
      <div class="col-12 col-lg-3">
         {{>subscribe-box-var-1-with-image}}
      </div>
  </div>
</div>
