<div class="container-xl">
   

   {{> obituaries-search-v-7}}
   
   <div class="obituaries-grid-wrapper grid-var-2">
      <div class="obituaries-tile var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile  var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile  var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile  var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-5">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>

   </div>
   <!-- subscribe -->
   <div class="sec-subscribe mt-42">
      <div class="sec-links pr-2">
         <a href="#" class="link bold">Subscribe</a> 
      </div>
      <div class="sec-paragraph">
         <p>for email updates when new obituaries are posted</p>
      </div>
   </div>
</div>