<div class="sec-obituaries">
   <div class="container-fluid p-0">
      <!-- module start obituaries-home-search-3  -->
  <section class="ob-search obituaries-home-search-3 mb-48 animate__animated animate__fadeInDown">
     <div class="sec-title bold">
        <h4>Current Obituaries</h4>
     </div>
     <!-- Search Block Horizontal -->
     <div class="sec-search-filters round medium">
        <div class="input-group">
           <button class="input-group-addon">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.51" viewBox="0 0 22.51 22.51">
                 <path d="M19.088,17.157H18.071l-.36-.347a8.378,8.378,0,1,0-.9.9l.347.36v1.017l6.435,6.422,1.918-1.918Zm-7.722,0a5.792,5.792,0,1,1,5.792-5.792A5.784,5.784,0,0,1,11.366,17.157Z" transform="translate(-3 -3)"></path>
              </svg>
           </button>
           <input class="form-control" id="searchInput" type="text" placeholder="Search Obituaries">
        </div>
     </div>
     <div class="sec-links">
        <a href="#" class="link bold uppercase">VIEW ALL</a>
     </div>
  </section>
  
  
  </div>
<div class="container-fluid p-0">
  
   
   <div class="obituaries-grid-wrapper obituaries-grid-home-5 animate__animated animate__fadeInDown">
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>

      <div class="obituaries-tile var-7">
         <a href="#">
            <div class="thumbnail">
               <div class="cover">
                  <img  src="assets/img/obituaries-img.png" alt="nile" />
               </div>
            </div>
            <div class="info">
               <div class="sec-title light mb-6 bold">
                  <h6>Donald Snively</h6>
               </div>
               <div class="sec-paragraph light medium">
                  <p>Mar 24, 2021 </p>
               </div>
            </div>
         </a>
      </div>
   </div>

   <!-- subscribe -->
   <div class="sec-subscribe subscribe-4 default">
      <div class="sec-links pr-2">
         <a href="#" class="link default-underline animate-top bold">Subscribe</a> 
      </div>
      <div class="sec-paragraph">
         <p>for email updates when new obituaries are posted</p>
      </div>
   </div>
</div>
</div>