<div class="container">
    <!-- module starto bituaries-home-search-1  -->
 <section class="ob-search obituaries-home-search-1 mb-48">
   <div class="sec-title bold">
      <h4>Current Obituaries</h4>
   </div>
   <!-- Search Block Horizontal -->
   <div class="sec-search-filters active round medium">
      <div class="input-group">
         <button class="input-group-addon">
            <svg xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.51" viewBox="0 0 22.51 22.51">
               <path d="M19.088,17.157H18.071l-.36-.347a8.378,8.378,0,1,0-.9.9l.347.36v1.017l6.435,6.422,1.918-1.918Zm-7.722,0a5.792,5.792,0,1,1,5.792-5.792A5.784,5.784,0,0,1,11.366,17.157Z" transform="translate(-3 -3)"></path>
            </svg>
         </button>
         <input class="form-control" id="searchInput" type="text" placeholder="Search Obituaries">
      </div>
   </div>
   <div class="sec-buttons">
      <a href="#" class="btn round font-14 uppercase">VIEW ALL</a>
   </div>
</section>
</div>