<div class="container">
   <div class="row">
      <!-- left side of the page  -->

      <div class="col-12 col-lg-4">
        <!-- for side bar navigation  -->
      </div>
      

      <!-- right side of the page -->
      <div class="col-12 col-lg-8">
 
            <section class="sec-our-staff our-staff-5">
               <div class="our-staff-tile">
                   <div class="thumbnail">
                      <div class="cover">
                         <img src="assets/img/our-staff.png" alt="nile">
                      </div>
                   </div>
                   <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
                </div>

                <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h6>John Philip Doe</h6>
                     </div>
                     <div class="sec-paragraph dark mb-12">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-links">
                        <a href="#" class="link">Read more</a>
                     </div>
                  </div>
               </div>
              
            </section>
            
 
 
       </div>
      
  </div>
</div>
