<div class="container">
   <div class="row">
      <!-- left side of the page  -->

      <div class="col-12 col-lg-4">
        <!-- for side bar navigation  -->
      </div>
      

      <!-- right side of the page -->
      <div class="col-12 col-lg-8">
 
            <section class="sec-our-staff our-staff-6">
               <div class="our-staff-tile">
                   <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
                </div>

                <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>

               <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>

               <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>

               <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>

               <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>

               <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>

               <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>

               <div class="our-staff-tile">
                  <a href="#">
                     <div class="thumbnail">
                        <div class="cover">
                           <img src="assets/img/our-staff.png" alt="nile">
                        </div>
                     </div>
                     <div class="info">
                       <div class="sec-title bold">
                          <h6>John Philip Doe</h6>
                       </div>
                       <div class="sec-paragraph small">
                          <p>Funeral Director</p>
                       </div>
                    </div>
                   </a>
               </div>
              
            </section>
            
 
 
       </div>
      
  </div>
</div>
