<div class="container">
   <div class="row">
      <!-- left side of the page  -->

      <div class="col-12 col-lg-4">
        <!-- for side bar navigation  -->
      </div>
      

      <!-- right side of the page -->
      <div class="col-12 col-lg-8">
 
            <section class="sec-our-staff our-staff-3">
               <div class="our-staff-tile">
                   <div class="thumbnail">
                      <div class="cover">
                         <img src="assets/img/our-staff.png" alt="nile">
                      </div>
                   </div>
                   <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h5>John Philip Doe</h5>
                     </div>
                     <div class="sec-paragraph medium dark mb-24">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
                </div>

                <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h5>John Philip Doe</h5>
                     </div>
                     <div class="sec-paragraph medium dark mb-24">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h5>John Philip Doe</h5>
                     </div>
                     <div class="sec-paragraph medium dark mb-24">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h5>John Philip Doe</h5>
                     </div>
                     <div class="sec-paragraph medium dark mb-24">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h5>John Philip Doe</h5>
                     </div>
                     <div class="sec-paragraph medium dark mb-24">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-title black bold mb-10">
                        <h5>John Philip Doe</h5>
                     </div>
                     <div class="sec-paragraph medium dark mb-24">
                        <p>Funeral Director</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
               </div>
              
            </section>
            
 
 
       </div>
      
  </div>
</div>
