<div class="container">
   <div class="row">
      <!-- left side of the page  -->

      <div class="col-12 col-lg-4">
        <!-- for side bar navigation  -->
      </div>
      

      <!-- right side of the page -->
      <div class="col-12 col-lg-8">
 
            <section class="sec-our-staff our-staff-1">
               <div class="our-staff-tile">
                   <div class="thumbnail">
                      <div class="cover">
                         <img src="assets/img/our-staff.png" alt="nile">
                      </div>
                   </div>
                   <div class="info">
                      <div class="sec-paragraph title font-32 black heading-font-family bold mb-10">
                         <p>John Philip Doe</p>
                      </div>
                      <div class="sec-paragraph medium bold black mb-24">
                         <p>March 20, 2021</p>
                      </div>
                      <div class="sec-paragraph medium dark mb-20">
                         <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>
                      </div>
                      <div class="sec-buttons">
                         <a href="#" class="btn small default-outline round">Learn more</a>
                      </div>
                   </div>
                </div>

                <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-paragraph title font-32 black heading-font-family bold mb-10">
                        <p>John Philip Doe</p>
                     </div>
                     <div class="sec-paragraph medium bold black mb-24">
                        <p>March 20, 2021</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
               </div>

               <div class="our-staff-tile">
                  <div class="thumbnail">
                     <div class="cover">
                        <img src="assets/img/our-staff.png" alt="nile">
                     </div>
                  </div>
                  <div class="info">
                     <div class="sec-paragraph title font-32 black heading-font-family bold mb-10">
                        <p>John Philip Doe</p>
                     </div>
                     <div class="sec-paragraph medium bold black mb-24">
                        <p>March 20, 2021</p>
                     </div>
                     <div class="sec-paragraph medium dark mb-20">
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>
                     </div>
                     <div class="sec-buttons">
                        <a href="#" class="btn small default-outline round">Learn more</a>
                     </div>
                  </div>
               </div>
              
            </section>
            
 
 
       </div>
      
  </div>
</div>
