
 <!-- pageination start  -->
 <section class="sec-pagination white-default">
    <ul class="pagination desktop mt-32">
        <li class="page-item disabled previous">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
            </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item next">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>

    <ul class="pagination mobile mt-32">
        <li class="page-item disabled previous">
            <a class="page-link" href="#" tabindex="-1">&#60;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
            </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item dots">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item next">
            <a class="page-link" href="#">&#62;</a>
        </li>
    </ul>
</section>
<!-- pageination ends  -->