<section class="subscribe-box secondary subscribe-box-4">
    <div class="subscribe-content">
        <div class="sec-title light bold mb-10">
            <h4>Subscribe</h4>
        </div>
        <div class="sec-paragraph light mb-24">
            <p>Subscribe to get alerts when new obituaries are posted</p>
        </div>

        <form>
            <div class="sec-search-filters light mb-16">
                <div class="input-group">
                   <input class="form-control" id="email" type="text" placeholder="Email">
                </div>
             </div>
             <div class="sec-buttons">
                <a href="#" class="btn full default-outline-light animate-top bold"> Subscribe</a>
             </div>
        </form>
    </div>
</section>