<div class="sec-testimonial-inner light-bg testimonial-inner-3">
    <div class="testimonial-inner ">
        <div class="sec-paragraph medium italic black mb-40">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
        </div>
        <div class="sec-paragraph title small black bold uppercase letter-spacing-1 mb-20">
            <p>RODRIGUEZ family</p>
        </div>
        <div class="stars">
            <img src="assets/img/star.png" alt="star" />
        </div>
    </div>
</div>
