<div class="sec-title mb-16 with-action">
    <h4>Testimonials</h4>
    <div class="sec-buttons">
        <a href="#" class="btn round" data-toggle="modal" data-target="#testimonialsModal">Add your testimonial</a>
    </div>
</div>

<div class="sec-paragraph dark mb-32">
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
</div>


<div class="sec-testimonial-inner border-box testimonial-inner-8">
    
    <div class="testimonial-inner">
        <div class="quote-wrapper">
            <div class="icon">
                <svg width="45.202" height="36.161" viewBox="0 0 45.202 36.161">
                    <path class="a" d="M8.355,27.721V45.8H26.435V27.721H17.4s0-9.04,9.04-9.04V9.64S8.355,9.64,8.355,27.721Zm45.2-9.04V9.64s-18.081,0-18.081,18.081V45.8H53.556V27.721h-9.04S44.516,18.68,53.556,18.68Z" transform="translate(-8.355 -9.64)"/></svg>
            </div>
            <div class="sec-paragraph big italic dark mb-16">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
            </div>
        </div>
        
        <div class="reviewer-wrapper">
            <div class="reviewer">
                <div class="sec-paragraph title medium black bold">
                    <p>John Philip Doe</p>
                </div>
            </div>
        </div>
       
    </div>


    <div class="testimonial-inner">
        <div class="quote-wrapper">
            <div class="icon">
                <svg width="45.202" height="36.161" viewBox="0 0 45.202 36.161">
                    <path class="a" d="M8.355,27.721V45.8H26.435V27.721H17.4s0-9.04,9.04-9.04V9.64S8.355,9.64,8.355,27.721Zm45.2-9.04V9.64s-18.081,0-18.081,18.081V45.8H53.556V27.721h-9.04S44.516,18.68,53.556,18.68Z" transform="translate(-8.355 -9.64)"/></svg>
            </div>
            <div class="sec-paragraph big italic dark mb-16">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
            </div>
        </div>
        
        <div class="reviewer-wrapper">
            <div class="reviewer">
                <div class="sec-paragraph title medium black bold">
                    <p>John Philip Doe</p>
                </div>
            </div>
        </div>
       
    </div>


    <div class="testimonial-inner">
        <div class="quote-wrapper">
            <div class="icon">
                <svg width="45.202" height="36.161" viewBox="0 0 45.202 36.161">
                    <path class="a" d="M8.355,27.721V45.8H26.435V27.721H17.4s0-9.04,9.04-9.04V9.64S8.355,9.64,8.355,27.721Zm45.2-9.04V9.64s-18.081,0-18.081,18.081V45.8H53.556V27.721h-9.04S44.516,18.68,53.556,18.68Z" transform="translate(-8.355 -9.64)"/></svg>
            </div>
            <div class="sec-paragraph big italic dark mb-16">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
            </div>
        </div>
        
        <div class="reviewer-wrapper">
            <div class="reviewer">
                <div class="sec-paragraph title medium black bold">
                    <p>John Philip Doe</p>
                </div>
            </div>
        </div>
       
    </div>

    
    

</div>

