<div class="testimonial-box inner testimonial-inner-1">
    <div class="sec-paragraph medium italic black mb-40">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
    </div>
    
    <div class="stars mb-32">
        <img src="assets/img/star.png" alt="star" />
    </div>

    <div class="reviewer-wrapper">
        <div class="icon">
            <img class="cover" src="assets/img/Google-Reviews-Icon.png" alt="traditional_services">
        </div>
        <div class="reviewer">
            <div class="sec-paragraph black bold uppercase letter-spacing-1">
                <p>RODRIGUEZ family</p>
            </div>
            <div class="sec-paragraph small bold uppercase">
                <p>02/11/2021</p>
            </div>
        </div>
    </div>
</div>