
<div class="has-bg bg-secondary pt-84">
    <div class="container">
        <div class="sec-title bold text-center uppercase mb-32">
            <h4>WHAT OUR FAMILIES ARE SAYING
            </h4>
        </div>
        <div class="sec-testimonial-inner testimonial-inner-1">
            <div class="testimonial-inner">
                <div class="stars mb-16 text-center">
                    <img src="assets/img/star.png" alt="star">
                </div>
                <div class="sec-paragraph medium italic black text-center">
                    <p>R.W. Baker &amp; Company Funeral Home and Crematory is rated 5 out of 5 based on 68 reviews.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="sec-testimonails dark-controls single-tile secondary pt-0 testimonials-3 ">
    <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph italic big black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1">
                            <p>RODRIGUEZ family</p>
                        </div>
                        <div class="sec-paragraph small  mb-20">
                            <p>04/15/2021	</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph italic big black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 ">
                            <p>JAMES</p>
                        </div>
                        <div class="sec-paragraph small mb-20">
                            <p>04/15/2021	</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph italic big black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 ">
                            <p>MISTI</p>
                        </div>
                        <div class="sec-paragraph small mb-20">
                            <p>04/15/2021	</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph big italic black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1">
                            <p>RODRIGUEZ family</p>
                        </div>
                        <div class="sec-paragraph small mb-20">
                            <p>04/15/2021	</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph big italic black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1">
                            <p>JAMES</p>
                        </div>
                        <div class="sec-paragraph small mb-20">
                            <p>04/15/2021	</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph big italic black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1">
                            <p>MISTI</p>
                        </div>
                        <div class="sec-paragraph small mb-20">
                            <p>04/15/2021	</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>
            </div>

            

        </div>

        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</section>