<section class="sec-testimonails default testimonials-1">
    <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph medium black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 mb-20">
                            <p>RODRIGUEZ family</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph medium black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 mb-20">
                            <p>JAMES</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph medium black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 mb-20">
                            <p>MISTI</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph medium black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 mb-20">
                            <p>RODRIGUEZ family</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph medium black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 mb-20">
                            <p>JAMES</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <div class="sec-paragraph medium black mb-40">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        </div>
                        <div class="sec-paragraph small black bold uppercase letter-spacing-1 mb-20">
                            <p>MISTI</p>
                        </div>
                        <div class="stars">
                            <img src="assets/img/star.png" alt="star" />
                        </div>
                    </div>
                </div>
            </div>

             

        </div>

        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</section>