<div class="sec-title mb-16 with-action">
    <h4>Testimonials</h4>
    <div class="sec-buttons">
        <a href="#" class="btn round" data-toggle="modal" data-target="#testimonialsModal">Add your testimonial</a>
    </div>
</div>

<div class="sec-paragraph dark mb-32">
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
</div>


<div class="sec-testimonial-inner box testimonial-inner-5">
    
    <div class="testimonial-inner">
        <div class="reviewer-wrapper mb-16">
            <div class="reviewer">
                <div class="sec-paragraph title medium black bold uppercase letter-spacing-1">
                    <p>John Philip Doe</p>
                </div>
                <div class="sec-paragraph small">
                    <p>Happy Customer</p>
                </div>
            </div>
        </div>
    
        <div class="sec-paragraph big italic black">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
        </div>
       
    </div>

    <div class="testimonial-inner">
        <div class="reviewer-wrapper mb-16">
            <div class="reviewer">
                <div class="sec-paragraph title medium black bold uppercase letter-spacing-1">
                    <p>John Philip Doe</p>
                </div>
                <div class="sec-paragraph small">
                    <p>Happy Customer</p>
                </div>
            </div>
        </div>
    
        <div class="sec-paragraph big italic black">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
        </div>
       
    </div>
    

    <div class="testimonial-inner">
        <div class="reviewer-wrapper mb-16">
            <div class="reviewer">
                <div class="sec-paragraph title medium black bold uppercase letter-spacing-1">
                    <p>John Philip Doe</p>
                </div>
                <div class="sec-paragraph small">
                    <p>Happy Customer</p>
                </div>
            </div>
        </div>
    
        <div class="sec-paragraph big italic black">
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
        </div>
       
    </div>

</div>

