<div class="testimonial-modal testimonial-popup-2">
    <div class="modal fade" id="testimonialsModalTwo" tabindex="-1" aria-labelledby="testimonialsModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" class="replaced-svg">
                    <g id="eLife-Flows---Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g id="dd_eLifeConfig-1.0.7" transform="translate(-1297.000000, -629.000000)" stroke="#242424">
                            <g id="verifyEligibility" transform="translate(0.000000, 576.000000)">
                                <g id="title" transform="translate(609.000000, 40.000000)">
                                    <g id="closeIcon" transform="translate(675.000000, 0.000000)">
                                        <g id="Close-icon-Icon/Outline-1pt/close/close_black" transform="translate(12.000000, 12.000000)">
                                            <line x1="22.5" y1="1.5" x2="1.5" y2="22.5" id="Line"></line>
                                            <line x1="22.5" y1="22.5" x2="1.5" y2="1.5" id="Line"></line>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>

            <div class="modal-body">

                <div class="logo-wrapp m-auto text-center mb-32">
                    <img src="assets/img/sonzini_logo_dark.svg" alt="logo">
                </div>

                <div class="sec-title primary text-center mb-32 bold">
                    <h5>R.W. Baker & Company Funeral Home and Crematory</h5>
                </div>
                <div class="sec-paragraph text-center mb-32">
                    <p>We always try to provide the best experience for all families. We hope you will let us know how we did.</p>
                </div>

                <div class="logo-tiles">
                    <a href="#" class="tile">
                        <div class="logo-wrapp m-auto text-center">
                            <img src="assets/img/sonzini_logo_dark.svg" alt="logo">
                        </div>
                        <div class="divider height-small"></div>
                        <div class="sec-title bold primary text-center m-16">
                            <h5>Downtown Suffolk</h5>
                        </div>
                    </a>
                    <a href="#" class="tile">
                        <div class="logo-wrapp m-auto text-center">
                            <img src="assets/img/sonzini_logo_dark.svg" alt="logo">
                        </div>
                        <div class="divider height-small"></div>
                        <div class="sec-title bold primary text-center m-16">
                            <h5>Downtown Suffolk</h5>
                        </div>
                    </a>
                    <a href="#" class="tile">
                        <div class="logo-wrapp m-auto text-center">
                            <img src="assets/img/sonzini_logo_dark.svg" alt="logo">
                        </div>
                        <div class="divider height-small"></div>
                        <div class="sec-title bold primary text-center m-16">
                            <h5>Downtown Suffolk</h5>
                        </div>
                    </a>
                </div>

                

            
            </div>
        </div>
        </div>
    </div>
</div>