<section class="sec-tile-boxes tileboxes-3">
    <div class="container-xl">
        <div class="two-cols medium-tiles">
            <div class="sec-title black">
                <h1>How can we help you?</h1>
            </div>
            <div class="tiles-boxes-wrapper hover-color  animate-scale animate-backdrop">
                <a href="#" class="tile-box ">
                    <div class="img-box">
                        <div class="cover">
                            <img src="assets/img/our_services.jpg" alt="hero banner" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="sec-paragraph heading-font-family bold font-35 light">
                            <p>Send Flowers</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="tile-box ">
                    <div class="img-box">
                        <div class="cover">
                            <img src="assets/img/our_services.jpg" alt="hero banner" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="sec-paragraph heading-font-family bold font-35 light">
                            <p>Send Flowers</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="tile-box ">
                    <div class="img-box">
                        <div class="cover">
                            <img src="assets/img/our_services.jpg" alt="hero banner" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="sec-paragraph heading-font-family bold font-35 light">
                            <p>Send Flowers</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="tile-box ">
                    <div class="img-box">
                        <div class="cover">
                            <img src="assets/img/our_services.jpg" alt="hero banner" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="sec-paragraph heading-font-family bold font-35 light">
                            <p>Send Flowers</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>