
<section class="sec-tile-boxes has-bg bg-secondary pt-64 pb-64 tileboxes-8">
    <div class="container">

        <div class="sec-title bold text-center uppercase mb-16">
            <h4>HOW WE CAN HELP</h4>
        </div>
        <div class="small-heading text-center bold primary letter-spacing-3 mb-42">
            <p>FOR OVER 130 YEARS WE HAVE HELD OURSELVES TO A HIGH STANDARD.</p>
        </div>


        <div class="tiles-boxes-wrapper text-with-details radius  animate-scale animate-backdrop">
            <div class="tile-box ">
                <a href="#" class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </a> 

                <div class="content">
                    <div class="sec-paragraph bold black big-x mb-32">
                        <p>Our Services</p>
                    </div>
                    <div class="sec-paragraph black mb-32">
                        <p>Individual counseling, local grief support groups, and online websites may help in working through your grief.</p>
                    </div>
                    <div class="sec-buttons">
                        <a href="traditional-services.html" class="btn primary radius font-14  uppercase">View our services</a>
                    </div>
                </div>
                
            </div>
            <div class="tile-box ">
                <a href="planning-ahead.html" class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </a> 

                <div class="content">
                    <div class="sec-paragraph bold black big-x mb-32">
                        <p>Grief Resources</p>
                    </div>
                    <div class="sec-paragraph black mb-32">
                        <p>Individual counseling, local grief support groups, and online websites may help in working through your grief.</p>
                    </div>
                    <div class="sec-buttons">
                        <a href="https://rwbakerfh.efuneral.com/preferences/timing" class="btn font-14 radius primary  uppercase">Make arrangement now</a>
                    </div>
                </div>
                
            </div>
            <div class="tile-box ">
                <a href="#" class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </a> 

                <div class="content">
                    <div class="sec-paragraph bold black big-x mb-32">
                        <p>When Death Occurs</p>
                    </div>
                    <div class="sec-paragraph black mb-32">
                        <p>Individual counseling, local grief support groups, and online websites may help in working through your grief.</p>
                    </div>
                    <div class="sec-buttons">
                        <a href="the-grieving-process.html" class="btn primary font-14 radius letter-spacing-4  uppercase">Learn More</a>
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </div>
</section>