<section class="sec-tile-boxes tileboxes-5">
    <div class="container">
        <div class="tiles-boxes-wrapper  single-tile-big  animate-scale animate-backdrop">
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Send Flowers</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Grief Support</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Preplanning</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>F.A.Q</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<code>with paragraph show and hide on hover</code>
<section class="sec-tile-boxes with-paragraph tileboxes-5">
    <div class="container">
        <div class="tiles-boxes-wrapper  single-tile-big  animate-scale animate-backdrop">
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Send Flowers</p>
                    </div>
                    <div class="sec-paragraph show-hide heading-font-family  big light">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Grief Support</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Preplanning</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>F.A.Q</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>