<section class="tile-box-wrapper">
    <div class="tiles">
        <a href="services.html" class="tile">
            <div class="img">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/our_services.png" alt="our services">
                    </picture>
                </div>
            </div>
            <div class="content">
                <div class="title light">
                    <h4>Our Services</h4>
                </div>
            </div>
        </a>
        <a href="plan-ahead.html" class="tile">
            <div class="img">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/plan_ahead_1.png" alt="plan ahead">
                    </picture>
                </div>
            </div>
            <div class="content">
                <div class="title light">
                    <h4>Plan Ahead</h4>
                </div>
            </div>
        </a>
        <a href="grieving-process.html" class="tile">
            <div class="img">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/grief_support.png" alt="grief support">
                    </picture>
                </div>
            </div>
            <div class="content">
                <div class="title light">
                    <h4>Grief Support</h4>
                </div>
            </div>
        </a>
        <a href="sendflowers.html" class="tile">
            <div class="img">
                <div class="cover">
                    <picture>
                        <img class="cover" src="assets/img/on_site-cemetary.png" alt="on site cemetary">
                    </picture>
                </div>
            </div>
            <div class="content">
                <div class="title light">
                    <h4>Send Flowers</h4>
                </div>
            </div>
        </a>
    </div>
</section>