<section class="sec-tile-boxes">
    <div class="container-xl">
        <div class="tiles-boxes-wrapper text-with-arrow hover-color  animate-scale animate-backdrop">
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph bold black big-xx">
                        <p>Send Flowers</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph bold black big-xx">
                        <p>Grief Support</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph bold black big-xx">
                        <p>Preplanning</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph bold black big-xx">
                        <p>F.A.Q</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>