<section class="sec-tile-boxes tileboxes-6">
    <div class="container-fluid">
        <div class="tiles-boxes-wrapper hover-color-secondary single-tile-big-x  animate-scale animate-backdrop">
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Send Flowers</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Grief Support</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>Preplanning</p>
                    </div>
                </div>
            </a>
            <a href="#" class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div>
                <div class="content">
                    <div class="sec-paragraph heading-font-family bold font-35 light">
                        <p>F.A.Q</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>