
<section class="sec-tile-boxes">
    <div class="container-xl">
        <div class="tiles-boxes-wrapper text-with-details radius  animate-scale animate-backdrop">
            <div class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div> 

                <div class="content">
                    <div class="sec-paragraph bold black big-x mb-32">
                        <p>Our Services</p>
                    </div>
                    <div class="sec-paragraph mb-32">
                        <p>Individual counseling, local grief support groups, and online websites may help in working through your grief.</p>
                    </div>
                    <div class="sec-links">
                        <a href="#" class="link default default-underline bold uppercase">Learn More</a>
                    </div>
                </div>
                
            </div>
            <div class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div> 

                <div class="content">
                    <div class="sec-paragraph bold black big-x mb-32">
                        <p>Grief Resources</p>
                    </div>
                    <div class="sec-paragraph mb-32">
                        <p>Individual counseling, local grief support groups, and online websites may help in working through your grief.</p>
                    </div>
                    <div class="sec-links">
                        <a href="#" class="link default default-underline bold uppercase">Learn More</a>
                    </div>
                </div>
                
            </div>
            <div class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div> 

                <div class="content">
                    <div class="sec-paragraph bold black big-x mb-32">
                        <p>When Death Occurs</p>
                    </div>
                    <div class="sec-paragraph mb-32">
                        <p>Individual counseling, local grief support groups, and online websites may help in working through your grief.</p>
                    </div>
                    <div class="sec-links">
                        <a href="#" class="link default default-underline bold uppercase">Learn More</a>
                    </div>
                </div>
                
            </div>
            <div class="tile-box ">
                <div class="img-box">
                    <div class="cover">
                        <img src="assets/img/our_services.jpg" alt="hero banner" />
                    </div>
                </div> 

                <div class="content">
                    <div class="sec-paragraph bold black big-x mb-32">
                        <p>Preplanning</p>
                    </div>
                    <div class="sec-paragraph mb-32">
                        <p>Individual counseling, local grief support groups, and online websites may help in working through your grief.</p>
                    </div>
                    <div class="sec-links">
                        <a href="#" class="link default default-underline bold uppercase">Learn More</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>