
<section class="welcome-msg two-cols">
    <div class="container">
        <div class="content">
            <div class="small-heading mb-6">
                <p>Here to serve when you need us most</p>
            </div>
            <div class="title mb-0">
                <h3>Harris - Nadeau Mortuary</h3>
            </div>
            <div class="title mb-32">
                <h4>proud to be locally owned and operated</h4>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="banner-img">
                        <div class="cover">
                            <picture>
                                <img class="cover" src="assets/img/welcome_image.jpg" alt="hero banner">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="paragraph text-left">
                        <p>On September 20, 2016, our dream of providing quality funeral service at an affordable price became a reality. Between owners, Steven J. Nadeau and Tommy W. Harris, both licensed funeral directors, we have well over 60 years combined experienced in providing what we feel is the finest that funeral service has to offer. In our short time, we have built a reputation that is distinct to our firm. Respectability, personalization and quality is what we are all about and what we provide each family we are privileged to serve.</p>
                        
                    </div>
                    <div class="btn-wrapper text-left">
                        <a href="our-history.html" class="btn btn-primary auto">Learn More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>