// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.freeze {
    overflow: hidden;
}

.mobile-menu {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    &.active {
        background-color: #000000a8;
        display: flex;
        height: 100%;
        .menu-wrapper {
            display: flex;
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
    .logo-wrapp {
        padding-top: 12px;
    }
}
.menu-wrapper {
    display: none;
}
.sub-menu {
    display: none;
}
.sub-menu {
    padding-top: 84px;
    .back-to-menu {
        position: absolute;
        top: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        background: #F4F5F9;
        height: 40px;
        width: 100%;
        left: 0;
        padding-left: 46px;
        color: #131C52;
        line-height: 19px;
        &:after {
            content: "";
            border: solid #131C52;
            border-width: 0 2px 2px 0;
            padding: 2.5px;
            position: absolute;
            line-height: 1;
            top: 50%;
            left: 30px;
            transition: all .3s ease-in-out;
            transform: translateY(-50%) rotate(135deg);
        }
    }
}
.expandable.active {
    .sub-menu {
        display: flex;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;
    }  
}

.menu-wrapper {
    display: none;
    position: fixed;
    padding-top: 84px;
    background: #fff;
    width: 100%;
    left: 0;
    height: 100%;
    max-width: 100%;
    @media (min-width: 375px) {
        max-width: 275px;
    }
    @media (min-width: 425px) {
        max-width: 320px;
    }
    .dismiss {
        position: absolute;
        top: 0;
        right: 0;
        background: #F4F5F9;
        z-index: 99;
        height: 40px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
        svg, img{
            width: 12px;
            height: 12px;
            g, path {
                stroke: #131C52;
                stroke-width: 2px;
            }
        }
    }
    ul {
        width: 100%;
        li {
            padding-left: 30px;
            padding-right: 26px;
            a {
                position: relative;
                color: green;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                padding: 11px 0;
                display: flex;
                color: #333333;
                font-weight: bold;
                padding-right: 1rem;
                &:hover {
                    text-decoration: none;
                }
            }
            &.expandable {
                > a {
                    &:after {
                        content: "";
                        right: .5rem;
                        border: solid #131C52;
                        border-width: 0 2px 2px 0;
                        padding: 2.75px;
                        position: absolute;
                        line-height: 1;
                        top: 50%;
                        transition: all .3s ease-in-out;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
            &:hover {
                background-color: $primary;
               > a {
                    color: #fff;
                    &:after {
                        border-color: #fff;
                    }
                }
            }
        }
    }
}


// hamburger icons
.hamburger {
    display: block;
    .line {
        width: 24px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 4px auto;
        transition: all .3s ease-in-out;
    }
    &:hover{
        cursor: pointer;
    }
}


// desktop menu start 
.menu-section-desktop {
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 9;
    //padding: 30px 72px;
    padding-bottom: 0; 
    background-color: #fff;
    min-height: 120px;
    display: flex;
    align-items: center;
    padding: 0 80px;
    @media (max-width: 991px) {
        display: none;
    }
    .menu-wrap {
        display: flex;
        align-items: flex-start;
    }

    &.with-dropdown {
        .expandable {
            position: relative;
            span {
                width: 12px;
                height: 12px;
                margin-left: 8px;
            }
        }
        .nav-links ul li {
            position: relative;
            &:hover {
                ul.dropdown {
                    display: flex;
                }
            }
        }
    }
}



ul.dropdown {
    min-width: 200px;
    display: flex;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    flex-direction: column;
    margin: 0;
    list-style: none;
    background: #fff;
    border-radius: 4px;
    display: none;
    border: 1px solid #dddddd;
}
ul.dropdown > li {
    
    a {
        font-size: 15px;
        cursor: pointer;
        font-family: $font-family-base;
        color: #383838;
        font-weight: 400;
        line-height: 1;
        width: 100%;
        position: relative;
        padding: 16px 20px;
        display: flex;
        border-bottom: 1px solid #dddddd;
        &:hover {
            text-decoration: none;
            background-color: #f8f0db;
        }
    }
    &:last-child {
        a {
            border-bottom: none;
        }
    }
}
  

// logo element styling
.logo-wrapp,
.logo-wrapp a,
.logo-wrapp img,
.logo-wrapp svg {
    width: 190px;
    display: block;
    @media (min-width: 1200px) {
        width: 260px;
    }
}

// nav link elements styling
.nav-links {
    display: flex;
    width: 100%;
    .main-nav-links {
        width: 100%;
        > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            > li {
                display: inline-block;
                flex: 1;

                align-items: center;
                justify-content: center;
                display: flex;

                > a {
                    padding: 50px 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: #202020;
                    line-height: 1;
                    letter-spacing: normal;
                    display: flex;
                    position: relative;
                    font-family: $headings-font-family;
                    justify-content: center;
                    &:hover {
                        text-decoration: none;
                        color: $primary;
                    }

                }
                &.show {
                     a {
                        text-decoration: none;
                        color: $primary;
                    }
                    span svg {
                        g, polygon {
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }
}


// fixed menu 
.menu-fixed {
    .mobile-menu {
        background-color: #131c52;
        position: fixed;
        top: 0;
        width: 100%;
        transition: all .3s ease-in-out;
        min-height: 66px;
        .logo-wrapp {
            padding-top: 0;
            img {
                width: 150px;
            }
        }
    }
}





