// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.freeze {
    overflow: hidden;
}

.mobile-menu {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    justify-content: flex-end;
    padding: 24px;
    background: #000;


    &.active {
        background-color: #000000a8;
        display: flex;
        height: 100%;
        .menu-wrapper {
            display: flex;
            top: 0;
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
    .logo-wrapp {
        padding-top: 12px;
    }
}
.menu-wrapper {
    display: none;
}
.sub-menu {
    display: none;
}
.sub-menu {
    padding-top: 84px;
    .back-to-menu {
        position: absolute;
        top: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        background: #F4F5F9;
        height: 40px;
        width: 100%;
        left: 0;
        padding-left: 46px;
        color: #131C52;
        line-height: 19px;
        &:after {
            content: "";
            border: solid #131C52;
            border-width: 0 2px 2px 0;
            padding: 2.5px;
            position: absolute;
            line-height: 1;
            top: 50%;
            left: 30px;
            transition: all .3s ease-in-out;
            transform: translateY(-50%) rotate(135deg);
        }
    }
}
.expandable.active {
    .sub-menu {
        display: flex;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;
    }  
}

.menu-wrapper {
    display: none;
    position: fixed;
    padding-top: 84px;
    background: #fff;
    width: 100%;
    left: 0;
    height: 100%;
    max-width: 100%;
    @media (min-width: 375px) {
        max-width: 275px;
    }
    @media (min-width: 425px) {
        max-width: 320px;
    }
    .dismiss {
        position: absolute;
        top: 0;
        right: 0;
        background: #F4F5F9;
        z-index: 99;
        height: 40px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
        svg, img{
            width: 12px;
            height: 12px;
            g, path {
                stroke: #131C52;
                stroke-width: 2px;
            }
        }
    }
    ul {
        width: 100%;
        li {
            padding-left: 30px;
            padding-right: 26px;
            a {
                position: relative;
                color: green;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                padding: 11px 0;
                display: flex;
                color: #333333;
                font-weight: bold;
                padding-right: 1rem;
                &:hover {
                    text-decoration: none;
                }
            }
            &.expandable {
                > a {
                    &:after {
                        content: "";
                        right: .5rem;
                        border: solid #131C52;
                        border-width: 0 2px 2px 0;
                        padding: 2.75px;
                        position: absolute;
                        line-height: 1;
                        top: 50%;
                        transition: all .3s ease-in-out;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
            // &.highlight {
            //     background-color: $primary;
            //     a {
            //         color: #fff;
            //         &:after {
            //             border-color: #fff;
            //         }
            //     }
            // }
            &:hover {
                background-color: $primary;
               > a {
                    color: #fff;
                    &:after {
                        border-color: #fff;
                    }
                }
            }
        }
    }
}


// hamburger icons
.hamburger {
    display: block;
    .line {
        width: 24px;
        height: 3px;
        background-color: $white;
        display: block;
        margin: 4px auto;
        transition: all .3s ease-in-out;
    }
    &:hover{
        cursor: pointer;
    }

    // &.is-active {
    //     .line:nth-child(2){
    //         opacity: 0;
    //     }
    //     .line:nth-child(1){
    //         -webkit-transform: translateY(7px) rotate(45deg);
    //         -ms-transform: translateY(7px) rotate(45deg);
    //         -o-transform: translateY(7px) rotate(45deg);
    //         transform: translateY(7px) rotate(45deg);
    //       }
    //       .line:nth-child(3){
    //         -webkit-transform: translateY(-7px) rotate(-45deg);
    //         -ms-transform: translateY(-7px) rotate(-45deg);
    //         -o-transform: translateY(-7px) rotate(-45deg);
    //         transform: translateY(-7px) rotate(-45deg);
    //       }
    // }
}


// desktop menu start 
.menu-section-desktop {
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 9;
    padding: 30px 60px;
    padding-bottom: 0; 
    top: -84px;
    @media (max-width: 991px) {
        display: none;
    }
    @media (min-width: 1200px) {
        padding: 30px 100px;
    }
    .menu-wrap {
        display: flex;
        align-items: flex-start;
    }

    &.links-only {
        top: 0;
        .nav-links ul {
            justify-content: flex-start;
        }
        padding: 0;
        .menu-wrap {
            align-items: center;
        }
        .main-nav-links > ul > li > a {
            line-height: 60px;
            padding-right: 24px;

        }
        .arrow {
            position: relative;
            &:after {
                right: 26px;
            }
        }

        .nav-links ul {
            padding: 0 40px;
            li {
                flex: auto;
            }
        }

        .arrow:after {
            right: 30px !important;
            @media (min-width: 1200px) {
                right: 40px !important;
            }
        }

        


    }

    &.with-dropdown {
        background-color: $black;
        padding: 12px 12px;
        @media (min-width: 1520px) {
            padding: 12px 125px;
        }
        .menu-wrap {
            align-items: center;
        }
        .main-nav-links > ul > li > a {
            line-height: 60px;
            padding-right: 12px;

        }
        .arrow {
            position: relative;
            &:after {
                content: '\00354';
                display: block;
                position: absolute;
                font-size: 32px;
                line-height: 1;
                color: #fff;
                /* width: 32px; */
                line-height: 1;
                /* transform: scale(1.5); */
                transform: translateY(0) rotate(-91deg);
                top: 15px;
                right: 20px;
            }
        }
        .nav-links ul li {
            position: relative;
            > a {
                padding-bottom: 0;
                &:after {    
                    display: none;
                }
                &:hover:after { 
                    display: none
                }
            }
            &:hover {
                ul.dropdown {
                    visibility: visible;
                    transform: translate(0, 0);
                    opacity: 1;
                    z-index: 0;
                    left: -50%;
                    &:before {
                        position: absolute;
                        top: -9px;
                        left: 40%;
                        display: inline-block;
                        border-right: 9px solid transparent;
                        border-bottom: 9px solid #ccc;
                        border-left: 9px solid transparent;
                        border-bottom-color: #fff;
                        content: '';
                    }
                  }
                  ul.dropdown > li {
                    animation-duration: 0.3s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: backwards;
                  }
            }
            &:last-child {
                a {
                    padding-right: 18px;
                }
            }
        }
    }
}

// make hover background change for main links
.menu-section-desktop .nav-links .main-nav-links > ul > li:hover {
    background-color: $primary;
}

ul.dropdown {
    min-width: 250px;
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    margin: 0;
    list-style: none;
    color: #333;
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.15), 0px 4px 14px -1px rgba(0, 0, 0, 0.1);
    transform: translate(0, 20px);
    transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
    opacity: 0;
    z-index: -1;
    padding: 20px !important;
    border: 1px solid #7e001f;
}
ul.dropdown > li {
font-size: 14px;
cursor: pointer;
line-height: 1;
padding: 0;
a {
    color: $body-color !important;
    padding: 0  !important;
    padding-bottom: 16px !important;
    border-bottom: 1px solid rgb(235, 235, 235);
    margin-bottom: 16px;
    font-weight: bold !important;
}
}
ul.dropdown > li:hover {
    a {
        color: #7e001f !important;
    }
}
  



















// logo element styling
.logo-wrapp,
.logo-wrapp a,
.logo-wrapp img,
.logo-wrapp svg {
    width: 190px;
    display: block;
    @media (min-width: 1200px) {
        width: 260px;
    }
}




.contact-us {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    @media (min-width: 992px) {
        justify-content: flex-end;
    }
    @media (max-width: 413px) {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .send-flower {
        .btn-wrapper {
            a {
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: auto;
                img, svg {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                }
                
            }
        }  
        &.css-icon {
            a {
                position: relative;
                padding-left: 34px;
                &:after {
                    content: '\02055';
                    display: block;
                    position: absolute;
                    top: 0;
                    font-size: 34px;
                    left: 12px;
                    top: inherit;
                }
            }
        } 
    }
}


// nav link elements styling
.nav-links {
    display: flex;
    justify-content: flex-end;;
    width: 100%;
    flex-direction: column;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        li {
            display: inline-block;
            a {
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: normal;
                color: #ffffff;
                display: flex;
                text-transform: uppercase;
                position: relative;
                padding: 0 6px;
                font-weight: normal;
                letter-spacing: 0.6px;
                &:hover {
                    text-decoration: none;
                }
                @media (min-width: 1200px) {
                    font-size: 15px;
                    padding: 0 18px;
                    padding-bottom: 4px;
                }
            }
            a:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            a:hover:after { 
                width: 100%; 
                left: 0; 
            }

            &:last-child {
                a {
                    padding-right: 0;
                }
            }
        }
    }
}


// fixed menu 
.menu-fixed {
    .menu-section-desktop {
        background: #000;
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        transition: all .3s ease-in-out;
        .logo-wrapp {
            img {
                width: 240px;
            }
        }
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        width: 100%;
        transition: all .3s ease-in-out;
        min-height: 66px;
        box-shadow: 0 6px 5px 0 #0000000d;
        .logo-wrapp {
            padding-top: 0;
            img {
                width: 150px;
            }
        }
    }
    // &.freeze {
    //     .mobile-menu {
    //         background-color: #00000063;
    //     }
    // }
}





